@media screen and (max-width: 1800px)
 //依情況增加，不一定需要//1601-1920，1920以上如未指定需要滿版，以1920寬呈現

@media screen and (max-width: 1600px)
    //=== index首頁 1600 ===
    //== 師資陣容 和 空間設備 1600 ==
    .ind-column-tit
        .tw
            font-size: 50px
        .en
            font-size: 38px
            bottom: -5px
    //== 校友地圖 1600 ==
    .alumni-tit
        font-size: 50px
    .alumni-info-box
        width: 100%
        padding: 30px 50px 30px 70px
        &:before
            width: 35px
            height: 35px
    .alumni-info-cont
        .tit
            font-size: 40px
            margin: 20px 0
    .map-txt
        font-size: 150px
            

    //=== 空間設備 1600 ===
    .equ-list-box
        margin: 0 0 30px
        .num
            font-size: 150px
            top: -17px
    .equ-list-img-box
        width: calc(100% - 200px)

    //=== 校友地圖 - 全站搜尋 1600 ===
    .src-alumni-lg-area
        width: 95%

    .footer-cont
        padding: 0 20px
        
@media screen and (max-width: 1500px)
    .footer-cont
        width: 100%
        padding: 0 30px

@media screen and (max-width: 1400px)
    .ham-btn
        width: 80px
    .header-cont
        width: calc(100% - 80px)
    .logo
        height: 50px
    .logo-img
        width: 200px

    //=== 側邊選單 1400 ===
    .nav-side-area
        width: 700px
        padding-left: 80px
        .ham-btn
            top: 5px
    .nav-side-cont
        padding: 50px
    .nav-side-box
        min-height: auto
    .nav-side-tit-box
        width: 100%
        margin: 0 0 20px

    .side-bread
        width: 80px
        padding-top: 30px
    .side-bread-box
        i
            margin: 10px 0
    .main-cont
        padding: 30px
        width: calc(100% - 80px)

    // .side-bread
    //     padding-top: 30px
    // .side-bread-box
    //     i
    //         margin: 10px 0
    // .main-cont
    //     padding: 30px
    //=== index首頁 1400 ===
    .banner-side
        width: 80px
        .tit
            line-height: 80px
    .banner-side-line
        left: 80px

    //== 師資陣容 和 空間設備 1400 ==
    .ind-column-tit
        padding-bottom: 10px
        margin: 0 0 20px
        .tw
            font-size: 44px
        .en
            font-size: 32px
    .ind-column-sw
        .info
            padding: 20px
        .tit
            font-size: 36px
            margin: 0 0 10px
        .sub
            font-size: 18px
            min-height: 26px
        p
            font-size: 18px
            min-height: 144px
            margin: 10px 0 0
    //== 校友地圖 1400 ==
    .alumni-tit
        font-size: 44px
    .alumni-info-box
        bottom: -30px
    .map-txt
        font-size: 130px
    //== follow us 1400 ==
    .follow-cont
        &:after
            display: none
    .follow-box
        width: 100%
        margin: 0 0 30px
        &:first-child
            border-right: none
    .follow-info
        padding: 20px 20px 30px 20px
    //== 首頁消息 1400 ==
    .ind-news-box
        margin: 0 0 50px
        .date
            margin: 10px 0
        .tit
            font-size: 28px
            min-height: 100px
            margin: 0 0 20px


    //=== 內頁共用 1400 ===
    .page-group
        h2
            font-size: 150px
            top: -52px
    .page-side
        padding: 150px 30px 30px 50px
    .page-cont
        padding: 150px 30px 30px

    //=== 系所公告 列表 1400 ===
    .news-area-tit
        font-size: 50px
        margin: 0 0 20px

    //=== 系所公告 內頁 1400 ===
    .news-cont
        padding: 30px
    .news-tit-cont
        padding-bottom: 0
        .tit
            font-size: 50px
            margin: 0 0 30px
    .news-side
        padding: 30px
        top: 110px
    .news-page-btn
        margin: 0 0 15px
    .news-page-img
        margin: 0 0 15px
    .news-page-tit
        font-size: 26px

    //=== 空間設備 1400 ===
    .equ-list-page-cont
        padding-right: 0
        padding-left: 0
    .equ-list-cont
        width: 400px
        padding: 15px
        .tit
            font-size: 28px
            margin: 0 0 10px
        .txt
            font-size: 18px

    //=== footer 1400 ===
    .footer-link-area
        width: 100%
        margin: 0 0 50px
        justify-content: $sb
    .footer-link-box
        .tit
            font-size: 28px
            margin: 0 0 35px
        a
            font-size: 18px
            margin: 0 0 20px
    .footer-logo-area
        width: 100%
        margin: 0 0 30px
        +flex($sb,$c)
    .footer-link-box
        margin: 0
    .footer-logo
        margin: 0
    .footer-info-box
        font-size: 16px

@media screen and (max-width: 1200px)//涵蓋到平板打橫 1024//1024-1200
    // .ham-btn
    //     width: 80px
    // .header-cont
    //     width: calc(100% - 80px)
    // .logo
    //     height: 50px
    //     img
    //         width: 200px

    // //=== 側邊選單 1200 ===
    // .nav-side-area
    //     width: 700px
    //     padding-left: 80px
    //     .ham-btn
    //         top: 5px
    // .nav-side-cont
    //     padding: 50px
    // .nav-side-box
    //     min-height: auto
    // .nav-side-tit-box
    //     width: 100%
    //     margin: 0 0 20px

    // .side-bread
    //     width: 80px
    //     padding-top: 30px
    // .main-cont
    //     width: calc(100% - 80px)
    //=== 首頁 1200 ===
    .scrolldown-box
        width: 12%
        bottom: 20px
    //== 簡介 ==
    .intro-info-tit
        span
            font-size: 46px
            line-height: 46px
            transform: translateY(7px)
    .intro-info-cont
        margin: 30px 0 0
    .intro-info
        width: 40%
        margin: 0 0 30px
    .intro-info-area
        p
            font-size: 20px
    //== 師資陣容 和 空間設備 1200 ==
    .ind-column-cont
        width: 100%
        margin: 0 0 50px
    .ind-column-sw
        .info
            padding: 15px
        .tit
            font-size: 28px
        .sub
            font-size: 16px
            min-height: 26px
            min-height: auto
        p
            font-size: 16px
            min-height: auto
            padding-left: 10px
    //== 校友地圖 1200 ==
    .alumni-map
        padding-bottom: 10%
    .alumni-info-box
        padding: 20px 30px 20px 60px
        &:before
            width: 20px
            height: 20px
            top: 40px
            left: 40px
    .alumni-info-img
        width: 150px
        height: 150px
    .alumni-info-cont
        width: calc(100% - 180px)
        .tit
            font-size: 30px
        .cont
            font-size: 16px
            // +ctline(2)
    .ind-more-btn
        font-size: 16px
    //== follow us 1200 ==
    .follow-tab
        font-size: 18px
    

    //=== 內頁共用 1200 ===
    .page-group
        h2
            font-size: 100px
            top: -34px
    .page-side
        // width: 30%
        padding: 100px 20px 20px
        h3
            font-size: 40px
    .page-cont
        // width: calc(100% - 30%)
        padding: 100px 20px 20px
    .page-btn
        font-size: 18px
        .icon
            width: 34px
            height: 34px
            line-height: 30px
    
    //=== 系所公告 列表 1200 ===
    .news-img
        width: 250px
        height: 147px
    .news-info-cont
        width: calc(100% - 270px)
    .news-tit
        font-size: 28px
    
    //=== 系所公告 內頁 1200 ===
    .news-cont
        padding: 20px
    .news-tit-cont
        padding-bottom: 0
        .tit
            margin: 0 0 20px
    .news-side
        top: 100px
        padding: 20px
    
    //=== 教師列表 1200 ===
    .teacher-list-box
        width: calc((100% - 40px)/3)
        margin: 0 20px 60px 0
        &:nth-child(4n)
            margin: 0 20px 60px 0
        &:nth-child(3n)
            margin: 0 0 60px

    //=== 教師內頁 1200 ===
    .teacher-info-area
        margin: 0 0 30px
    .teacher-info-tit
        padding: 0 0 10px
        margin: 0 0 15px
        .name
            font-size: 40px
            margin: 0
        .office
            font-size: 28px
    .teacher-info-img
        width: 50%
        margin: 0 0 20px
    .teacher-info-box
        width: 100%

    //=== 資源與下載 列表 1200 ===
    .resource-list-box
        padding: 15px 0
        .tit
            font-size: 28px
            margin: 0 0 10px
        .date
            font-size: 18px
    //= 頁碼 =
    .side-list + .pagination-area
        margin: 0 0 20px
        a
            width: 32px
            height: 32px
            line-height: 28px
            margin: 0 2px

    //=== 資源與下載 內頁 1200 ===
    .resource-tit
        font-size: 40px
        margin: 0 0 20px
    .resource-date
        font-size: 20px
        margin: 0 0 20px

    //=== 空間設備 1200 ===
    .equ-list-page-cont
        padding-right: 0
        padding-left: 0
    .equ-list-box
        .num
            font-size: 100px
            top: -12px
    .equ-list-img-box
        width: calc(100% - 130px)
    .equ-list-cont
        width: 100%
        position: relative
        background: #eee
        .tit
            font-size: 26px
        .txt
            font-size: 18px

    //=== 全站搜尋 1200 ===
    .search-tab-box
        border: none
        margin: 0 0 15px
    .search-tab
        font-size: 20px
        width: 50%
        padding: 15px 10px
    .search-input-box
        margin: 0 0 15px
    .search-key-txt
        margin: 0 0 15px
    //== 公告與活動 - 搜尋結果 1200 ==
    .src-event-box
        padding: 20px 0
    .src-event-img
        width: 100%
        height: auto
        margin: 0 0 15px
    .src-event-cont
        width: 100%
        .tit-box
            .tit
                font-size: 28px
    //== 規章制度與下載 - 搜尋結果 1200 ==
    .src-rule-box
        .tit
            font-size: 28px
    //== 校友地圖 - 搜尋結果 1200 ==
    .src-alumni-box
        padding: 20px 0 20px 20px
        .more-btn
            width: 100%
            margin: 10px 0 0
    .src-alumni-cont
        width: calc(100% - 120px)
        .tit
            font-size: 28px
    .src-alumni-lg-area
        padding: 30px 40px
        &:before
            top: 40px
            left: 40px
    .src-alumni-lg-cont
        width: calc(100% - 230px)
        padding-top: 10px
    .src-alumni-lg-tit
        margin: 0 0 30px
        .name
            font-size: 42px
        .point
            font-size: 32px

    //=== 網站導覽 1200 ===
    .site-map-box
        margin: 0 0 30px
    .site-map-tit
        font-size: 26px
        padding-bottom: 10px
        margin: 0 0 20px

    //=== footer 1200 ===
    footer
        padding: 50px 0 20px
    .footer-link-box
        width: 130px
        .tit
            font-size: 24px
            margin: 0 0 25px
    .footer-logo
        width: 300px
        img
            width: 100%
@media screen and (max-width: 1023px) 
    //涵蓋到平板 768-1023
    //製作時最好是768-1024都能維持一樣，如不行，就是分1023跟1200
    //=== 網站導覽 1023 ===
    .site-map-box
        width: 100%

@media screen and (max-width: 767px)//767以下即涵蓋手機版，以手機版呈現
    .ham-btn
        width: 50px
    .hamburger
        padding: 5px
    .hamburger-box
        width: 30px
        height: 30px
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
        width: 30px
        height: 3px
    .hamburger-inner:before
        top: -10px
    .hamburger-inner:after
        bottom: -10px

    //=== 側邊選單 767 ===
    .nav-side-area
        width: 350px
        padding-left: 50px
    .nav-side-cont
        padding: 20px
        border-left: 6px solid #888
    .nav-side-tit-box
        margin: 0 0 10px 0
    .nav-side-tit-box.line
        &:after
            width: calc(100% - 130px)
    .nav-side-tit-box.line02
        &:after
            width: calc(100% - 230px)
    .nav-side-box
        margin: 0 0 20px
    .nav-side-tit
        font-size: 20px
        padding-right: 10px
        .num
            font-size: 22px
            -webkit-text-stroke: 1px #fff
    .nav-side-sup
        a
            font-size: 16px
            margin: 0 0 10px


    .header-cont
        width: calc(100% - 50px)
        padding: 5px 10px
        border-left: 6px solid #000
    .header-cont-side-w
        border-color: transparent
    .logo
        height: 40px
    .logo-img
        width: 150px
    .logo-img-w
        transform: translate(-10px,-5px)
    .func-area
        .icon
            margin: 0 10px
    
    .side-bread
        width: 50px
        padding-top: 15px
    .side-bread-box
        font-size: 16px
        i
            margin: 5px 0
    .main-cont
        width: calc(100% - 50px)
        border-left: 6px solid #000
        padding: 15px

    //=== index首頁 767 ===
    .banner-video
        height: 0
        padding-bottom: 82%
        iframe
            +position(0,null,null,0,1)
    .banner-side
        width: 50px
        .tit
            line-height: 50px
    .banner-side-line
        width: 6px
        left: 50px
    .banner-side-cont
        .tit
            font-size: 12px
    .banner-side
        .icon
            width: 25px
            margin: 10px auto

    .scrolldown-box
        width: 15%
        bottom: 10px
    //== 簡介 ==
    .intro-area
        justify-content: $c
    .intro-info-area
        width: 100%
        margin: 0 0 20px
        order: 1
    .intro-info-tit
        border-bottom: 5px solid #000
        span
            font-size: 60px
            line-height: 60px
            transform: translateY(10px)
    .intro-letter
        width: 90%
        order: 2
    .intro-info-cont
        margin: 20px 0 0
    .intro-info
        margin: 0 0 20px
    .intro-info-area
        p
            font-size: 16px
    //== 師資陣容 和 空間設備 767 ==
    .ind-column-tit
        border-bottom: 5px solid #333
        .tw
            font-size: 34px
        .en
            font-size: 28px
    .ind-column-sw
        p
            font-size: 14px
    //== 校友地圖 767 ==
    .alumni-tit
        font-size: 34px
    .alumni-map
        padding: 0
    .alumni-info-box
        padding: 10px 20px 10px 30px
        border-radius: 45px 0 0 0
        margin: -50px 0 0 0
        position: relative
        bottom: 0
        left: 0
        transform: translateY(15px)
        &:before
            width: 20px
            height: 20px
            top: 20px
            left: 20px
    .alumni-info-img
        width: 100px
        height: 100px
    .alumni-info-cont
        width: calc(100% - 130px)
        border-top: 6px solid #000
        .tit
            font-size: 26px
            margin: 10px 0
    .ind-more-btn
        font-size: 14px
        padding: 3px 20px
    .map-txt
        font-size: 70px
    //= alumni SW 767 =
    .alumni-sw-area
        justify-content: center
    //== follow us 767 ==
    .follow-tit
        margin: 0 0 30px
    .follow-tab
        font-size: 16px
        width: 90%
    // .follow-name
    //     width: 100%
    //     margin: 0 0 12px
    .follow-box
        margin: 0 0 20px
    .follow-info
        span
            font-size: 16px
            width: 100%
            height: auto
    .follow-yt-box
        width: 100%
        height: 0
        padding-bottom: 55%
    //== 首頁消息 767 ==
    .ind-news-box
        width: 100%
        margin: 0 0 30px
        .date
            font-size: 18px
            margin: 3px 0
        .tit
            font-size: 22px
            min-height: auto
            margin: 0 0 10px
        .cont
            font-size: 16px


    //=== 內頁共用 767 ===
    .page-group
        h2
            font-size: 48px
            line-height: 36px
            position: relative
            color: rgba(196, 196, 196, 0.7)
            background: rgba(255, 255, 255, 0.6)
            top: 0
    .page-side
        width: 100%
        position: relative
        padding: 15px
        h3
            font-size: 36px
    .page-side-nav
        margin: 0 0 10px
    .page-side-nav-area
        margin: 15px 0 0
        a
            font-size: 18px
        .act
            &:after
                width: calc(100% - 90px)
    .circle-txt
        width: 30%
        margin: 0
        opacity: 0.7
        +position(null,0,0,null,0)
    .page-cont
        width: 100%
        padding: 15px
    //== 檔案下載 ==
    .download-area
        .tit
            font-size: 24px
            border-bottom: 5px solid #555
            padding: 0 0 5px
            margin: 0 0 10px
        a
            font-size: 16px
    .edit-area
        .def
            font-size: 16px
            margin: 0 0 15px
        .def-list
            font-size: 16px
            margin: 0 0 15px
        .def + .def-list
            margin: -15px 0 15px
    
    .page-btn
        font-size: 16px
        .icon
            width: 30px
            height: 30px
            line-height: 26px

    //== 頁碼 ==
    .pagination-area
        margin: 0 0 20px
        a
            font-size: 13px
            width: 26px
            height: 26px
            line-height: 22px
            margin: 0 2px
    .page-btn-area
        margin: 15px 0 0

    //=== 系所公告 列表 767 ===
    .news-area-tit
        font-size: 36px
        margin: 0 0 10px
    .news-list
        margin: 0 0 30px
    .news-box
        margin: 0 0 30px
    .news-img
        width: 100%
        height: auto
        // padding-bottom: 60%
        margin: 0 0 15px
    .news-info-cont
        width: 100%
    .news-tit
        font-size: 22px
    .news-txt,.news-date
        font-size: 16px

    //=== 系所公告 內頁 767 ===
    .news-main-area
        width: 100%
        margin: 0 0 20px
        &:last-child
            margin: 0
    .news-cont
        padding: 15px
    .news-tit-cont
        padding-bottom: 0
        margin: 0 0 10px
        .tit
            font-size: 30px
            margin: 0 0 10px
        .date
            font-size: 16px
    .news-side
        width: 100%
        position: relative
        top: 0px
        padding: 15px
        +flex($sb,$flex-s)
    .news-page-btn-area
        width: 48%
        margin: 0
    .news-page-btn
        margin: 0 0 10px
        padding: 0 0 5px
        border-bottom: 5px solid #555
    .news-page-img
        margin: 0 0 10px
    .news-page-tit
        font-size: 20px

    //=== 教師列表 767 ===
    .teacher-list-area
        justify-content: $sb
    .teacher-list-box
        width: 48%
        margin: 0 0 30px
        &:nth-child(4n)
            margin: 0 0 30px
        &:nth-child(3n)
            margin: 0 0 30px
        .name
            font-size: 20px
        .cont
            font-size: 18px

    //=== 教師內頁 767 ===
    .teacher-info-tit
        padding: 0 0 5px
        margin: 0 0 10px
        border-bottom: 5px solid #555
        .name
            font-size: 36px
            margin: 0
        .office
            font-size: 24px
    .teacher-info-img
        width: 60%
        margin: 0 auto 10px
    .teacher-links
        font-size: 16px
        margin: 0 0 15px
        li
            margin: 0 0 10px
    .teacher-class-box
        font-size: 16px
        .tit
            width: 80px
            padding-right: 10px
        .class-list
            width: calc(100% - 80px)

    //=== 資源與下載 列表 767 ===
    .resource-list-box
        padding: 10px 0
        .tit
            font-size: 22px
            margin: 0
        .date
            font-size: 16px
    //= 頁碼 =
    .side-list + .pagination-area
        a
            font-size: 13px
            width: 26px
            height: 26px
            line-height: 24px
            border: 1px solid #000
            margin: 0 1px

    //=== 資源與下載 內頁 767 ===
    .resource-tit
        font-size: 36px
        margin: 0 0 10px
    .resource-date
        font-size: 18px
        margin: 0 0 10px

    //=== 空間設備 767 ===
    .equ-list-page-cont
        padding-right: 0
        padding-left: 0
    .equ-list-box
        margin: 0 0 15px
    .equ-list-cont
        .tit
            font-size: 22px
        .txt
            font-size: 16px
    
    //=== 全站搜尋 767 ===
    .search-tab
        width: 100%
        font-size: 18px
        padding: 10px
    .search-input-box
        border-bottom: 5px solid #000
        padding: 0
    .input-src
        font-size: 20px
    .search-key-txt
        font-size: 18px

    //== 公告與活動 - 搜尋結果 767 ==
    .src-event-list
        margin: 0 0 20px
    .src-event-box
        padding: 15px 0
    .src-event-cont
        .tit-box
            .tit
                font-size: 22px
            .txt
                font-size: 16px
        .date
            font-size: 16px
    //== 規章制度與下載 - 搜尋結果 767 ==
    .src-rule-list
        margin: 0 0 20px
    .src-rule-box
        padding: 15px 0
        .tit
            font-size: 22px
        .date
            font-size: 16px
    //== 校友地圖 - 搜尋結果 767 ==
    .src-alumni-list
        margin: 0 0 20px
    .src-alumni-box
        padding: 15px 0 15px 15px
    .src-alumni-img
        width: 80px
    .src-alumni-cont
        width: calc(100% - 90px)
        .tit
            font-size: 22px
            margin: 0 0 5px
        .txt
            font-size: 16px
    .src-alumni-lg-area
        padding: 20px
        height: 90vh
        max-height: 765px
    .src-alumni-close
        right: 20px
        bottom: 20px
    .src-alumni-lg-img
        width: 150px
        height: 150px
        transform: translateX(70px)
        margin: 0 0 20px
    .src-alumni-lg-cont
        width: 100%
    .src-alumni-lg-tit
        margin: 0 0 10px
        .name
            font-size: 38px
        .point
            font-size: 30px
    .src-alumni-lg-edit
        height: calc(90vh - 350px)
    .mCSB_scrollTools .mCSB_draggerRail
        width: 6px
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
        width: 6px

    //=== 網站導覽 767 ===
    .site-map-area
        padding: 0 10px
    .site-map-tit
        border-bottom: 5px solid #555
        padding-bottom: 5px
        margin: 0 0 10px
    .site-map-link
        font-size: 18px

    //=== footer 767 ===
    .footer-cont
        padding: 0 20px
    .footer-link-box
        width: 50%
        margin: 0 0 25px
        padding: 0 10px
        // box-sizing: border-box
        .tit
            font-size: 20px
            margin: 0 0 15px
        a
            font-size: 16px
            margin: 0 10px
            display: inline-block
    .footer-logo
        width: 250px
    .footer-copyright
        font-size: 14px

@media screen and (max-width: 600px)
    //=== index首頁 600 ===
    //== 簡介 ==
    .intro-info-tit
        span
            font-size: 36px
            line-height: 36px
            transform: translateY(6px)
    // .intro-info-cont
    //     margin: 15px 0 0
    .intro-info
        width: 50%
        // margin: 0 0 15px
    //== 師資陣容 和 空間設備 600 ==
    .ind-column-cont
        margin: 0 0 30px
    .ind-column-btn
        margin: 20px 0 0
        .swiper-button-prev,.swiper-button-next
            width: 30px
            height: 30px
        a
            font-size: 14px
            line-height: 14px
    //== follow us 600 ==
    .follow-name
        width: 100%
        margin: 0 0 12px
    .follow-info
        padding: 10px
    .follow-fb-box
        width: 260px
        height: auto
    .pc-fb
        display: none
    .mb-fb
        display: block


    //=== 空間設備 600 ===
    .equ-list-box
        .num
            font-size: 60px
            top: -8px
    .equ-list-img-box
        width: calc(100% - 80px)

    //== 校友地圖 - 搜尋結果 600 ==
    .src-alumni-lg-tit
        .name
            width: 100% 
    .src-alumni-lg-edit
        height: calc(90vh - 380px)

    //=== footer 600 ===
    .footer-link-box
        width: 100%
        text-align: center
    .footer-info
        width: 100%
        margin: 20px 0 0
@media screen and (max-width: 480px)
    //=== index首頁 480 ===
    //== 師資陣容 和 空間設備 480 ==
    .ind-column-tit
        padding-bottom: 0
        margin: 0 0 10px
        .tw
            width: 100%
            margin: 0 0 5px
        .en
            position: relative
            bottom: 0
            right: 0
            br
                display: none
    .ind-column-sw-cont
        width: 70%
        margin: 0 auto
        //使用slide或無法使用居中
        // .swiper-slide
        //     width: 70%
    //== 校友地圖 480 ==
    .alumni-info-box
        &:before
            width: 15px
            height: 15px
    .alumni-info-img
        width: 80px
        height: 80px
    .alumni-info-cont
        width: calc(100% - 90px)
        .tit
            font-size: 20px
            margin: 10px 0 5px
        .cont
            font-size: 14px
    .map-txt
        font-size: 46px
    //= alumni SW 480 =
    .alumni-sw-cont
        width: 275px
        .swiper-slide
            padding: 2.5px
    .alumni-sw
        .swiper-button-prev
            left: -12px
        .swiper-button-next
            right: -12px

@media screen and (max-width: 414px)
    .logo-img-w
        width: 100px
        padding: 10px
        box-sizing: border-box
    //== 首頁 Index 414 ==
    //== follow us 414 ==
    .follow-tab
        font-size: 14px
        padding: 10px 15px
    .follow-name
        margin: 0 0 10px
    
@media screen and (max-width: 375px)
    .func-area
        .icon
            margin: 0 5px
    