html, body
     height: auto

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
    margin: 0 
    padding: 0
    box-sizing: border-box

table 
    border-collapse: collapse
    border-spacing: 0

fieldset,img
    border: 0
    display: block

address,caption,cite,code,dfn,em,strong,th,var 
    font-style: normal
    font-weight: normal
    
ol,ul
    list-style: none
    list-style-type: none

caption,th
    text-align: left

h1,h2,h3,h4,h5,h6 
    font-size: 100%
    font-weight: normal

q:before,q:after 
    content: ''
abbr,acronym 
    border: 0

//去除a連結虛線
a
    outline: none //* for Firefox */ 
    hlbr: expression(this.onFocus=this.blur())//* for IE */ 
    cursor: pointer
    box-sizing: border-box

a:link,a:visited,a:hover,a:active
    text-decoration: none
//input 邊筐圓角消除
input
    border: none 
    border-radius: 0
    -webkit-appearance: none

//清除input和select的基礎樣式
input,textarea,select
    appearance: none
    -moz-appearance: none
    -webkit-appearance: none
    -o-appearance: none
    -ms-appearance: none
    border: none
    border-radius: 0
    outline: none

select::-ms-expand 
    display: none