@import reset
//全站a ul li h1-h6 img 等基本設定
@import color
//字色 主色系與輔助色 物件色系
@import mixins
//浮動 btn 圓角 ht ct 等設定
@import global
//全域樣式，設定全站樣式統一的地方(文字顏色字型大小和input及按鈕)
@import input_sty
//input 樣式
// 字級換算對照表(思源黑體)
// 13px = font-size: 80%
// 14px = font-size: 86%
// 15px = font-size: 93%
// 16px = font-size: 100%
// 17px = font-size: 105%;
// 18px = font-size: 110%;
// 20px = 125%
// 22px = 138%
// 24px = 150%
// 25px = 157%
// 26px = 163%
// 27px = 169%
// 28px = 175%
// 30px = 188%
// 36px = 225%
// 60px = 375%
// 72px = 450%
.mask
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 11
    background: rgba(#000,0.8)
    display: none
.header-area
    width: 100%
    max-width: 1920px
    margin: 0 auto
    background: rgba(#fff,0.8)
    +flex($flex-s,$c)
    position: sticky
    top: 0
    z-index: 10
.ham-btn
    width: 100px
    text-align: center
.hamburger-box
    width: 50px
    height: 40px
    position: relative
    z-index: 11
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
    width: 50px
    height: 4px
.hamburger-inner:before
    top: -13px
.hamburger-inner:after
    bottom: -13px
.hamburger.is-active
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
        background: #fff
.hamburger.is-w
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
        background: #fff
    
//=== 側邊選單 ===
.nav-side-area
    width: 1100px
    padding-left: 100px
    background: rgba(#000,0.8)
    position: fixed
    top: 0
    left: 0
    z-index: 10
    visibility: hidden
    transition: .3s
    opacity: 0
    .ham-btn
        +position(15px,null,null,0,11)
.nav-side-area.open
    visibility: visible
    opacity: 1
.nav-side-cont
    padding: 80px
    height: 100vh
    border-left: 12px solid #888
    overflow-y: scroll
.nav-side-box
    min-height: 110px
    margin: 0 0 50px
    +flex($flex-s,$flex-s)
    &:last-child
        margin: 0
.nav-side-tit-box
    width: 430px
    margin: 0 30px 0 0
    +flex($sb,$c)
    flex-wrap: nowrap
.nav-side-tit-box.line
    &:after
        content: ''
        display: block
        width: calc(100% - 200px)
        height: 5px
        background: #888
.nav-side-tit-box.line02
    &:after
        content: ''
        display: block
        width: calc(100% - 360px)
        height: 5px
        background: #888
.nav-side-tit
    font-size: 32px
    line-height: 1
    color: #fff
    font-weight: bold
    padding-right: 20px
    +flex($flex-s,$c)
    flex-wrap: nowrap
    .num
        font-size: 34px
        line-height: 1
        margin: 0 10px 0 0
        color: transparent
        -webkit-text-stroke: 2px #fff
.nav-side-sup-box
    +flex($flex-s,$flex-s)
    &:last-child
        margin: 0
.nav-side-sup
    padding-top: 5px
    margin: 0 50px 0 0 
    &:last-child
        margin: 0
    a
        font-size: 22px
        line-height: 1
        color: #ddd
        margin: 0 0 20px
        display: block
        transition: .2s
        &:hover
            color: darken(#ddd,10%)
        &:last-child
            margin: 0

.header-cont
    width: calc(100% - 100px)
    padding: 15px 20px
    border-left: 12px solid #000
    // box-sizing: border-box
    +flex($sb,$c)
.header-cont-side-w
    border-color: transparent
.logo
    height: 70px
    display: inline-block
    +tcursor
    img
        transition: .2s
    &:hover img
        opacity: 0.7
    h1
        line-height: 0
        opacity: 0
        display: none
.logo-img
    width: 250px
    img
        width: 100%
.logo-img-w
    display: none
    padding: 15px
    transform: translate(-20px,-15px)
    background: #fff

.func-area
    +flex($c,$c)
    .icon
        font-weight: 500
        font-size: 22px
        line-height: 1.3
        margin: 0 14px
        +tcursor
        &:hover
            opacity: 0.7

.main-wrap
    width: 100%
    margin: 0 auto
    +flex($flex-s,$flex-s)
.noise-bg
    background: url(../img/page_bg.png)

.side-bread
    padding-top: 60px
    width: 100px
    text-align: center
.side-bread-box
    font-size: 22px
    line-height: 1.2
    display: inline-block
    word-break: break-word
    -webkit-writing-mode: vertical-rl
    writing-mode: vertical-rl
    a
        color: #000
        +tcursor
        &:hover
            opacity: 0.7
    i
        margin: 20px 0
    span
        font-weight: bold
.main-cont
    width: calc(100% - 100px)
    padding: 60px
    border-left: 12px solid #000
    // box-sizing: border-box

//=== index首頁 ===
.banner-video
    height: 100vh
    position: relative
    &:before
        content: ''
        display: block
        width: 100%
        height: 100%
        background: rgba(#000,0.1)
        z-index: 2
        +position(0,null,null,0,2)
    iframe
        width: 100%
        height: 100%
.video-box
    height: 100%
.scrolldown-box
    width: 160px
    +position(null,null,30px,50%,3)
    transform: translateX(-50%)
    img
        width: 100%

.banner-side
    width: 100px
    height: 100%
    +position(0,null,null,0,3)
    +flex($c,$flex-e)
    .tit
        font-size: 16px
        line-height: 100px
        color: #fff
        width: 100%
        font-weight: bold
        letter-spacing: 0.1em
        -webkit-writing-mode: vertical-rl
        writing-mode: vertical-rl
    .icon
        width: 30px
        margin: 20px auto
        display: block
        &:hover
            opacity: 0.9
        img
            width: 100%
.banner-side-line
    width: 12px
    height: 100%
    background: rgba(#fff,0.92)
    +position(0,null,null,100px,3)
//== 簡介 ==
.intro-area
    +flex($sb,$c)
.intro-letter
    width: 40%
    img
        width: 100%
.intro-info-area
    width: 55%
    p
        font-size: 22px
        line-height: 1.4
        letter-spacing: 0.05em
.intro-info-tit
    border-bottom: 10px solid #000
    +flex($flex-e,$c)
    span
        font-weight: bold
        font-size: 70px
        line-height: 70px
        letter-spacing: 0.02em
        // font-family: "Taipei Sans TC Beta"
        color: transparent
        -webkit-text-stroke: 1px #aaa
        position: relative
        display: inline-block
        transform: translateY(11px)
.intro-info-cont
    margin: 80px 0
    +flex($c,$c)
.intro-info
    width: 25%
    padding: 0 10px
    img
        width: 100%
//== 師資陣容 和 空間設備 ==
.ind-column-area
    +flex($sb,$flex-s)
.ind-column-cont
    width: 49%
.ind-column-tit
    +flex($sb,$flex-e)
    line-height: 1
    border-bottom: 10px solid #333
    padding-bottom: 20px
    margin: 0 0 30px
    position: relative
    .tw
        font-weight: bold
        font-size: 62px
        letter-spacing: 0.1em
    .en
        font-weight: bold
        font-size: 55px
        letter-spacing: 0.02em
        color: transparent
        -webkit-text-stroke: 1px #aaa
        +position(null,0,-10px,null,1)
.ind-column-sw-area
    overflow: hidden
.ind-column-sw-cont
    .swiper-slide
        height: auto
        background: #F5F5F5
        opacity: 0.5
        +tcursor
        &:hover
            img
                transform: scale(1.05)
    .swiper-slide-active
        opacity: 1
    .swiper-button-next, .swiper-button-prev
        position: relative
        width: 40px
        height: 40px
        margin-top: 0
        margin: 0 5px
        &:hover
            opacity: 0.8
    .swiper-button-prev
        left: 0
        background: url(../img/sw_left.svg) no-repeat center center/cover
    .swiper-button-next
        right: 0
        background: url(../img/sw_right.svg) no-repeat center center/cover
.ind-column-sw-cont.dark
    .swiper-slide
        background: #333
    .ind-column-sw
        color: #fff
.ind-column-sw
    color: #000
    display: block
    .img-box
        padding-bottom: 100%
        position: relative
        overflow: hidden
        img
            width: 100%
            height: 100%
            +position(0,null,null,0,1)
            object-fit: cover
            transition: .2s
    .info
        padding: 30px
    .tit
        font-weight: bold
        font-size: 42px
        line-height: 1
        margin: 0 0 20px
    .sub
        font-size: 20px
        line-height: 1.4
        min-height: 28px
    p
        font-size: 20px
        line-height: 1.6
        padding-left: 20px
        min-height: 160px
        margin: 20px 0 0
        border-left: 1px solid #555
        +ctline(5)
.ind-column-btn
    margin: 30px 0 0
    +flex($c,$c)
    a
        font-size: 18px
        line-height: 24px
        color: #000
        padding: 6px 10px
        margin: 0 10px
        border: 2px solid #000
        border-radius: 25px
        display: inline-block
        transition: .2s
        &:hover
            opacity: 0.8
//== 校友地圖 ==
.alumni-bg
    background: #f8f8f8
    overflow: hidden
.alumni-tit
    font-size: 62px
    line-height: 1
    letter-spacing: 0.1em
    font-weight: bold
    margin: 0 0 30px
.alumni-map-area
    position: relative
.alumni-map
    position: relative
    img
        width: 100%
.map-txt
    font-weight: bold
    font-size: 180px
    line-height: 1
    color: transparent
    -webkit-text-stroke: 1px #ccc
    +position(50%,null,null,50%,1)
    transform: translate(-50%,-50%)
    white-space: nowrap
.alumni-box
    width: 8%//135px
    position: absolute
    z-index: 2
    transition: .2s
    &:hover
        opacity: 0.8
    img
        width: 100%
    &:after
        content: ''
        display: block
        width: 5%
        padding-bottom: 5%
        border-radius: 50%
        background: #000
        +position(null,null,0.5%,48%,2)
.alumni-img
    border: 1px solid #000
    border-radius: 50%
    overflow: hidden
    position: relative
    z-index: 2
    cursor: pointer
.alumni-line
    margin-top: -40%
.alumni-info-box
    width: 1400px
    padding: 60px 90px
    border-radius: 90px 0 0 0
    +flex($sb,$c)
    +position(null,null,-60px,50%,2)
    transform: translateX(-50%)
    background: rgba(#fdfdfd,0.8)
    &:before
        content: ''
        display: block
        width: 40px
        height: 40px
        border-radius: 50%
        background: #000
        +position(50px,null,null,50px,2)
.alumni-info-img
    width: 200px
    height: 200px
    border: 1px solid #000
    border-radius: 50%
    overflow: hidden
    img
        width: 100%
        height: 100%
        object-fit: cover
.alumni-info-cont
    width: calc(100% - 260px)
    border-top: 12px solid #000
    .tit
        font-size: 46px
        line-height: 1
        font-weight: bold
        letter-spacing: 0.05em
        margin: 30px 0
    .cont
        font-size: 20px
        line-height: 1.6
        letter-spacing: 0.05em
        margin: 0 0 10px
        +ctline(3)
.ind-more-btn-box
    text-align: right
.ind-more-btn
    font-size: 18px
    line-height: 1.3
    color: #000
    padding: 6px 25px
    border: 1px solid #000
    border-radius: 50px
    display: inline-block
    +tcursor
    &:hover
        color: #fff
        background: #000
.alumni01
    top: 9%
    left: 6.5%
.alumni02
    top: -1%
    left: 21.5%
.alumni03
    top: -1%
    left: 45%
.alumni04
    top: 12%
    left: 63.5%
.alumni05
    top: 17%
    left: 79%

//= alumni SW =
.alumni-sw-area
    +flex($flex-e,$c)
.alumni-sw
    width: 350px
    margin: 0 0 30px
    // margin: 0 auto 30px
    +flex($c,$c)
    position: relative
    .swiper-button-prev,.swiper-button-next
        font-size: 30px
        width: 25px
        margin-top: 0
        height: auto
        top: 50%
        transform: translateY(-50%)
        text-align: center
        background: none
    .swiper-button-prev
        left: 0
    .swiper-button-next
        right: 0
.alumni-sw-cont
    width: 300px
    overflow: hidden
    position: relative
    .swiper-slide
        padding: 5px
    .alumni-sw-img
        width: 50px
        height: 50px
        border-radius: 50%
        overflow: hidden
    .alumni-sw-img.isTw
        border: 2px solid #2ec39b
    .alumni-tab
        font-size: 10px
        color: #fff
        padding: 2px 5px
        border-radius: 10px
        background: #2ec39b//#feb947
        +position(0px,-7px,null,null,1)
    img
        width: 100%
        height: 100%
        object-fit: cover

//== follow us ==
.follow-bg
    background: #eee
.follow-tit
    font-weight: bold
    font-size: 32px
    line-height: 1
    letter-spacing: 0.1em
    text-align: center
    margin: 0 0 60px
.follow-cont
    +flex($sb,$flex-s)
    &:after
        content: ''
        display: block
        width: 100%
        height: 60px
        background: #151515
.follow-box
    width: 50%
    &:first-child
        border-right: 2px solid #555
.follow-tab
    font-size: 22px
    width: 565px
    padding: 12px 20px
    margin: 0 auto
    border-radius: 20px 20px 0 0
    background: #fff
    +flex($sb,$c)
.follow-name
    +flex($flex-s,$c)
    .icon
        width: 30px
        margin-right: 5px
        img
            width: 100%
    span
        font-weight: bold
        line-height: 1.8
        letter-spacing: 0.1em
.follow-tag
    line-height: 1
    letter-spacing: 0.05em
    color: #555
.follow-info
    padding: 20px 20px 0 20px
    background: #151515
    span
        font-size: 20px
        line-height: 1.6
        height: 32px
        letter-spacing: 0.05em
        color: #fff
        width: 560px
        margin: 0 auto 10px
        display: block
.follow-fb-box
    width: 475px
    height: 320px
    margin: 0 auto
.mb-fb
    display: none
.follow-yt-box
    width: 560px
    height: 320px
    margin: 0 auto
    position: relative
    iframe
        width: 100%
        height: 100%
        +position(0,null,null,0,2)
//== 首頁消息 ==
.ind-news-area
    +flex($sb,$flex-s)
.ind-news-box
    width: 47%
    display: block
    margin: 0 0 100px
    transition: .2s
    &:hover
        opacity: 0.8
    .img-box
        width: 100%
        padding-bottom: 50%
        position: relative
        img
            width: 100%
            height: 100%
            object-fit: cover
            +position(0,null,null,0,2)
    .date
        font-size: 22px
        line-height: 1.8
        letter-spacing: 0.1em
        color: #888
        font-weight: bold
        margin: 20px 0
    .tit
        font-size: 32px
        line-height: 1.2
        letter-spacing: 0.1em
        color: #000
        font-weight: bold
        margin: 0 0 35px
        min-height: 115px
        +ctline(3)
    .cont
        font-size: 20px
        line-height: 1.6
        letter-spacing: 0.05em
        color: #000
        +ctline(4)





//=== 內頁共用 ===
.page-group
    +flexs($flex-s,$str)
    position: relative
    h2
        font-size: 200px
        color: rgba(196, 196, 196, 0.15)
        font-weight: bold
        width: 100%
        +position(-69px,null,null,0px,0)
        font-family: Taipei Sans TC Beta
.page-side
    width: 35%//640
    padding: 250px 20px 20px 60px
    background: rgba(#fff,0.6)
    // box-sizing: border-box
    h3
        font-weight: bold
        font-size: 62px
        line-height: 1.2
        letter-spacing: 0.1em
.page-side-nav-area
    margin: 30px 0 0
    .act
        +flex($sb,$c)
        flex-wrap: inherit
        a
            font-weight: bold
        &:after
            content: ''
            display: block
            width: calc(100% - 110px)
            height: 5px
            background: #888
    .item01.act
        &:after
            width: calc(100% - 60px)
    .item02.act
        &:after
            width: calc(100% - 170px)
.page-side-nav
    margin: 0 0 20px
    a
        color: #000
        font-size: 22px
        line-height: 1.2
        padding-right: 15px
        transition: .2s
        &:hover
            font-weight: bold
    &:last-child
        margin: 0
.circle-txt
    margin: 100px 0 0
    img
        width: 100%
.page-cont
    width: calc(100% - 35%)
    padding: 250px 60px 60px 60px
    background: #fff
    // box-sizing: border-box
.page-btn-area
    margin: 30px 0 0
    +flex($sb,$c)
.page-btn
    font-size: 20px
    line-height: 1.6
    color: #000
    +tcursor
    +flex($flex-s,$c)
    .icon
        width: 40px
        height: 40px
        line-height: 36px
        text-align: center
        border: 2px solid #000
        border-radius: 50%
        margin: 0 8px 0 0
        +tcursor
        // box-sizing: border-box
    &:hover
        .icon
            background: #000
            color: #fff
        span
            font-weight: bold
//== 檔案下載 ==
.download-area
    margin: 20px 0 0
    .tit
        font-size: 32px
        font-weight: bold
        padding: 0 0 10px
        margin: 0 0 20px
        border-bottom: 10px solid #555
    a
        font-size: 20px
        line-height: 1.6
        color: #000
        margin: 0 0 10px
        display: inline-block
        border-bottom: 1px solid #000
        +tcursor
        &:hover
            opacity: 0.7
        &:after
            content: ''
            width: 18px
            height: 18px
            margin: 0 0 0 7px
            display: inline-block
            background: url(../img/icon_download.png) no-repeat center center
//== 編輯器 ==
.edit-area
    p
        display: block
        margin-block-start: 1em
        margin-block-end: 1em
        margin-inline-start: 0px
        margin-inline-end: 0px
    strong
        font-weight: bold
    em
        font-style: italic
    h1
        font-size: 2em
        margin-block-start: 0.67em
        margin-block-end: 0.67em
    h2
        font-size: 1.5em
        margin-block-start: 0.83em
        margin-block-end: 0.83em
    h3
        font-size: 1.17em
        margin-block-start: 1em
        margin-block-end: 1em
    h4
        margin-block-start: 1.33em
        margin-block-end: 1.33em
    h5
        font-size: 0.83em
        margin-block-start: 1.67em
        margin-block-end: 1.67em
    h6
        font-size: 0.67em
        margin-block-start: 2.33em
        margin-block-end: 2.33em
    h1,h2,h3,h4,h5,h6
        font-weight: normal
        line-height: 1.2
        display: block
        margin-inline-start: 0px
        margin-inline-end: 0px
    ol
        display: block
        list-style-type: decimal
        margin-block-start: 1em
        margin-block-end: 1em
        margin-inline-start: 0px
        margin-inline-end: 0px
        padding-inline-start: 40px
    ul
        display: block
        list-style-type: disc
        margin-block-start: 1em
        margin-block-end: 1em
        margin-inline-start: 0px
        margin-inline-end: 0px
        padding-inline-start: 40px
    li
        display: list-item
        text-align: -webkit-match-parent
    img
        max-width: 100%
        margin: 0 auto !important
        height: auto !important
    .def
        font-size: 20px
        line-height: 1.6
        margin: 0 0 30px
        &:last-child
            margin: 0
    .def-list
        font-size: 20px
        line-height: 1.6
        list-style: disc
        padding-left: 25px
        margin: 0 0 30px
        &:last-child
            margin: 0
    .def + .def-list
        margin: -30px 0 30px
        &:last-child
            margin: 0

//== 頁碼 ==
.pagination-area
    margin: 0 0 50px
    +flex($c,$c)
    a
        font-size: 18px
        color: #000
        width: 40px
        height: 40px
        border: 2px solid #000
        line-height: 36px
        text-align: center
        border-radius: 50%
        margin: 0 5px
        display: inline-block
        +tcursor
        // box-sizing: border-box
        &:hover
            color: #fff
            background: #000
    .act
        color: #fff
        background: #000
    .disable
        color: #aaa
        border: 2px solid #aaa
        background: #eee
        cursor: auto
        pointer-events: none

//=== 系所公告 列表 ===
.news-area-tit
    font-size: 62px
    font-weight: bold
    margin: 0 0 60px
.news-list
    margin: 0 0 50px
.news-box
    color: #000
    margin: 0 0 50px
    +flexs($sb,$flex-s)
    +tcursor
    &:hover
        opacity: 0.8
    &:last-child
        margin: 0
.news-img
    width: 340px
    height: 200px
    img
        width: 100%
        height: 100%
        object-fit: cover
.news-info-cont
    width: calc(100% - 370px)
    +flexs($flex-s,$sb)
.news-info
    margin: 0 0 5px
.news-tit
    font-size: 32px
    font-weight: bold
    line-height: 1.3
    margin: 0 0 10px
.news-txt
    font-size: 20px
    line-height: 1.6
    +ctline(2)
.news-date
    font-size: 22px
    font-weight: bold
    color: #888

//=== 系所公告 內頁 ===
.news-cont-area
    +flex($sb,$flex-s)
.news-main-area
    // width: 1050px
    width: 63%
.news-main-cont
    background: #fff
.news-cont
    padding: 50px
.news-tit-cont
    padding-bottom: 0
    margin: 0 0 20px
    .tit
        font-size: 62px
        line-height: 1.2
        font-weight: bold
        margin: 0 0 50px
    .date
        font-size: 22px
        font-weight: bold
        color: #888
.news-banner
    img
        width: 100%

.news-side
    width: calc(100% - 66%)
    padding: 50px
    background: rgba(#fff,0.5)
    position: sticky
    top: 120px
.news-page-btn-area
    margin: 0 0 25px
    +tcursor
    &:hover
        .news-page-btn
            border-color: #000
        .page-btn span
            font-weight: bold
        .page-btn .icon
            color: #fff
            background: #000
        .news-page-img,.news-page-tit
            opacity: 0.8
    &:last-child
        margin: 0
.news-page-btn
    padding: 0 0 10px
    margin: 0 0 30px
    border-bottom: 10px solid #555
.news-page-next
    justify-content: $flex-e
    .icon
        margin: 0 0 0 8px
.news-page-img
    margin: 0 0 25px
    transition: .2s
    img
        width: 100%
.news-page-tit
    font-weight: bold
    font-size: 32px
    line-height: 1.3
    transition: .2s
    
//=== 教師列表 ===
.teacher-list-area
    +flex($flex-s,$flex-s)
.teacher-list-box
    color: #000
    width: calc((100% - 90px)/4)
    margin: 0 30px 60px 0
    &:nth-child(4n)
        margin: 0 0 60px
    .img
        position: relative
        img
            width: 100%
    .fade-img-cont
        padding-bottom: 125%
    .name
        font-size: 22px
        line-height: 1.9
        font-weight: bold
    .cont
        font-size: 20px
        line-height: 1.4

//=== 教師內頁 ===
.teacher-info-area
    margin: 0 0 50px
    +flex($sb,$flex-s)
.teacher-info-img
    width: 43%
    img
        width: 100%
.teacher-info-box
    width: 52%
.teacher-info-tit
    padding: 0 0 15px
    margin: 0 0 25px
    border-bottom: 10px solid #555
    .name
        font-size: 62px
        font-weight: bold
        margin: 0 0 10px
    .office
        font-size: 32px
.teacher-links
    font-size: 20px
    line-height: 1.4
    margin: 0 0 25px
    li
        margin: 0 0 15px
        +flex($sb,$c)
        &:last-child
            margin: 0
    i
        color: #555
        margin-right: 10px
    .icon
        width: 30px
        img
            width: 100%
    .link
        width: calc(100% - 40px)
        word-break: break-word
    a
        color: #000
        display: inline-block
        border-bottom: 1px solid #000
        transition: .2s
        &:hover
            opacity: 0.7
.teacher-class-box
    font-size: 20px
    +flex($flex-s,$flex-s)
    flex-wrap: inherit
    .tit
        width: 100px
        font-weight: bold
        padding-right: 20px
        word-break: break-word
    .class-list
        width: calc(100% - 100px)
        line-height: 1.4
        list-style: disc
        padding-left: 25px
        word-break: break-word

//=== 資源與下載 列表 ===
.resource-list-area
    margin: 0 0 30px
.resource-list-box
    font-weight: bold
    padding: 25px 0
    border-bottom: 1px solid #ccc
    display: block
    transition: .2s
    &:hover
        background: #eee
    .tit
        color: #000
        font-size: 32px
        line-height: 1.3
        margin: 0 0 10px
    .date
        font-size: 22px
        line-height: 1.8
        color: #888

//=== 資源與下載 內頁 ===
.resource-tit
    font-size: 62px
    line-height: 1.2
    font-weight: bold
    margin: 0 0 40px
.resource-date
    color: #888
    font-size: 22px
    line-height: 1.8
    font-weight: bold
    margin: 0 0 40px

//=== 空間設備 ===
.equ-list-page-cont
    padding-right: 0
    padding-left: 0
.equ-list-box
    margin: 0 0 30px
    position: relative
    +flex($sb,$flex-s)
    &:last-child
        margin: 0
    .num
        font-size: 200px
        line-height: 1
        font-weight: bold
        font-family: Taipei Sans TC Beta
        color: transparent
        -webkit-text-stroke: 2px #000
        position: relative
        top: -26px
    &:nth-child(even)
        flex-direction: row-reverse
        .equ-list-cont
            left: auto
            right: 0
.equ-list-img-box
    width: calc(100% - 250px)
    // padding-bottom: 45%
    position: relative
    img
        width: 100%
    .fade-img-cont
        padding-bottom: 66%
.equ-list-cont
    width: 520px
    padding: 30px
    line-height: 1
    background: #fff
    +position(null,null,0,0,6)
    .tit
        font-size: 32px
        font-weight: bold
        margin: 0 0 20px
        +flex($sb,$c)
        span
            width: calc(100% - 35px)
            +ct
    .txt
        font-size: 22px
        line-height: 1.2
        max-height: 57px
        word-break: break-word
        +ctline(3)

.equ-video
    position: relative
    cursor: pointer
    &:before
        content: ''
        width: 60px
        height: 60px
        display: block
        background: url(../img/icon_play.svg) no-repeat center center/cover
        +position(50%,null,null,50%,1)
        transform: translate(-50%,-50%)
        transition: .2s
    &:hover
        &:before
            transform: translate(-50%,-50%) scale(1.1)
.equ-video-lg-area
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    background: rgba(#000,0.8)
    z-index: 11
    display: none
.equ-video-cont
    max-width: 1000px
    width: 90%
    +position(50%,null,null,50%,12)
    transform: translate(-50%,-50%)
.equ-video-box
    width: 100%
    padding-bottom: 55%
    iframe
        width: 100%
        height: 100%
        +position(0,null,null,0,1)
.lg-close
    width: 30px
    height: 30px
    background: url(../img/icon_close.svg) no-repeat center center/cover
    +position(-35px,0,null,null,2)
    +tcursor
    &:hover
        transform: rotate(90deg)

//=== 全站搜尋 ===
.search-tab-box
    border: 1px solid #000
    border-radius: 50px
    margin: 0 0 30px
    +flex($c,$c)
.search-tab
    font-size: 24px
    line-height: 1
    width: calc(100%/3)
    padding: 20px 10px
    border-radius: 50px
    text-align: center
    +tcursor
    &:hover
        background: #eee
.search-tab.act
    color: #fff
    font-weight: bold
    background: #000
.search-input-box
    border-bottom: 10px solid #000
    padding: 0 0 5px
    margin: 0 0 30px
    +flex($sb,$c)
    .icon
        width: 35px
        padding: 5px
        img
            width: 100%
.search-input
    width: calc(100% - 35px)
.input-src
    font-size: 24px
    line-height: 1
    color: #000
    width: 100%
    padding: 10px
    &::placeholder
        color: #ccc
.search-key-txt
    font-size: 22px
    line-height: 1.2
    color: #888
    text-align: center
    margin: 0 0 30px
    span
        color: #000
        margin: 0 5px
        font-weight: bold
//== 公告與活動 - 搜尋結果 ==
.src-event-list
    margin: 0 0 30px
.src-event-box
    border-bottom: 1px solid #ccc
    padding: 25px 0
    +flexs($sb,$str)
    +tcursor
    &:hover
        opacity: 0.7
.src-event-img
    width: 255px
    height: 150px
    img
        width: 100%
        height: 100%
        object-fit: cover
.src-event-cont
    color: #000
    width: calc(100% - 270px)
    +flexs($flex-s,$sb)
    .tit-box
        width: 100%
        margin: 0 0 10px
        .tit
            font-size: 32px
            line-height: 1.2
            font-weight: bold
            margin: 0 0 5px
            +ctline(2)
        .txt
            font-size: 20px
            line-height: 1.6
            +ct
    .date
        font-size: 22px
        line-height: 1
        color: #888
        font-weight: bold
//== 規章制度與下載 - 搜尋結果 ==
.src-rule-list
    margin: 0 0 30px
.src-rule-box
    font-weight: bold
    padding: 25px 0
    border-bottom: 1px solid #ccc
    display: block
    +tcursor
    &:hover
        opacity: 0.7
    .tit
        font-size: 32px
        color: #000
        line-height: 1.2
        margin: 0 0 10px
    .date
        font-size: 22px
        line-height: 1
        color: #888
//== 校友地圖 - 搜尋結果 ==
.src-alumni-list
    margin: 0 0 30px
.src-alumni-box
    padding: 25px 0 25px 25px
    border-bottom: 1px solid #ccc
    +flex($sb,$c)
    .more-btn
        width: 100px
        border: 2px solid #000000
        border-radius: 50px
        padding: 9px
        text-align: center
        +tcursor
        &:hover
            color: #fff
            background: #000
.src-alumni-img
    width: 100px
    border-radius: 50px
    overflow: hidden
    img
        width: 100%
.src-alumni-cont
    width: calc(100% - 240px)
    .tit
        font-size: 32px
        line-height: 1.2
        font-weight: bold
        margin: 0 0 10px
    .txt
        font-size: 20px
        line-height: 1.6
        +ctline(2)

.src-alumni-lg-area
    width: 100%
    height: 90vh
    max-width: 1400px
    max-height: 840px
    padding: 60px 80px
    border-radius: 100px 0 0 0
    background: #FDFDFD
    position: fixed
    top: 50%
    left: 50%
    z-index: 12
    transform: translate(-50%,-50%)
    display: none
    &:before
        content: ''
        display: block
        width: 40px
        height: 40px
        background: #000
        border-radius: 50%
        +position(60px,null,null,60px,2)
.src-alumni-close
    width: 40px
    height: 40px
    background: url(../img/btn_close.svg) no-repeat center center/cover
    +position(null,40px,40px,null,2)
    +tcursor
    &:hover
        transform: rotate(-90deg)
.src-alumni-lg-box
    +flex($sb,$flex-s)
.src-alumni-lg-img
    width: 200px
    height: 200px
    border-radius: 50%
    overflow: hidden
    transform: translateY(45px)
    img
        width: 100%
        height: 100%
        object-fit: cover
.src-alumni-lg-cont
    width: calc(100% - 250px)
    border-top: 12px solid #000
    padding-top: 20px
.src-alumni-lg-tit
    margin: 0 0 50px
    +flex($sb,$c)
    .name
        font-size: 46px
        font-weight: bold
    .point
        font-size: 36px
.src-alumni-lg-edit
    height: calc(90vh - 250px)
    overflow: hidden

.mCSB_scrollTools .mCSB_draggerRail
    width: 12px
    background: #eee
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
    width: 12px
    background: #ccc
    &:hover
        background: #ccc
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar
    background: #ccc
//=== 輪播圖片 ===
.fade-img-box,.fade-img
    width: 100%
    height: 100%
    +position(0,null,null,0,1)
    display: none
    img
        width: 100%
.fade01.on
    animation: fadeImg 8s 0.5s infinite
    z-index: 5
.fade02.on
    animation: fadeImg 8s 2.5s infinite
    z-index: 4
.fade03.on
    animation: fadeImg 8s 4.5s infinite
    z-index: 3
.fade04.on
    animation: fadeImg 8s 6.5s infinite
    z-index: 2

@keyframes fadeImg
    0%
        opacity: 1
    25%
        opacity: 0
    50%
        opacity: 0
    75%
        opacity: 0
    100%
        opacity: 1

.fade-area
    // width: 200px
    position: relative
.fade-img-cont
    width: 100%
    img
        width: 100%
        height: 100%
        object-fit: cover
        +position(0,null,null,0,1)
.fade-cont,.fade-box
    width: 100%
    height: 100%
    +position(0,null,null,0,1)
    display: none
    img
        width: 100%

.fade-cont2
    width: 200px
    height: 250px
    position: relative
.fade-box2
    width: 100%
    height: 100%
    +position(0,null,null,0,1)
        
//=== 網站導覽 ===
.site-map-area
    +flex($sb,$flex-s)
.site-map-box
    width: 48%
    margin: 0 0 40px
.site-map-tit
    font-size: 32px
    line-height: 1.2
    font-weight: bold
    padding-bottom: 20px
    margin: 0 0 30px
    border-bottom: 10px solid #555
.site-map-link
    font-size: 20px
    line-height: 1.6
    li
        +flex($flex-s,$c)
    i
        margin-right: 5px
    a
        color: #000
        padding: 2px 10px 2px 0
        display: inline-block
        transition: .2s
        &:hover
            color: #fff
            background: #000
    span
        display: inline-block


footer
    padding: 60px 0
    background: rgba(#000,0.8)
.footer-cont
    width: 1500px
    margin: 0 auto
    padding-left: 50px
    // box-sizing: border-box
    +flex($sb,$flex-s)
.footer-link-area
    +flex($flex-s,$flex-s)
.footer-link-box
    width: 175px
    margin: 0 15px 0 0
    &:last-child
        margin: 0
    .tit
        font-size: 32px
        line-height: 1
        color: #fff
        font-weight: bold
        margin: 0 0 65px
    a
        font-size: 22px
        line-height: 1
        color: #ccc
        display: block
        margin: 0 0 40px
        +tcursor
        &:last-child
            margin: 0
        &:hover
            color: #fff
.footer-logo
    margin: 0 0 160px
.footer-info-box
    +flex($flex-s,$c)
    font-weight: bold
    font-size: 18px
    line-height: 1
    margin: 0 0 15px
    &:last-child
        margin: 0
    span
        color: #fff
        margin: 0 0 0 7px
    a
        color: #fff
        +tcursor
        &:hover
            opacity: 0.7
.footer-copyright
    font-size: 18px
    color: #fff
    font-weight: bold
    line-height: 1
    width: 100%

.test-wrap
    width: 300px
    height: 200px
    margin: 10px
    background: #ff6c6c
    +flex($sa,$c)
    // display: flex
    // flex-wrap: wrap
    // justify-content: space-between
    // align-content: center

.test-box
    width: 45%
    border-radius: 10px
    overflow: hidden
    img
        width: 100%
    .t-img
        width: 80%

.radio-wrap
    +dvm

.border-grad
    +grad-border
    padding: 50px
    margin: 10px
    display: inline-block
    background: rgba(#331c12,0.35)
    p
        +grad-txt

//RWD 手機版css 
@import m_sty