footer#footer
    .footer-cont
        .footer-link-area
            -const fLinkData01={'tit':'關於本所','links':[{'name':'系所介紹','link':'about.html'},{'name':'聯絡我們','link':'###'},{'name':'網站導覽','link':'site_map.html'}]}
            +fLink(fLinkData01)
            -const fLinkData02={'tit':'師資陣容','links':[{'name':'專任師資','link':'teachers_list.html'},{'name':'兼任師資','link':'teachers_pt_list.html'},{'name':'行政人員','link':'staff_list.html'}]}
            +fLink(fLinkData02)
            -const fLinkData03={'tit':'系所公告','links':[{'name':'系所公告','link':'news_list.html'}]}
            +fLink(fLinkData03)
            -const fLinkData04={'tit':'近期活動','links':[{'name':'近期活動','link':'news_list.html'}]}
            +fLink(fLinkData04)
            -const fLinkData05={'tit':'資源與下載','links':[{'name':'教務','link':'resource_edu_list.html'},{'name':'招生','link':'resource_edu_list.html'},{'name':'其他文件','link':'resource_edu_list.html'}]}
            +fLink(fLinkData05)
        .footer-logo-area
            .footer-logo
                img(src="img/logo_f.png", alt="國立臺灣藝術大學電影學系")
            .footer-info
                -const fTxt01={'img':'icon_local.svg','txt':'新北市22058板橋區大觀路一段59號'}
                +fInfo(fTxt01)
                -const fTxt02={'img':'icon_phone.svg','txt':'+886-2-2272-2181 分機5051-5055<br>+886-2-8965-3202'}
                +fInfo(fTxt02)
                -const fTxt03={'img':'icon_mail.svg','txt':'<a href="mailto:film@ntua.edu.tw">film@ntua.edu.tw</a>'}
                +fInfo(fTxt03)
        .footer-copyright © 2021 國立臺灣藝術大學電影學系
    //- -const footer={'footer1':'###','footer2':'/login','footer3':'/logout'};
    //- //-n 是值 i 是KEY
    //- each n,i in footer
    //-     a(href=n)= i