//-var mailData={tit:'我是標題',cont:'我是內文',date:'2020/03/26'};
mixin mailBox(mailData)
    .mail-box
        if mailData.new
            .mail-tag new
        .mail-tit= mailData.tit
        .mail-txt= mailData.cont
            .mail-date= mailData.date

mixin tit(data)
    .tit-blur-area(class=data.isBtn?"tit":undefined)
        img(src="img/"+data.img, alt="")
        .tit-blur-box
            .tit-blur
                .tit #{data.tit}
                .sup !{data.sup}

//- 共用
mixin sideBread(data)
    .side-bread-box
        a(href="index.html") 首頁
        | <i class="fal fa-chevron-down"></i>
        if data.links
            each n in data.links
                a(href=n.link) #{n.name}
                | <i class="fal fa-chevron-down"></i>
        span #{data.isAct}

mixin downloadArea(data)
    .download-area
        .tit 檔案下載
        ul.download-list
            each n in data
                li
                    a(href="###")
                        span #{n}

mixin pageBtnArea(data)
    .page-btn-area
        .page-btn-box
            if data.isBack
                a(href=data.isBack).page-btn
                    .icon <i class="fal fa-arrow-left"></i>
                    span BACK
        .page-btn-box
            .page-btn#goTop
                .icon <i class="fal fa-arrow-up"></i>
                span TOP

mixin pageArea
    .pagination-area
        a(href="###").disable <i class="fal fa-arrow-to-left"></i>
        a(href="###").disable <i class="fal fa-arrow-left"></i>
        a(href="###").act 1
        a(href="###") 2
        a(href="###") 3
        a(href="###") 4
        a(href="###") 5
        a(href="###") <i class="fal fa-arrow-right"></i>
        a(href="###") <i class="fal fa-arrow-to-right"></i>

mixin pageSideNavArea(data)
    .page-side-nav-area
        each n in data
            .page-side-nav(class=n.isAct?'act':'' class=n.itemClass)
                a(href=n.link) #{n.name}

//- 老師列表
mixin teacherListBox(data)
    if data.linkTo == 1
        -var tLink='teacher_cont.html';
    else if data.linkTo == 2
        -var tLink='teacher_pt_cont.html';
    else
        -var tLink='staff_cont.html';
    a(href=tLink).teacher-list-box
        //- .fade
        .img.fade-area
            .fade-img-cont
                img(src="img/"+data.img, alt="")
            //- .fade-img-box
            .fade-cont
                //- .fade-img.fade01
                .fade-box
                    img(src="img/staff01.jpg", alt="")
                .fade-box
                    img(src="img/teacher07.jpg", alt="")
                .fade-box
                    img(src="img/staff02.jpg", alt="")
                .fade-box
                    img(src="img/teacher09.jpg", alt="")
        .name #{data.name}
        .cont #{data.cont}

//- 資源與下載
mixin resourceListBox(data)
    if data.linkTo == 1
        -var tLink='resource_edu_cont.html';
    else if data.linkTo == 2
        -var tLink='';
    else
        -var tLink='';
    a(href=tLink).resource-list-box
        .tit #{data.tit}
        .date #{data.date}

//- 空間設備
mixin equListBox(data)
    .equ-list-box
        .num #{data.num}
        //- .img(style={'background':'url(img/place01.jpg) no-repeat center center/cover'})
        //- .fade
        .equ-list-img-box.fade-area
            //- .fade-img-box
            .fade-img-cont
                img(src="img/"+data.img, alt="")
                .fade-cont
                    //- .fade-img.fade01
                    .fade-box
                        img(src="img/equ01.jpg", alt="")
                    .fade-box
                        img(src="img/equ02.jpg", alt="")
                    .fade-box
                        img(src="img/equ03.jpg", alt="")
                    .fade-box
                        img(src="img/equ04.jpg", alt="")
        .equ-list-cont
            .tit
                span #{data.tit}
                .icon
                    img(src="img/icon_more.png", alt="")
            .txt #{data.txt}

//- 空間設備Old
mixin equListBoxOld(data)
    .equ-list-box
        .num #{data.num}
        //- .img(style={'background':'url(img/place01.jpg) no-repeat center center/cover'})
        .equ-list-img-box.fade
            img(src="img/"+data.img, alt="")
            .fade-img-box
                .fade-img.fade01
                    img(src="img/equ01.jpg", alt="")
                .fade-img.fade02
                    img(src="img/equ02.jpg", alt="")
                .fade-img.fade03
                    img(src="img/equ03.jpg", alt="")
                .fade-img.fade04
                    img(src="img/equ04.jpg", alt="")
        .equ-list-cont
            .tit
                span #{data.tit}
                .icon
                    img(src="img/icon_more.png", alt="")
            .txt #{data.txt}

//- 空間設備
mixin equListVideo(data)
    .equ-list-box
        .num #{data.num}
        .equ-list-img-box.equ-video
            img(src="http://img.youtube.com/vi/"+data.img+"/maxresdefault.jpg", alt="")
        .equ-list-cont
            .tit
                span #{data.tit}
                .icon
                    img(src="img/icon_more.png", alt="")
            .txt #{data.txt}

//- footer
mixin fLink(data)
    .footer-link-box
        .tit #{data.tit}
        each n in data.links
            a(href=n.link) #{n.name}

mixin fInfo(data)
    .footer-info-box
        img(src="img/"+data.img, alt="")
        span !{data.txt}

//- 系所公告
mixin newsBox(data)
    a(href="news_cont.html").news-box
        //- .news-img(style="background:url(img/"+data.img+") no-repeat center center/cover")
        .news-img
            img(src="img/"+data.img, alt="")
        .news-info-cont
            .news-info
                .news-tit #{data.tit}
                .news-txt #{data.txt}
            .news-date #{data.date}

//- 搜尋結果 - 公告與活動
mixin srcEventBox(data)
    a(href="###").src-event-box
        .src-event-img
            img(src="img/"+data.img, alt="")
        .src-event-cont
            .tit-box
                .tit #{data.tit}
                .txt #{data.txt}
            .date #{data.date}
//- 搜尋結果 - 規章制度與下載
mixin srcRuleBox(data)
    a(href="###").src-rule-box
        .tit #{data.tit}
        .date #{data.date}
//-搜尋結果 - 校友地圖
mixin srcAlumniBox(data)
    .src-alumni-box
        .src-alumni-img
            img(src="img/"+data.img, alt="")
        .src-alumni-cont
            .tit #{data.tit}
            .txt #{data.txt}
        .more-btn.src-alumni-more more

//- 首頁 sw 內容
mixin indColumnSw(data)
    if data.isEqu
        -var link='equipment_list.html';
    else
        -var link='teacher_cont.html';
    .swiper-slide
        a(href=link).ind-column-sw
            .img-box
                img(src="img/"+data.img, alt=data.name)
            .info
                .tit #{data.name}
                .sub #{data.sub}
                p #{data.cont}

//- 首頁校友地圖
mixin alumniBox(data)
    .alumni-box(class=data.place)
        .alumni-img(id=data.dotId)
            img(src="img/"+data.img, alt="")
        .alumni-line
            img(src="img/map_line.png", alt="")

//- 校友地圖Sw
mixin alumniSwBox(data)
    .swiper-slide
        .alumni-sw-box
            if data.isTw
                .alumni-tab TW
            .alumni-sw-img(class=data.isTw?'isTw':'')
                img(src="img/"+data.img, alt="")

//- 首頁消息
mixin indNewsBox(data)
    a(href="news_cont.html").ind-news-box
        .img-box
            img(src="img/"+data.img, alt="")
        .date #{data.date}
        .tit #{data.tit}
        .cont !{data.cont}

//- 校友地圖lg
mixin alumniLg
    .src-alumni-lg-area#srcAlumniLgArea
        .src-alumni-close#srcAlumniClose
        .src-alumni-lg-box
            .src-alumni-lg-img
                img(src="img/alumni_lg.jpg", alt="")
            .src-alumni-lg-cont
                .src-alumni-lg-tit
                    .name 陳博文
                    .point 121°38′E, 25°2′N
                .src-alumni-lg-txt
                    .src-alumni-lg-edit.edit-area
                        p.def 台灣著名剪接師，剪接作品超過150部，與許多台灣電影導演合作。畢業於國立藝專（台灣藝術大學）廣播電視科。現主持陳博文電影剪接工作室，並致力於剪接人才培育。
                        p.def 持續在專業領域工作近三十年（1980-2009），以純熟技術為經，以藝術品味為緯，再造作品的靈魂。其作品產學價值面寬廣，舉凡藝術、商業、紀錄片、動畫等，皆全力以赴。
                        p.def 參與許多台灣揚名國際電影的剪接，長期協助台灣新電影導演們完成作品，提升其對電影之視野。持續培育剪接人才，不遺餘力。
                        p.def 代表作品<br>1981年：《1905年的冬天》（首部獨立剪接作品）<br> 1991年：《牯嶺街少年殺人事件》（被楊德昌影響對於電影戲劇的看法）<br> 1999年：《紅葉傳奇》（首部紀錄片剪接作品）<br> 2000年：《一一》<br> 2011年：《賽德克·巴萊》（近期最大型三小時以上鉅片剪接作品）<br> 2015年：《大囍臨門》<br>
                        p.def 陳博文電影剪接工作室——剪接自己的人生：「影像戰鬥營」剪輯工作坊

//- 網站導覽
mixin siteMapBox(data)
    .site-map-box
        .site-map-tit #{data.tit}
        ul.site-map-link
            each n in data.links
                li
                    a(href=n.link)
                        <i class="far fa-arrow-right"></i>
                        span #{n.name}