.mask#mask
#headerTop
.header-area#header
    //- 漢堡
    .ham-btn
        button(class="hamburger hamburger--squeeze" type="button" id="hamBtn")
            span(class="hamburger-box")
                span(class="hamburger-inner")
    .header-cont
        a(href="index.html").logo
            h1 國立臺灣藝術大學 電影學系
            .logo-img#logoImg
                img(src="img/logo_s.svg", alt="國立臺灣藝術大學電影學系")
            .logo-img#logoImgBanner.logo-img-w
                img(src="img/logo.svg", alt="國立臺灣藝術大學電影學系")
        .func-area
            a(href="index.html").icon
                img(src="img/icon_home.svg", alt="home")
            .icon En
            a(href="search.html").icon
                img(src="img/icon_src.svg", alt="search")
.nav-side-area#navSideArea
    .ham-btn
        button(class="hamburger hamburger--squeeze is-active" type="button" id="hamNavBtn")
            span(class="hamburger-box")
                span(class="hamburger-inner")
    .nav-side-cont
        .nav-side-box
            .nav-side-tit-box.line
                .nav-side-tit
                    .num 01
                    .tit 系所特色
            .nav-side-sup-box
                .nav-side-sup
                    a(href="about.html") 系所介紹
                    a(href="###") 本系特色
        .nav-side-box
            .nav-side-tit-box
                a(href="news_list.html").nav-side-tit
                    .num 02
                    .tit 系所公告
        .nav-side-box
            .nav-side-tit-box
                a(href="news_list.html").nav-side-tit
                    .num 03
                    .tit 近期活動
        .nav-side-box
            .nav-side-tit-box.line
                .nav-side-tit
                    .num 04
                    .tit 師資陣容
            .nav-side-sup-box
                .nav-side-sup
                    a(href="teachers_list.html") 專任師資
                    a(href="teachers_pt_list.html") 兼任師資
                    a(href="staff_list.html") 行政人員
        .nav-side-box
            .nav-side-tit-box.line
                .nav-side-tit
                    .num 05
                    .tit 空間設備
            .nav-side-sup-box
                .nav-side-sup
                    a(href="social_list.html") 交誼空間
                    a(href="professional_list.html") 專業空間
                    a(href="equipment_list.html") 器材設備
        .nav-side-box
            .nav-side-tit-box.line02
                .nav-side-tit
                    .num 06
                    .tit 規章制度與表單下載
            .nav-side-sup-box
                .nav-side-sup
                    a(href="resource_edu_list.html") 教務
                    a(href="resource_edu_list.html") 招生
                    a(href="resource_edu_list.html") 設備與系所資源
                .nav-side-sup
                    a(href="movies.html") 百大影片
                    a(href="###") 系藏影片
                    a(href="resource_edu_list.html") 其他文件
    
//- nav
//-     -const nav={'NAV1':'###','NAV2':'/login','NAV3':'/logout'};
//-     //-n 是值 i 是KEY
//-     each n,i in nav
//-         a(href=n)= i