@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oswald:200");
html, body {
  height: auto;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
  display: block;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

a {
  outline: none;
  hlbr: expression(this.onFocus=this.blur());
  cursor: pointer;
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

input {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}

input, textarea, select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  border: none;
  border-radius: 0;
  outline: none;
}

select::-ms-expand {
  display: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Taipei Sans TC Beta", "Microsoft YaHei", "微軟正黑體", Arial, Helvetica, sans-serif, "新細明體";
  font-size: 15px;
  font-size: 100%;
  color: #000;
}

input, textarea, select {
  font-family: "Taipei Sans TC Beta", "Microsoft YaHei", "微軟正黑體", Arial, Helvetica, sans-serif, "新細明體";
  color: #555;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-box-area {
  width: 100%;
  margin: 0 0 5px;
  text-align: left;
}
.input-box-area label {
  font-size: 86%;
  color: #f9b601;
  margin: 0 0 5px;
  display: inline-block;
}
.input-box-area p {
  color: #fff;
  line-height: 40px;
  display: block;
}

.input-box {
  position: relative;
}
.input-box label.error {
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  margin: 0;
  background: #e53b57;
  position: absolute;
  top: 50%;
  right: 3px;
  z-index: 2;
  transform: translateY(-50%);
}

.input-sty {
  font-size: 100%;
  color: #f9b601;
  width: 100%;
  line-height: 32px;
  padding: 0 10px;
  border: 1px solid #f9b601;
  background: #fff;
  box-sizing: border-box;
}
.input-sty::placeholder {
  color: rgba(249, 182, 1, 0.8);
}

.label-item-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.label-item-wrap label.error {
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  margin: 0 0 0 10px;
  background: #e53b57;
}

.input-tit {
  font-size: 86%;
  color: #f9b601;
  margin: 0 0 5px;
  display: inline-block;
}

.label-item {
  cursor: pointer;
  padding: 5px;
  margin: 0 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.label-item span {
  font-size: 86%;
  margin: 0 0 0 5px;
}

.radio-box {
  width: 14px;
  height: 14px;
  padding: 2px 0 0 2px;
  border: 1px solid #009aff;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

input[type=radio]:checked + .radio-box::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #009aff;
  display: block;
}

input[type=radio] {
  opacity: 0;
}

.check-box {
  width: 13px;
  height: 13px;
  border: 2px solid #009aff;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

input[type=checkbox]:checked + .check-box::after {
  content: "\f00c";
  font-size: 15px;
  color: #009aff;
  transform: translateY(-1px);
  display: block;
}

.input-sel {
  font-size: 100%;
  color: #f9b601;
  width: 100%;
  line-height: 32px;
  padding: 0 10px;
  border: 1px solid #f9b601;
  background: #fff;
  box-sizing: border-box;
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 30px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background: #329a04;
}
.switch input:checked + .slider:after {
  content: "on";
  right: 35px;
}
.switch input:focus + .slider {
  box-shadow: 0 0 5px #111111;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999999;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  border-radius: 50px;
  padding: 3px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  background: #ffffff;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  border-radius: 30px;
  left: 3px;
  bottom: 3px;
}
.slider:after {
  position: absolute;
  content: "off";
  color: #ffffff;
  line-height: 25px;
  padding: 0 0 0 5px;
  right: 15px;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #333333 inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff;
}

.pasw {
  -webkit-text-security: disc;
}

.btn-area {
  text-align: center;
  margin: 15px 0 0;
}

.btn {
  font-size: 125%;
  color: #fff;
  font-weight: 500;
  width: 100px;
  padding: 5px 10px;
  background: #f9b601;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  opacity: 0.9;
}

.submit-btn {
  position: relative;
}
.submit-btn input {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.sub-filter-btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}
.sub-filter-btn input {
  position: absolute;
}
.sub-filter-btn label {
  color: #d89f1f;
  border-radius: 10px;
  padding: 3px 10px;
  display: block;
  cursor: pointer;
  transition: 0.2s;
}
.sub-filter-btn label:hover {
  color: #fff;
}
.sub-filter-btn input[type=radio]:checked + label {
  color: #fff;
  background: #d89f1f;
}

.check-box2 {
  width: 13px;
  height: 13px;
  margin: 0 3px;
  border: 2px solid #d1c0a5;
  border-radius: 2px;
  transition: 0.2s;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

input[type=checkbox]:checked + .check-box2::after {
  content: "\f00c";
  font-size: 15px;
  color: #d1c0a5;
  transition: 0.2s;
}

.check-box-c {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
}

input[type=checkbox]:checked + .check-box-c::after {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  background: url(../img/icon_c.png) no-repeat center center;
  background-size: contain;
  transition: 0.2s;
  position: absolute;
  top: -2px;
  left: -2px;
}

input[type=radio]:checked + .check-box-c::after {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  background: url(../img/icon_c.png) no-repeat center center;
  background-size: contain;
  transition: 0.2s;
  position: absolute;
  top: -2px;
  left: -2px;
}

.ex-inp-wrap {
  margin: 10px 20px;
  border: 1px solid #009aff;
  border-radius: 5px;
}

.ex-tit {
  font-size: 18px;
  color: #fff;
  padding: 5px;
  background: #009aff;
}

.ex-box {
  padding: 5px;
}
.ex-box p {
  margin: 5px 0;
}
.ex-box i {
  color: #009aff;
}

.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.header-area {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.ham-btn {
  width: 100px;
  text-align: center;
}

.hamburger-box {
  width: 50px;
  height: 40px;
  position: relative;
  z-index: 11;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  width: 50px;
  height: 4px;
}

.hamburger-inner:before {
  top: -13px;
}

.hamburger-inner:after {
  bottom: -13px;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
  background: #fff;
}

.hamburger.is-w .hamburger-inner, .hamburger.is-w .hamburger-inner:after, .hamburger.is-w .hamburger-inner:before {
  background: #fff;
}

.nav-side-area {
  width: 1100px;
  padding-left: 100px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  visibility: hidden;
  transition: 0.3s;
  opacity: 0;
}
.nav-side-area .ham-btn {
  position: absolute;
  top: 15px;
  left: 0;
  z-index: 11;
}

.nav-side-area.open {
  visibility: visible;
  opacity: 1;
}

.nav-side-cont {
  padding: 80px;
  height: 100vh;
  border-left: 12px solid #888;
  overflow-y: scroll;
}

.nav-side-box {
  min-height: 110px;
  margin: 0 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.nav-side-box:last-child {
  margin: 0;
}

.nav-side-tit-box {
  width: 430px;
  margin: 0 30px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.nav-side-tit-box.line:after {
  content: "";
  display: block;
  width: calc(100% - 200px);
  height: 5px;
  background: #888;
}

.nav-side-tit-box.line02:after {
  content: "";
  display: block;
  width: calc(100% - 360px);
  height: 5px;
  background: #888;
}

.nav-side-tit {
  font-size: 32px;
  line-height: 1;
  color: #fff;
  font-weight: bold;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.nav-side-tit .num {
  font-size: 34px;
  line-height: 1;
  margin: 0 10px 0 0;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

.nav-side-sup-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.nav-side-sup-box:last-child {
  margin: 0;
}

.nav-side-sup {
  padding-top: 5px;
  margin: 0 50px 0 0;
}
.nav-side-sup:last-child {
  margin: 0;
}
.nav-side-sup a {
  font-size: 22px;
  line-height: 1;
  color: #ddd;
  margin: 0 0 20px;
  display: block;
  transition: 0.2s;
}
.nav-side-sup a:hover {
  color: #c4c4c4;
}
.nav-side-sup a:last-child {
  margin: 0;
}

.header-cont {
  width: calc(100% - 100px);
  padding: 15px 20px;
  border-left: 12px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-cont-side-w {
  border-color: transparent;
}

.logo {
  height: 70px;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
}
.logo img {
  transition: 0.2s;
}
.logo:hover img {
  opacity: 0.7;
}
.logo h1 {
  line-height: 0;
  opacity: 0;
  display: none;
}

.logo-img {
  width: 250px;
}
.logo-img img {
  width: 100%;
}

.logo-img-w {
  display: none;
  padding: 15px;
  transform: translate(-20px, -15px);
  background: #fff;
}

.func-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.func-area .icon {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.3;
  margin: 0 14px;
  cursor: pointer;
  transition: 0.2s;
}
.func-area .icon:hover {
  opacity: 0.7;
}

.main-wrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.noise-bg {
  background: url(../img/page_bg.png);
}

.side-bread {
  padding-top: 60px;
  width: 100px;
  text-align: center;
}

.side-bread-box {
  font-size: 22px;
  line-height: 1.2;
  display: inline-block;
  word-break: break-word;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.side-bread-box a {
  color: #000;
  cursor: pointer;
  transition: 0.2s;
}
.side-bread-box a:hover {
  opacity: 0.7;
}
.side-bread-box i {
  margin: 20px 0;
}
.side-bread-box span {
  font-weight: bold;
}

.main-cont {
  width: calc(100% - 100px);
  padding: 60px;
  border-left: 12px solid #000;
}

.banner-video {
  height: 100vh;
  position: relative;
}
.banner-video:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.banner-video iframe {
  width: 100%;
  height: 100%;
}

.video-box {
  height: 100%;
}

.scrolldown-box {
  width: 160px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
}
.scrolldown-box img {
  width: 100%;
}

.banner-side {
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
.banner-side .tit {
  font-size: 16px;
  line-height: 100px;
  color: #fff;
  width: 100%;
  font-weight: bold;
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.banner-side .icon {
  width: 30px;
  margin: 20px auto;
  display: block;
}
.banner-side .icon:hover {
  opacity: 0.9;
}
.banner-side .icon img {
  width: 100%;
}

.banner-side-line {
  width: 12px;
  height: 100%;
  background: rgba(255, 255, 255, 0.92);
  position: absolute;
  top: 0;
  left: 100px;
  z-index: 3;
}

.intro-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.intro-letter {
  width: 40%;
}
.intro-letter img {
  width: 100%;
}

.intro-info-area {
  width: 55%;
}
.intro-info-area p {
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

.intro-info-tit {
  border-bottom: 10px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.intro-info-tit span {
  font-weight: bold;
  font-size: 70px;
  line-height: 70px;
  letter-spacing: 0.02em;
  color: transparent;
  -webkit-text-stroke: 1px #aaa;
  position: relative;
  display: inline-block;
  transform: translateY(11px);
}

.intro-info-cont {
  margin: 80px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.intro-info {
  width: 25%;
  padding: 0 10px;
}
.intro-info img {
  width: 100%;
}

.ind-column-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.ind-column-cont {
  width: 49%;
}

.ind-column-tit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 1;
  border-bottom: 10px solid #333;
  padding-bottom: 20px;
  margin: 0 0 30px;
  position: relative;
}
.ind-column-tit .tw {
  font-weight: bold;
  font-size: 62px;
  letter-spacing: 0.1em;
}
.ind-column-tit .en {
  font-weight: bold;
  font-size: 55px;
  letter-spacing: 0.02em;
  color: transparent;
  -webkit-text-stroke: 1px #aaa;
  position: absolute;
  right: 0;
  bottom: -10px;
  z-index: 1;
}

.ind-column-sw-area {
  overflow: hidden;
}

.ind-column-sw-cont .swiper-slide {
  height: auto;
  background: #F5F5F5;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.2s;
}
.ind-column-sw-cont .swiper-slide:hover img {
  transform: scale(1.05);
}
.ind-column-sw-cont .swiper-slide-active {
  opacity: 1;
}
.ind-column-sw-cont .swiper-button-next, .ind-column-sw-cont .swiper-button-prev {
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: 0;
  margin: 0 5px;
}
.ind-column-sw-cont .swiper-button-next:hover, .ind-column-sw-cont .swiper-button-prev:hover {
  opacity: 0.8;
}
.ind-column-sw-cont .swiper-button-prev {
  left: 0;
  background: url(../img/sw_left.svg) no-repeat center center/cover;
}
.ind-column-sw-cont .swiper-button-next {
  right: 0;
  background: url(../img/sw_right.svg) no-repeat center center/cover;
}

.ind-column-sw-cont.dark .swiper-slide {
  background: #333;
}
.ind-column-sw-cont.dark .ind-column-sw {
  color: #fff;
}

.ind-column-sw {
  color: #000;
  display: block;
}
.ind-column-sw .img-box {
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}
.ind-column-sw .img-box img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
  transition: 0.2s;
}
.ind-column-sw .info {
  padding: 30px;
}
.ind-column-sw .tit {
  font-weight: bold;
  font-size: 42px;
  line-height: 1;
  margin: 0 0 20px;
}
.ind-column-sw .sub {
  font-size: 20px;
  line-height: 1.4;
  min-height: 28px;
}
.ind-column-sw p {
  font-size: 20px;
  line-height: 1.6;
  padding-left: 20px;
  min-height: 160px;
  margin: 20px 0 0;
  border-left: 1px solid #555;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.ind-column-btn {
  margin: 30px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ind-column-btn a {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  padding: 6px 10px;
  margin: 0 10px;
  border: 2px solid #000;
  border-radius: 25px;
  display: inline-block;
  transition: 0.2s;
}
.ind-column-btn a:hover {
  opacity: 0.8;
}

.alumni-bg {
  background: #f8f8f8;
  overflow: hidden;
}

.alumni-tit {
  font-size: 62px;
  line-height: 1;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin: 0 0 30px;
}

.alumni-map-area {
  position: relative;
}

.alumni-map {
  position: relative;
}
.alumni-map img {
  width: 100%;
}

.map-txt {
  font-weight: bold;
  font-size: 180px;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.alumni-box {
  width: 8%;
  position: absolute;
  z-index: 2;
  transition: 0.2s;
}
.alumni-box:hover {
  opacity: 0.8;
}
.alumni-box img {
  width: 100%;
}
.alumni-box:after {
  content: "";
  display: block;
  width: 5%;
  padding-bottom: 5%;
  border-radius: 50%;
  background: #000;
  position: absolute;
  bottom: 0.5%;
  left: 48%;
  z-index: 2;
}

.alumni-img {
  border: 1px solid #000;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.alumni-line {
  margin-top: -40%;
}

.alumni-info-box {
  width: 1400px;
  padding: 60px 90px;
  border-radius: 90px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -60px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  background: rgba(253, 253, 253, 0.8);
}
.alumni-info-box:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 2;
}

.alumni-info-img {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  border-radius: 50%;
  overflow: hidden;
}
.alumni-info-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.alumni-info-cont {
  width: calc(100% - 260px);
  border-top: 12px solid #000;
}
.alumni-info-cont .tit {
  font-size: 46px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin: 30px 0;
}
.alumni-info-cont .cont {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  margin: 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.ind-more-btn-box {
  text-align: right;
}

.ind-more-btn {
  font-size: 18px;
  line-height: 1.3;
  color: #000;
  padding: 6px 25px;
  border: 1px solid #000;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
}
.ind-more-btn:hover {
  color: #fff;
  background: #000;
}

.alumni01 {
  top: 9%;
  left: 6.5%;
}

.alumni02 {
  top: -1%;
  left: 21.5%;
}

.alumni03 {
  top: -1%;
  left: 45%;
}

.alumni04 {
  top: 12%;
  left: 63.5%;
}

.alumni05 {
  top: 17%;
  left: 79%;
}

.alumni-sw-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.alumni-sw {
  width: 350px;
  margin: 0 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.alumni-sw .swiper-button-prev, .alumni-sw .swiper-button-next {
  font-size: 30px;
  width: 25px;
  margin-top: 0;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  background: none;
}
.alumni-sw .swiper-button-prev {
  left: 0;
}
.alumni-sw .swiper-button-next {
  right: 0;
}

.alumni-sw-cont {
  width: 300px;
  overflow: hidden;
  position: relative;
}
.alumni-sw-cont .swiper-slide {
  padding: 5px;
}
.alumni-sw-cont .alumni-sw-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.alumni-sw-cont .alumni-sw-img.isTw {
  border: 2px solid #2ec39b;
}
.alumni-sw-cont .alumni-tab {
  font-size: 10px;
  color: #fff;
  padding: 2px 5px;
  border-radius: 10px;
  background: #2ec39b;
  position: absolute;
  top: 0px;
  right: -7px;
  z-index: 1;
}
.alumni-sw-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.follow-bg {
  background: #eee;
}

.follow-tit {
  font-weight: bold;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 0 0 60px;
}

.follow-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.follow-cont:after {
  content: "";
  display: block;
  width: 100%;
  height: 60px;
  background: #151515;
}

.follow-box {
  width: 50%;
}
.follow-box:first-child {
  border-right: 2px solid #555;
}

.follow-tab {
  font-size: 22px;
  width: 565px;
  padding: 12px 20px;
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.follow-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.follow-name .icon {
  width: 30px;
  margin-right: 5px;
}
.follow-name .icon img {
  width: 100%;
}
.follow-name span {
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 0.1em;
}

.follow-tag {
  line-height: 1;
  letter-spacing: 0.05em;
  color: #555;
}

.follow-info {
  padding: 20px 20px 0 20px;
  background: #151515;
}
.follow-info span {
  font-size: 20px;
  line-height: 1.6;
  height: 32px;
  letter-spacing: 0.05em;
  color: #fff;
  width: 560px;
  margin: 0 auto 10px;
  display: block;
}

.follow-fb-box {
  width: 475px;
  height: 320px;
  margin: 0 auto;
}

.mb-fb {
  display: none;
}

.follow-yt-box {
  width: 560px;
  height: 320px;
  margin: 0 auto;
  position: relative;
}
.follow-yt-box iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.ind-news-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.ind-news-box {
  width: 47%;
  display: block;
  margin: 0 0 100px;
  transition: 0.2s;
}
.ind-news-box:hover {
  opacity: 0.8;
}
.ind-news-box .img-box {
  width: 100%;
  padding-bottom: 50%;
  position: relative;
}
.ind-news-box .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.ind-news-box .date {
  font-size: 22px;
  line-height: 1.8;
  letter-spacing: 0.1em;
  color: #888;
  font-weight: bold;
  margin: 20px 0;
}
.ind-news-box .tit {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: #000;
  font-weight: bold;
  margin: 0 0 35px;
  min-height: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.ind-news-box .cont {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.page-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  position: relative;
}
.page-group h2 {
  font-size: 200px;
  color: rgba(196, 196, 196, 0.15);
  font-weight: bold;
  width: 100%;
  position: absolute;
  top: -69px;
  left: 0px;
  z-index: 0;
  font-family: Taipei Sans TC Beta;
}

.page-side {
  width: 35%;
  padding: 250px 20px 20px 60px;
  background: rgba(255, 255, 255, 0.6);
}
.page-side h3 {
  font-weight: bold;
  font-size: 62px;
  line-height: 1.2;
  letter-spacing: 0.1em;
}

.page-side-nav-area {
  margin: 30px 0 0;
}
.page-side-nav-area .act {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-wrap: inherit;
}
.page-side-nav-area .act a {
  font-weight: bold;
}
.page-side-nav-area .act:after {
  content: "";
  display: block;
  width: calc(100% - 110px);
  height: 5px;
  background: #888;
}
.page-side-nav-area .item01.act:after {
  width: calc(100% - 60px);
}
.page-side-nav-area .item02.act:after {
  width: calc(100% - 170px);
}

.page-side-nav {
  margin: 0 0 20px;
}
.page-side-nav a {
  color: #000;
  font-size: 22px;
  line-height: 1.2;
  padding-right: 15px;
  transition: 0.2s;
}
.page-side-nav a:hover {
  font-weight: bold;
}
.page-side-nav:last-child {
  margin: 0;
}

.circle-txt {
  margin: 100px 0 0;
}
.circle-txt img {
  width: 100%;
}

.page-cont {
  width: 65%;
  padding: 250px 60px 60px 60px;
  background: #fff;
}

.page-btn-area {
  margin: 30px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-btn {
  font-size: 20px;
  line-height: 1.6;
  color: #000;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.page-btn .icon {
  width: 40px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 50%;
  margin: 0 8px 0 0;
  cursor: pointer;
  transition: 0.2s;
}
.page-btn:hover .icon {
  background: #000;
  color: #fff;
}
.page-btn:hover span {
  font-weight: bold;
}

.download-area {
  margin: 20px 0 0;
}
.download-area .tit {
  font-size: 32px;
  font-weight: bold;
  padding: 0 0 10px;
  margin: 0 0 20px;
  border-bottom: 10px solid #555;
}
.download-area a {
  font-size: 20px;
  line-height: 1.6;
  color: #000;
  margin: 0 0 10px;
  display: inline-block;
  border-bottom: 1px solid #000;
  cursor: pointer;
  transition: 0.2s;
}
.download-area a:hover {
  opacity: 0.7;
}
.download-area a:after {
  content: "";
  width: 18px;
  height: 18px;
  margin: 0 0 0 7px;
  display: inline-block;
  background: url(../img/icon_download.png) no-repeat center center;
}

.edit-area p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.edit-area strong {
  font-weight: bold;
}
.edit-area em {
  font-style: italic;
}
.edit-area h1 {
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}
.edit-area h2 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
.edit-area h3 {
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.edit-area h4 {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}
.edit-area h5 {
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}
.edit-area h6 {
  font-size: 0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
}
.edit-area h1, .edit-area h2, .edit-area h3, .edit-area h4, .edit-area h5, .edit-area h6 {
  font-weight: normal;
  line-height: 1.2;
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.edit-area ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.edit-area ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.edit-area li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.edit-area img {
  max-width: 100%;
  margin: 0 auto !important;
  height: auto !important;
}
.edit-area .def {
  font-size: 20px;
  line-height: 1.6;
  margin: 0 0 30px;
}
.edit-area .def:last-child {
  margin: 0;
}
.edit-area .def-list {
  font-size: 20px;
  line-height: 1.6;
  list-style: disc;
  padding-left: 25px;
  margin: 0 0 30px;
}
.edit-area .def-list:last-child {
  margin: 0;
}
.edit-area .def + .def-list {
  margin: -30px 0 30px;
}
.edit-area .def + .def-list:last-child {
  margin: 0;
}

.pagination-area {
  margin: 0 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pagination-area a {
  font-size: 18px;
  color: #000;
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
}
.pagination-area a:hover {
  color: #fff;
  background: #000;
}
.pagination-area .act {
  color: #fff;
  background: #000;
}
.pagination-area .disable {
  color: #aaa;
  border: 2px solid #aaa;
  background: #eee;
  cursor: auto;
  pointer-events: none;
}

.news-area-tit {
  font-size: 62px;
  font-weight: bold;
  margin: 0 0 60px;
}

.news-list {
  margin: 0 0 50px;
}

.news-box {
  color: #000;
  margin: 0 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  cursor: pointer;
  transition: 0.2s;
}
.news-box:hover {
  opacity: 0.8;
}
.news-box:last-child {
  margin: 0;
}

.news-img {
  width: 340px;
  height: 200px;
}
.news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-info-cont {
  width: calc(100% - 370px);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
}

.news-info {
  margin: 0 0 5px;
}

.news-tit {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.3;
  margin: 0 0 10px;
}

.news-txt {
  font-size: 20px;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.news-date {
  font-size: 22px;
  font-weight: bold;
  color: #888;
}

.news-cont-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.news-main-area {
  width: 63%;
}

.news-main-cont {
  background: #fff;
}

.news-cont {
  padding: 50px;
}

.news-tit-cont {
  padding-bottom: 0;
  margin: 0 0 20px;
}
.news-tit-cont .tit {
  font-size: 62px;
  line-height: 1.2;
  font-weight: bold;
  margin: 0 0 50px;
}
.news-tit-cont .date {
  font-size: 22px;
  font-weight: bold;
  color: #888;
}

.news-banner img {
  width: 100%;
}

.news-side {
  width: 34%;
  padding: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: sticky;
  top: 120px;
}

.news-page-btn-area {
  margin: 0 0 25px;
  cursor: pointer;
  transition: 0.2s;
}
.news-page-btn-area:hover .news-page-btn {
  border-color: #000;
}
.news-page-btn-area:hover .page-btn span {
  font-weight: bold;
}
.news-page-btn-area:hover .page-btn .icon {
  color: #fff;
  background: #000;
}
.news-page-btn-area:hover .news-page-img, .news-page-btn-area:hover .news-page-tit {
  opacity: 0.8;
}
.news-page-btn-area:last-child {
  margin: 0;
}

.news-page-btn {
  padding: 0 0 10px;
  margin: 0 0 30px;
  border-bottom: 10px solid #555;
}

.news-page-next {
  justify-content: flex-end;
}
.news-page-next .icon {
  margin: 0 0 0 8px;
}

.news-page-img {
  margin: 0 0 25px;
  transition: 0.2s;
}
.news-page-img img {
  width: 100%;
}

.news-page-tit {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.3;
  transition: 0.2s;
}

.teacher-list-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.teacher-list-box {
  color: #000;
  width: calc((100% - 90px) / 4);
  margin: 0 30px 60px 0;
}
.teacher-list-box:nth-child(4n) {
  margin: 0 0 60px;
}
.teacher-list-box .img {
  position: relative;
}
.teacher-list-box .img img {
  width: 100%;
}
.teacher-list-box .fade-img-cont {
  padding-bottom: 125%;
}
.teacher-list-box .name {
  font-size: 22px;
  line-height: 1.9;
  font-weight: bold;
}
.teacher-list-box .cont {
  font-size: 20px;
  line-height: 1.4;
}

.teacher-info-area {
  margin: 0 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.teacher-info-img {
  width: 43%;
}
.teacher-info-img img {
  width: 100%;
}

.teacher-info-box {
  width: 52%;
}

.teacher-info-tit {
  padding: 0 0 15px;
  margin: 0 0 25px;
  border-bottom: 10px solid #555;
}
.teacher-info-tit .name {
  font-size: 62px;
  font-weight: bold;
  margin: 0 0 10px;
}
.teacher-info-tit .office {
  font-size: 32px;
}

.teacher-links {
  font-size: 20px;
  line-height: 1.4;
  margin: 0 0 25px;
}
.teacher-links li {
  margin: 0 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.teacher-links li:last-child {
  margin: 0;
}
.teacher-links i {
  color: #555;
  margin-right: 10px;
}
.teacher-links .icon {
  width: 30px;
}
.teacher-links .icon img {
  width: 100%;
}
.teacher-links .link {
  width: calc(100% - 40px);
  word-break: break-word;
}
.teacher-links a {
  color: #000;
  display: inline-block;
  border-bottom: 1px solid #000;
  transition: 0.2s;
}
.teacher-links a:hover {
  opacity: 0.7;
}

.teacher-class-box {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: inherit;
}
.teacher-class-box .tit {
  width: 100px;
  font-weight: bold;
  padding-right: 20px;
  word-break: break-word;
}
.teacher-class-box .class-list {
  width: calc(100% - 100px);
  line-height: 1.4;
  list-style: disc;
  padding-left: 25px;
  word-break: break-word;
}

.resource-list-area {
  margin: 0 0 30px;
}

.resource-list-box {
  font-weight: bold;
  padding: 25px 0;
  border-bottom: 1px solid #ccc;
  display: block;
  transition: 0.2s;
}
.resource-list-box:hover {
  background: #eee;
}
.resource-list-box .tit {
  color: #000;
  font-size: 32px;
  line-height: 1.3;
  margin: 0 0 10px;
}
.resource-list-box .date {
  font-size: 22px;
  line-height: 1.8;
  color: #888;
}

.resource-tit {
  font-size: 62px;
  line-height: 1.2;
  font-weight: bold;
  margin: 0 0 40px;
}

.resource-date {
  color: #888;
  font-size: 22px;
  line-height: 1.8;
  font-weight: bold;
  margin: 0 0 40px;
}

.equ-list-page-cont {
  padding-right: 0;
  padding-left: 0;
}

.equ-list-box {
  margin: 0 0 30px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.equ-list-box:last-child {
  margin: 0;
}
.equ-list-box .num {
  font-size: 200px;
  line-height: 1;
  font-weight: bold;
  font-family: Taipei Sans TC Beta;
  color: transparent;
  -webkit-text-stroke: 2px #000;
  position: relative;
  top: -26px;
}
.equ-list-box:nth-child(even) {
  flex-direction: row-reverse;
}
.equ-list-box:nth-child(even) .equ-list-cont {
  left: auto;
  right: 0;
}

.equ-list-img-box {
  width: calc(100% - 250px);
  position: relative;
}
.equ-list-img-box img {
  width: 100%;
}
.equ-list-img-box .fade-img-cont {
  padding-bottom: 66%;
}

.equ-list-cont {
  width: 520px;
  padding: 30px;
  line-height: 1;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 6;
}
.equ-list-cont .tit {
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.equ-list-cont .tit span {
  width: calc(100% - 35px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.equ-list-cont .txt {
  font-size: 22px;
  line-height: 1.2;
  max-height: 57px;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.equ-video {
  position: relative;
  cursor: pointer;
}
.equ-video:before {
  content: "";
  width: 60px;
  height: 60px;
  display: block;
  background: url(../img/icon_play.svg) no-repeat center center/cover;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}
.equ-video:hover:before {
  transform: translate(-50%, -50%) scale(1.1);
}

.equ-video-lg-area {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 11;
  display: none;
}

.equ-video-cont {
  max-width: 1000px;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 12;
  transform: translate(-50%, -50%);
}

.equ-video-box {
  width: 100%;
  padding-bottom: 55%;
}
.equ-video-box iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.lg-close {
  width: 30px;
  height: 30px;
  background: url(../img/icon_close.svg) no-repeat center center/cover;
  position: absolute;
  top: -35px;
  right: 0;
  z-index: 2;
  cursor: pointer;
  transition: 0.2s;
}
.lg-close:hover {
  transform: rotate(90deg);
}

.search-tab-box {
  border: 1px solid #000;
  border-radius: 50px;
  margin: 0 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search-tab {
  font-size: 24px;
  line-height: 1;
  width: 33.3333333333%;
  padding: 20px 10px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}
.search-tab:hover {
  background: #eee;
}

.search-tab.act {
  color: #fff;
  font-weight: bold;
  background: #000;
}

.search-input-box {
  border-bottom: 10px solid #000;
  padding: 0 0 5px;
  margin: 0 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.search-input-box .icon {
  width: 35px;
  padding: 5px;
}
.search-input-box .icon img {
  width: 100%;
}

.search-input {
  width: calc(100% - 35px);
}

.input-src {
  font-size: 24px;
  line-height: 1;
  color: #000;
  width: 100%;
  padding: 10px;
}
.input-src::placeholder {
  color: #ccc;
}

.search-key-txt {
  font-size: 22px;
  line-height: 1.2;
  color: #888;
  text-align: center;
  margin: 0 0 30px;
}
.search-key-txt span {
  color: #000;
  margin: 0 5px;
  font-weight: bold;
}

.src-event-list {
  margin: 0 0 30px;
}

.src-event-box {
  border-bottom: 1px solid #ccc;
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  cursor: pointer;
  transition: 0.2s;
}
.src-event-box:hover {
  opacity: 0.7;
}

.src-event-img {
  width: 255px;
  height: 150px;
}
.src-event-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.src-event-cont {
  color: #000;
  width: calc(100% - 270px);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
}
.src-event-cont .tit-box {
  width: 100%;
  margin: 0 0 10px;
}
.src-event-cont .tit-box .tit {
  font-size: 32px;
  line-height: 1.2;
  font-weight: bold;
  margin: 0 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.src-event-cont .tit-box .txt {
  font-size: 20px;
  line-height: 1.6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.src-event-cont .date {
  font-size: 22px;
  line-height: 1;
  color: #888;
  font-weight: bold;
}

.src-rule-list {
  margin: 0 0 30px;
}

.src-rule-box {
  font-weight: bold;
  padding: 25px 0;
  border-bottom: 1px solid #ccc;
  display: block;
  cursor: pointer;
  transition: 0.2s;
}
.src-rule-box:hover {
  opacity: 0.7;
}
.src-rule-box .tit {
  font-size: 32px;
  color: #000;
  line-height: 1.2;
  margin: 0 0 10px;
}
.src-rule-box .date {
  font-size: 22px;
  line-height: 1;
  color: #888;
}

.src-alumni-list {
  margin: 0 0 30px;
}

.src-alumni-box {
  padding: 25px 0 25px 25px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.src-alumni-box .more-btn {
  width: 100px;
  border: 2px solid #000000;
  border-radius: 50px;
  padding: 9px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}
.src-alumni-box .more-btn:hover {
  color: #fff;
  background: #000;
}

.src-alumni-img {
  width: 100px;
  border-radius: 50px;
  overflow: hidden;
}
.src-alumni-img img {
  width: 100%;
}

.src-alumni-cont {
  width: calc(100% - 240px);
}
.src-alumni-cont .tit {
  font-size: 32px;
  line-height: 1.2;
  font-weight: bold;
  margin: 0 0 10px;
}
.src-alumni-cont .txt {
  font-size: 20px;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.src-alumni-lg-area {
  width: 100%;
  height: 90vh;
  max-width: 1400px;
  max-height: 840px;
  padding: 60px 80px;
  border-radius: 100px 0 0 0;
  background: #FDFDFD;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 12;
  transform: translate(-50%, -50%);
  display: none;
}
.src-alumni-lg-area:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  left: 60px;
  z-index: 2;
}

.src-alumni-close {
  width: 40px;
  height: 40px;
  background: url(../img/btn_close.svg) no-repeat center center/cover;
  position: absolute;
  right: 40px;
  bottom: 40px;
  z-index: 2;
  cursor: pointer;
  transition: 0.2s;
}
.src-alumni-close:hover {
  transform: rotate(-90deg);
}

.src-alumni-lg-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.src-alumni-lg-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  transform: translateY(45px);
}
.src-alumni-lg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.src-alumni-lg-cont {
  width: calc(100% - 250px);
  border-top: 12px solid #000;
  padding-top: 20px;
}

.src-alumni-lg-tit {
  margin: 0 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.src-alumni-lg-tit .name {
  font-size: 46px;
  font-weight: bold;
}
.src-alumni-lg-tit .point {
  font-size: 36px;
}

.src-alumni-lg-edit {
  height: calc(90vh - 250px);
  overflow: hidden;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 12px;
  background: #eee;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 12px;
  background: #ccc;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
  background: #ccc;
}

.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background: #ccc;
}

.fade-img-box, .fade-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}
.fade-img-box img, .fade-img img {
  width: 100%;
}

.fade01.on {
  animation: fadeImg 8s 0.5s infinite;
  z-index: 5;
}

.fade02.on {
  animation: fadeImg 8s 2.5s infinite;
  z-index: 4;
}

.fade03.on {
  animation: fadeImg 8s 4.5s infinite;
  z-index: 3;
}

.fade04.on {
  animation: fadeImg 8s 6.5s infinite;
  z-index: 2;
}

@keyframes fadeImg {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-area {
  position: relative;
}

.fade-img-cont {
  width: 100%;
}
.fade-img-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.fade-cont, .fade-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}
.fade-cont img, .fade-box img {
  width: 100%;
}

.fade-cont2 {
  width: 200px;
  height: 250px;
  position: relative;
}

.fade-box2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.site-map-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.site-map-box {
  width: 48%;
  margin: 0 0 40px;
}

.site-map-tit {
  font-size: 32px;
  line-height: 1.2;
  font-weight: bold;
  padding-bottom: 20px;
  margin: 0 0 30px;
  border-bottom: 10px solid #555;
}

.site-map-link {
  font-size: 20px;
  line-height: 1.6;
}
.site-map-link li {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.site-map-link i {
  margin-right: 5px;
}
.site-map-link a {
  color: #000;
  padding: 2px 10px 2px 0;
  display: inline-block;
  transition: 0.2s;
}
.site-map-link a:hover {
  color: #fff;
  background: #000;
}
.site-map-link span {
  display: inline-block;
}

footer {
  padding: 60px 0;
  background: rgba(0, 0, 0, 0.8);
}

.footer-cont {
  width: 1500px;
  margin: 0 auto;
  padding-left: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-link-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-link-box {
  width: 175px;
  margin: 0 15px 0 0;
}
.footer-link-box:last-child {
  margin: 0;
}
.footer-link-box .tit {
  font-size: 32px;
  line-height: 1;
  color: #fff;
  font-weight: bold;
  margin: 0 0 65px;
}
.footer-link-box a {
  font-size: 22px;
  line-height: 1;
  color: #ccc;
  display: block;
  margin: 0 0 40px;
  cursor: pointer;
  transition: 0.2s;
}
.footer-link-box a:last-child {
  margin: 0;
}
.footer-link-box a:hover {
  color: #fff;
}

.footer-logo {
  margin: 0 0 160px;
}

.footer-info-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  margin: 0 0 15px;
}
.footer-info-box:last-child {
  margin: 0;
}
.footer-info-box span {
  color: #fff;
  margin: 0 0 0 7px;
}
.footer-info-box a {
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}
.footer-info-box a:hover {
  opacity: 0.7;
}

.footer-copyright {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  width: 100%;
}

.test-wrap {
  width: 300px;
  height: 200px;
  margin: 10px;
  background: #ff6c6c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.test-box {
  width: 45%;
  border-radius: 10px;
  overflow: hidden;
}
.test-box img {
  width: 100%;
}
.test-box .t-img {
  width: 80%;
}

.radio-wrap {
  display: inline-block;
  vertical-align: middle;
}

.border-grad {
  border: 2px solid;
  border-image: linear-gradient(145deg, #775729 10%, #eee33d 20%, #775729 30%) 10;
  padding: 50px;
  margin: 10px;
  display: inline-block;
  background: rgba(51, 28, 18, 0.35);
}
.border-grad p {
  background: -webkit-linear-gradient(top, #99432b, #ffaf2e 40%, #fcff96 48%, #fcffff, #fcff96 52%, #ffaf2e 60%, #99432b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1600px) {
  .ind-column-tit .tw {
    font-size: 50px;
  }
  .ind-column-tit .en {
    font-size: 38px;
    bottom: -5px;
  }

  .alumni-tit {
    font-size: 50px;
  }

  .alumni-info-box {
    width: 100%;
    padding: 30px 50px 30px 70px;
  }
  .alumni-info-box:before {
    width: 35px;
    height: 35px;
  }

  .alumni-info-cont .tit {
    font-size: 40px;
    margin: 20px 0;
  }

  .map-txt {
    font-size: 150px;
  }

  .equ-list-box {
    margin: 0 0 30px;
  }
  .equ-list-box .num {
    font-size: 150px;
    top: -17px;
  }

  .equ-list-img-box {
    width: calc(100% - 200px);
  }

  .src-alumni-lg-area {
    width: 95%;
  }

  .footer-cont {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1500px) {
  .footer-cont {
    width: 100%;
    padding: 0 30px;
  }
}
@media screen and (max-width: 1400px) {
  .ham-btn {
    width: 80px;
  }

  .header-cont {
    width: calc(100% - 80px);
  }

  .logo {
    height: 50px;
  }

  .logo-img {
    width: 200px;
  }

  .nav-side-area {
    width: 700px;
    padding-left: 80px;
  }
  .nav-side-area .ham-btn {
    top: 5px;
  }

  .nav-side-cont {
    padding: 50px;
  }

  .nav-side-box {
    min-height: auto;
  }

  .nav-side-tit-box {
    width: 100%;
    margin: 0 0 20px;
  }

  .side-bread {
    width: 80px;
    padding-top: 30px;
  }

  .side-bread-box i {
    margin: 10px 0;
  }

  .main-cont {
    padding: 30px;
    width: calc(100% - 80px);
  }

  .banner-side {
    width: 80px;
  }
  .banner-side .tit {
    line-height: 80px;
  }

  .banner-side-line {
    left: 80px;
  }

  .ind-column-tit {
    padding-bottom: 10px;
    margin: 0 0 20px;
  }
  .ind-column-tit .tw {
    font-size: 44px;
  }
  .ind-column-tit .en {
    font-size: 32px;
  }

  .ind-column-sw .info {
    padding: 20px;
  }
  .ind-column-sw .tit {
    font-size: 36px;
    margin: 0 0 10px;
  }
  .ind-column-sw .sub {
    font-size: 18px;
    min-height: 26px;
  }
  .ind-column-sw p {
    font-size: 18px;
    min-height: 144px;
    margin: 10px 0 0;
  }

  .alumni-tit {
    font-size: 44px;
  }

  .alumni-info-box {
    bottom: -30px;
  }

  .map-txt {
    font-size: 130px;
  }

  .follow-cont:after {
    display: none;
  }

  .follow-box {
    width: 100%;
    margin: 0 0 30px;
  }
  .follow-box:first-child {
    border-right: none;
  }

  .follow-info {
    padding: 20px 20px 30px 20px;
  }

  .ind-news-box {
    margin: 0 0 50px;
  }
  .ind-news-box .date {
    margin: 10px 0;
  }
  .ind-news-box .tit {
    font-size: 28px;
    min-height: 100px;
    margin: 0 0 20px;
  }

  .page-group h2 {
    font-size: 150px;
    top: -52px;
  }

  .page-side {
    padding: 150px 30px 30px 50px;
  }

  .page-cont {
    padding: 150px 30px 30px;
  }

  .news-area-tit {
    font-size: 50px;
    margin: 0 0 20px;
  }

  .news-cont {
    padding: 30px;
  }

  .news-tit-cont {
    padding-bottom: 0;
  }
  .news-tit-cont .tit {
    font-size: 50px;
    margin: 0 0 30px;
  }

  .news-side {
    padding: 30px;
    top: 110px;
  }

  .news-page-btn {
    margin: 0 0 15px;
  }

  .news-page-img {
    margin: 0 0 15px;
  }

  .news-page-tit {
    font-size: 26px;
  }

  .equ-list-page-cont {
    padding-right: 0;
    padding-left: 0;
  }

  .equ-list-cont {
    width: 400px;
    padding: 15px;
  }
  .equ-list-cont .tit {
    font-size: 28px;
    margin: 0 0 10px;
  }
  .equ-list-cont .txt {
    font-size: 18px;
  }

  .footer-link-area {
    width: 100%;
    margin: 0 0 50px;
    justify-content: space-between;
  }

  .footer-link-box .tit {
    font-size: 28px;
    margin: 0 0 35px;
  }
  .footer-link-box a {
    font-size: 18px;
    margin: 0 0 20px;
  }

  .footer-logo-area {
    width: 100%;
    margin: 0 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .footer-link-box {
    margin: 0;
  }

  .footer-logo {
    margin: 0;
  }

  .footer-info-box {
    font-size: 16px;
  }
}
@media screen and (max-width: 1200px) {
  .scrolldown-box {
    width: 12%;
    bottom: 20px;
  }

  .intro-info-tit span {
    font-size: 46px;
    line-height: 46px;
    transform: translateY(7px);
  }

  .intro-info-cont {
    margin: 30px 0 0;
  }

  .intro-info {
    width: 40%;
    margin: 0 0 30px;
  }

  .intro-info-area p {
    font-size: 20px;
  }

  .ind-column-cont {
    width: 100%;
    margin: 0 0 50px;
  }

  .ind-column-sw .info {
    padding: 15px;
  }
  .ind-column-sw .tit {
    font-size: 28px;
  }
  .ind-column-sw .sub {
    font-size: 16px;
    min-height: 26px;
    min-height: auto;
  }
  .ind-column-sw p {
    font-size: 16px;
    min-height: auto;
    padding-left: 10px;
  }

  .alumni-map {
    padding-bottom: 10%;
  }

  .alumni-info-box {
    padding: 20px 30px 20px 60px;
  }
  .alumni-info-box:before {
    width: 20px;
    height: 20px;
    top: 40px;
    left: 40px;
  }

  .alumni-info-img {
    width: 150px;
    height: 150px;
  }

  .alumni-info-cont {
    width: calc(100% - 180px);
  }
  .alumni-info-cont .tit {
    font-size: 30px;
  }
  .alumni-info-cont .cont {
    font-size: 16px;
  }

  .ind-more-btn {
    font-size: 16px;
  }

  .follow-tab {
    font-size: 18px;
  }

  .page-group h2 {
    font-size: 100px;
    top: -34px;
  }

  .page-side {
    padding: 100px 20px 20px;
  }
  .page-side h3 {
    font-size: 40px;
  }

  .page-cont {
    padding: 100px 20px 20px;
  }

  .page-btn {
    font-size: 18px;
  }
  .page-btn .icon {
    width: 34px;
    height: 34px;
    line-height: 30px;
  }

  .news-img {
    width: 250px;
    height: 147px;
  }

  .news-info-cont {
    width: calc(100% - 270px);
  }

  .news-tit {
    font-size: 28px;
  }

  .news-cont {
    padding: 20px;
  }

  .news-tit-cont {
    padding-bottom: 0;
  }
  .news-tit-cont .tit {
    margin: 0 0 20px;
  }

  .news-side {
    top: 100px;
    padding: 20px;
  }

  .teacher-list-box {
    width: calc((100% - 40px) / 3);
    margin: 0 20px 60px 0;
  }
  .teacher-list-box:nth-child(4n) {
    margin: 0 20px 60px 0;
  }
  .teacher-list-box:nth-child(3n) {
    margin: 0 0 60px;
  }

  .teacher-info-area {
    margin: 0 0 30px;
  }

  .teacher-info-tit {
    padding: 0 0 10px;
    margin: 0 0 15px;
  }
  .teacher-info-tit .name {
    font-size: 40px;
    margin: 0;
  }
  .teacher-info-tit .office {
    font-size: 28px;
  }

  .teacher-info-img {
    width: 50%;
    margin: 0 0 20px;
  }

  .teacher-info-box {
    width: 100%;
  }

  .resource-list-box {
    padding: 15px 0;
  }
  .resource-list-box .tit {
    font-size: 28px;
    margin: 0 0 10px;
  }
  .resource-list-box .date {
    font-size: 18px;
  }

  .side-list + .pagination-area {
    margin: 0 0 20px;
  }
  .side-list + .pagination-area a {
    width: 32px;
    height: 32px;
    line-height: 28px;
    margin: 0 2px;
  }

  .resource-tit {
    font-size: 40px;
    margin: 0 0 20px;
  }

  .resource-date {
    font-size: 20px;
    margin: 0 0 20px;
  }

  .equ-list-page-cont {
    padding-right: 0;
    padding-left: 0;
  }

  .equ-list-box .num {
    font-size: 100px;
    top: -12px;
  }

  .equ-list-img-box {
    width: calc(100% - 130px);
  }

  .equ-list-cont {
    width: 100%;
    position: relative;
    background: #eee;
  }
  .equ-list-cont .tit {
    font-size: 26px;
  }
  .equ-list-cont .txt {
    font-size: 18px;
  }

  .search-tab-box {
    border: none;
    margin: 0 0 15px;
  }

  .search-tab {
    font-size: 20px;
    width: 50%;
    padding: 15px 10px;
  }

  .search-input-box {
    margin: 0 0 15px;
  }

  .search-key-txt {
    margin: 0 0 15px;
  }

  .src-event-box {
    padding: 20px 0;
  }

  .src-event-img {
    width: 100%;
    height: auto;
    margin: 0 0 15px;
  }

  .src-event-cont {
    width: 100%;
  }
  .src-event-cont .tit-box .tit {
    font-size: 28px;
  }

  .src-rule-box .tit {
    font-size: 28px;
  }

  .src-alumni-box {
    padding: 20px 0 20px 20px;
  }
  .src-alumni-box .more-btn {
    width: 100%;
    margin: 10px 0 0;
  }

  .src-alumni-cont {
    width: calc(100% - 120px);
  }
  .src-alumni-cont .tit {
    font-size: 28px;
  }

  .src-alumni-lg-area {
    padding: 30px 40px;
  }
  .src-alumni-lg-area:before {
    top: 40px;
    left: 40px;
  }

  .src-alumni-lg-cont {
    width: calc(100% - 230px);
    padding-top: 10px;
  }

  .src-alumni-lg-tit {
    margin: 0 0 30px;
  }
  .src-alumni-lg-tit .name {
    font-size: 42px;
  }
  .src-alumni-lg-tit .point {
    font-size: 32px;
  }

  .site-map-box {
    margin: 0 0 30px;
  }

  .site-map-tit {
    font-size: 26px;
    padding-bottom: 10px;
    margin: 0 0 20px;
  }

  footer {
    padding: 50px 0 20px;
  }

  .footer-link-box {
    width: 130px;
  }
  .footer-link-box .tit {
    font-size: 24px;
    margin: 0 0 25px;
  }

  .footer-logo {
    width: 300px;
  }
  .footer-logo img {
    width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .site-map-box {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .ham-btn {
    width: 50px;
  }

  .hamburger {
    padding: 5px;
  }

  .hamburger-box {
    width: 30px;
    height: 30px;
  }

  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    width: 30px;
    height: 3px;
  }

  .hamburger-inner:before {
    top: -10px;
  }

  .hamburger-inner:after {
    bottom: -10px;
  }

  .nav-side-area {
    width: 350px;
    padding-left: 50px;
  }

  .nav-side-cont {
    padding: 20px;
    border-left: 6px solid #888;
  }

  .nav-side-tit-box {
    margin: 0 0 10px 0;
  }

  .nav-side-tit-box.line:after {
    width: calc(100% - 130px);
  }

  .nav-side-tit-box.line02:after {
    width: calc(100% - 230px);
  }

  .nav-side-box {
    margin: 0 0 20px;
  }

  .nav-side-tit {
    font-size: 20px;
    padding-right: 10px;
  }
  .nav-side-tit .num {
    font-size: 22px;
    -webkit-text-stroke: 1px #fff;
  }

  .nav-side-sup a {
    font-size: 16px;
    margin: 0 0 10px;
  }

  .header-cont {
    width: calc(100% - 50px);
    padding: 5px 10px;
    border-left: 6px solid #000;
  }

  .header-cont-side-w {
    border-color: transparent;
  }

  .logo {
    height: 40px;
  }

  .logo-img {
    width: 150px;
  }

  .logo-img-w {
    transform: translate(-10px, -5px);
  }

  .func-area .icon {
    margin: 0 10px;
  }

  .side-bread {
    width: 50px;
    padding-top: 15px;
  }

  .side-bread-box {
    font-size: 16px;
  }
  .side-bread-box i {
    margin: 5px 0;
  }

  .main-cont {
    width: calc(100% - 50px);
    border-left: 6px solid #000;
    padding: 15px;
  }

  .banner-video {
    height: 0;
    padding-bottom: 82%;
  }
  .banner-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .banner-side {
    width: 50px;
  }
  .banner-side .tit {
    line-height: 50px;
  }

  .banner-side-line {
    width: 6px;
    left: 50px;
  }

  .banner-side-cont .tit {
    font-size: 12px;
  }

  .banner-side .icon {
    width: 25px;
    margin: 10px auto;
  }

  .scrolldown-box {
    width: 15%;
    bottom: 10px;
  }

  .intro-area {
    justify-content: center;
  }

  .intro-info-area {
    width: 100%;
    margin: 0 0 20px;
    order: 1;
  }

  .intro-info-tit {
    border-bottom: 5px solid #000;
  }
  .intro-info-tit span {
    font-size: 60px;
    line-height: 60px;
    transform: translateY(10px);
  }

  .intro-letter {
    width: 90%;
    order: 2;
  }

  .intro-info-cont {
    margin: 20px 0 0;
  }

  .intro-info {
    margin: 0 0 20px;
  }

  .intro-info-area p {
    font-size: 16px;
  }

  .ind-column-tit {
    border-bottom: 5px solid #333;
  }
  .ind-column-tit .tw {
    font-size: 34px;
  }
  .ind-column-tit .en {
    font-size: 28px;
  }

  .ind-column-sw p {
    font-size: 14px;
  }

  .alumni-tit {
    font-size: 34px;
  }

  .alumni-map {
    padding: 0;
  }

  .alumni-info-box {
    padding: 10px 20px 10px 30px;
    border-radius: 45px 0 0 0;
    margin: -50px 0 0 0;
    position: relative;
    bottom: 0;
    left: 0;
    transform: translateY(15px);
  }
  .alumni-info-box:before {
    width: 20px;
    height: 20px;
    top: 20px;
    left: 20px;
  }

  .alumni-info-img {
    width: 100px;
    height: 100px;
  }

  .alumni-info-cont {
    width: calc(100% - 130px);
    border-top: 6px solid #000;
  }
  .alumni-info-cont .tit {
    font-size: 26px;
    margin: 10px 0;
  }

  .ind-more-btn {
    font-size: 14px;
    padding: 3px 20px;
  }

  .map-txt {
    font-size: 70px;
  }

  .alumni-sw-area {
    justify-content: center;
  }

  .follow-tit {
    margin: 0 0 30px;
  }

  .follow-tab {
    font-size: 16px;
    width: 90%;
  }

  .follow-box {
    margin: 0 0 20px;
  }

  .follow-info span {
    font-size: 16px;
    width: 100%;
    height: auto;
  }

  .follow-yt-box {
    width: 100%;
    height: 0;
    padding-bottom: 55%;
  }

  .ind-news-box {
    width: 100%;
    margin: 0 0 30px;
  }
  .ind-news-box .date {
    font-size: 18px;
    margin: 3px 0;
  }
  .ind-news-box .tit {
    font-size: 22px;
    min-height: auto;
    margin: 0 0 10px;
  }
  .ind-news-box .cont {
    font-size: 16px;
  }

  .page-group h2 {
    font-size: 48px;
    line-height: 36px;
    position: relative;
    color: rgba(196, 196, 196, 0.7);
    background: rgba(255, 255, 255, 0.6);
    top: 0;
  }

  .page-side {
    width: 100%;
    position: relative;
    padding: 15px;
  }
  .page-side h3 {
    font-size: 36px;
  }

  .page-side-nav {
    margin: 0 0 10px;
  }

  .page-side-nav-area {
    margin: 15px 0 0;
  }
  .page-side-nav-area a {
    font-size: 18px;
  }
  .page-side-nav-area .act:after {
    width: calc(100% - 90px);
  }

  .circle-txt {
    width: 30%;
    margin: 0;
    opacity: 0.7;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .page-cont {
    width: 100%;
    padding: 15px;
  }

  .download-area .tit {
    font-size: 24px;
    border-bottom: 5px solid #555;
    padding: 0 0 5px;
    margin: 0 0 10px;
  }
  .download-area a {
    font-size: 16px;
  }

  .edit-area .def {
    font-size: 16px;
    margin: 0 0 15px;
  }
  .edit-area .def-list {
    font-size: 16px;
    margin: 0 0 15px;
  }
  .edit-area .def + .def-list {
    margin: -15px 0 15px;
  }

  .page-btn {
    font-size: 16px;
  }
  .page-btn .icon {
    width: 30px;
    height: 30px;
    line-height: 26px;
  }

  .pagination-area {
    margin: 0 0 20px;
  }
  .pagination-area a {
    font-size: 13px;
    width: 26px;
    height: 26px;
    line-height: 22px;
    margin: 0 2px;
  }

  .page-btn-area {
    margin: 15px 0 0;
  }

  .news-area-tit {
    font-size: 36px;
    margin: 0 0 10px;
  }

  .news-list {
    margin: 0 0 30px;
  }

  .news-box {
    margin: 0 0 30px;
  }

  .news-img {
    width: 100%;
    height: auto;
    margin: 0 0 15px;
  }

  .news-info-cont {
    width: 100%;
  }

  .news-tit {
    font-size: 22px;
  }

  .news-txt, .news-date {
    font-size: 16px;
  }

  .news-main-area {
    width: 100%;
    margin: 0 0 20px;
  }
  .news-main-area:last-child {
    margin: 0;
  }

  .news-cont {
    padding: 15px;
  }

  .news-tit-cont {
    padding-bottom: 0;
    margin: 0 0 10px;
  }
  .news-tit-cont .tit {
    font-size: 30px;
    margin: 0 0 10px;
  }
  .news-tit-cont .date {
    font-size: 16px;
  }

  .news-side {
    width: 100%;
    position: relative;
    top: 0px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .news-page-btn-area {
    width: 48%;
    margin: 0;
  }

  .news-page-btn {
    margin: 0 0 10px;
    padding: 0 0 5px;
    border-bottom: 5px solid #555;
  }

  .news-page-img {
    margin: 0 0 10px;
  }

  .news-page-tit {
    font-size: 20px;
  }

  .teacher-list-area {
    justify-content: space-between;
  }

  .teacher-list-box {
    width: 48%;
    margin: 0 0 30px;
  }
  .teacher-list-box:nth-child(4n) {
    margin: 0 0 30px;
  }
  .teacher-list-box:nth-child(3n) {
    margin: 0 0 30px;
  }
  .teacher-list-box .name {
    font-size: 20px;
  }
  .teacher-list-box .cont {
    font-size: 18px;
  }

  .teacher-info-tit {
    padding: 0 0 5px;
    margin: 0 0 10px;
    border-bottom: 5px solid #555;
  }
  .teacher-info-tit .name {
    font-size: 36px;
    margin: 0;
  }
  .teacher-info-tit .office {
    font-size: 24px;
  }

  .teacher-info-img {
    width: 60%;
    margin: 0 auto 10px;
  }

  .teacher-links {
    font-size: 16px;
    margin: 0 0 15px;
  }
  .teacher-links li {
    margin: 0 0 10px;
  }

  .teacher-class-box {
    font-size: 16px;
  }
  .teacher-class-box .tit {
    width: 80px;
    padding-right: 10px;
  }
  .teacher-class-box .class-list {
    width: calc(100% - 80px);
  }

  .resource-list-box {
    padding: 10px 0;
  }
  .resource-list-box .tit {
    font-size: 22px;
    margin: 0;
  }
  .resource-list-box .date {
    font-size: 16px;
  }

  .side-list + .pagination-area a {
    font-size: 13px;
    width: 26px;
    height: 26px;
    line-height: 24px;
    border: 1px solid #000;
    margin: 0 1px;
  }

  .resource-tit {
    font-size: 36px;
    margin: 0 0 10px;
  }

  .resource-date {
    font-size: 18px;
    margin: 0 0 10px;
  }

  .equ-list-page-cont {
    padding-right: 0;
    padding-left: 0;
  }

  .equ-list-box {
    margin: 0 0 15px;
  }

  .equ-list-cont .tit {
    font-size: 22px;
  }
  .equ-list-cont .txt {
    font-size: 16px;
  }

  .search-tab {
    width: 100%;
    font-size: 18px;
    padding: 10px;
  }

  .search-input-box {
    border-bottom: 5px solid #000;
    padding: 0;
  }

  .input-src {
    font-size: 20px;
  }

  .search-key-txt {
    font-size: 18px;
  }

  .src-event-list {
    margin: 0 0 20px;
  }

  .src-event-box {
    padding: 15px 0;
  }

  .src-event-cont .tit-box .tit {
    font-size: 22px;
  }
  .src-event-cont .tit-box .txt {
    font-size: 16px;
  }
  .src-event-cont .date {
    font-size: 16px;
  }

  .src-rule-list {
    margin: 0 0 20px;
  }

  .src-rule-box {
    padding: 15px 0;
  }
  .src-rule-box .tit {
    font-size: 22px;
  }
  .src-rule-box .date {
    font-size: 16px;
  }

  .src-alumni-list {
    margin: 0 0 20px;
  }

  .src-alumni-box {
    padding: 15px 0 15px 15px;
  }

  .src-alumni-img {
    width: 80px;
  }

  .src-alumni-cont {
    width: calc(100% - 90px);
  }
  .src-alumni-cont .tit {
    font-size: 22px;
    margin: 0 0 5px;
  }
  .src-alumni-cont .txt {
    font-size: 16px;
  }

  .src-alumni-lg-area {
    padding: 20px;
    height: 90vh;
    max-height: 765px;
  }

  .src-alumni-close {
    right: 20px;
    bottom: 20px;
  }

  .src-alumni-lg-img {
    width: 150px;
    height: 150px;
    transform: translateX(70px);
    margin: 0 0 20px;
  }

  .src-alumni-lg-cont {
    width: 100%;
  }

  .src-alumni-lg-tit {
    margin: 0 0 10px;
  }
  .src-alumni-lg-tit .name {
    font-size: 38px;
  }
  .src-alumni-lg-tit .point {
    font-size: 30px;
  }

  .src-alumni-lg-edit {
    height: calc(90vh - 350px);
  }

  .mCSB_scrollTools .mCSB_draggerRail {
    width: 6px;
  }

  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 6px;
  }

  .site-map-area {
    padding: 0 10px;
  }

  .site-map-tit {
    border-bottom: 5px solid #555;
    padding-bottom: 5px;
    margin: 0 0 10px;
  }

  .site-map-link {
    font-size: 18px;
  }

  .footer-cont {
    padding: 0 20px;
  }

  .footer-link-box {
    width: 50%;
    margin: 0 0 25px;
    padding: 0 10px;
  }
  .footer-link-box .tit {
    font-size: 20px;
    margin: 0 0 15px;
  }
  .footer-link-box a {
    font-size: 16px;
    margin: 0 10px;
    display: inline-block;
  }

  .footer-logo {
    width: 250px;
  }

  .footer-copyright {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .intro-info-tit span {
    font-size: 36px;
    line-height: 36px;
    transform: translateY(6px);
  }

  .intro-info {
    width: 50%;
  }

  .ind-column-cont {
    margin: 0 0 30px;
  }

  .ind-column-btn {
    margin: 20px 0 0;
  }
  .ind-column-btn .swiper-button-prev, .ind-column-btn .swiper-button-next {
    width: 30px;
    height: 30px;
  }
  .ind-column-btn a {
    font-size: 14px;
    line-height: 14px;
  }

  .follow-name {
    width: 100%;
    margin: 0 0 12px;
  }

  .follow-info {
    padding: 10px;
  }

  .follow-fb-box {
    width: 260px;
    height: auto;
  }

  .pc-fb {
    display: none;
  }

  .mb-fb {
    display: block;
  }

  .equ-list-box .num {
    font-size: 60px;
    top: -8px;
  }

  .equ-list-img-box {
    width: calc(100% - 80px);
  }

  .src-alumni-lg-tit .name {
    width: 100%;
  }

  .src-alumni-lg-edit {
    height: calc(90vh - 380px);
  }

  .footer-link-box {
    width: 100%;
    text-align: center;
  }

  .footer-info {
    width: 100%;
    margin: 20px 0 0;
  }
}
@media screen and (max-width: 480px) {
  .ind-column-tit {
    padding-bottom: 0;
    margin: 0 0 10px;
  }
  .ind-column-tit .tw {
    width: 100%;
    margin: 0 0 5px;
  }
  .ind-column-tit .en {
    position: relative;
    bottom: 0;
    right: 0;
  }
  .ind-column-tit .en br {
    display: none;
  }

  .ind-column-sw-cont {
    width: 70%;
    margin: 0 auto;
  }

  .alumni-info-box:before {
    width: 15px;
    height: 15px;
  }

  .alumni-info-img {
    width: 80px;
    height: 80px;
  }

  .alumni-info-cont {
    width: calc(100% - 90px);
  }
  .alumni-info-cont .tit {
    font-size: 20px;
    margin: 10px 0 5px;
  }
  .alumni-info-cont .cont {
    font-size: 14px;
  }

  .map-txt {
    font-size: 46px;
  }

  .alumni-sw-cont {
    width: 275px;
  }
  .alumni-sw-cont .swiper-slide {
    padding: 2.5px;
  }

  .alumni-sw .swiper-button-prev {
    left: -12px;
  }
  .alumni-sw .swiper-button-next {
    right: -12px;
  }
}
@media screen and (max-width: 414px) {
  .logo-img-w {
    width: 100px;
    padding: 10px;
    box-sizing: border-box;
  }

  .follow-tab {
    font-size: 14px;
    padding: 10px 15px;
  }

  .follow-name {
    margin: 0 0 10px;
  }
}
@media screen and (max-width: 375px) {
  .func-area .icon {
    margin: 0 5px;
  }
}
