include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'關於本所'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 ABOUT US
                    .page-side
                        h3 國立臺灣藝術大學 電影學系
                        .circle-txt
                            img(src="img/bg_img.svg", alt="")
                    .page-cont
                        .edit-area
                            p.def 國立台灣藝術大學電影學系是國內最具電影人文與歷史傳承、孕育台灣當代電影大師的學術機構。本系傑出校友侯孝賢導演與李安導演立足於國際影壇，藝術聲譽卓越，不僅是台灣電影在國際影壇發光發熱的最佳代言人，獲得無數世界一級影展之桂冠與殊榮，更引領了當代的電影人文美學思潮、樹立了極致的導演藝術典範，持續對一整個世代的電影人發揮巨大的影響力。 
                            p.def 電影學系自成立以來，秉持人文教育與電影職能訓練並重的理念，提供嚴謹的電影創作實務學習課程，協助學生透視電影語言，促進藝術表達能力與團隊合作精神，強調電影製作技術與電影學術研究的全方位提昇。 
                            p.def 電影學系課程兼顧理論領域與創作領域，一方面著重本系學生影像文化思辨能力的養成，另一方面，電影學系的教學目標更著力於電影創作、音像技術、導演實務、影視媒體新科技之引介，以符合影視產業就業之所需。
                            p.def 為了開拓國際視野，電影學系近年來配合台北市縣電影節及各國文化中心，規劃一系列影展活動，其中「國際學生影展金獅獎」已在全世界重要的國際學生影展中聲譽鵲起，成為各國電影教學機構學生作品送展之重要選擇，逐漸與國際電影製作發展的趨勢相互接軌。 
                            p.def 除了大學部課程之外，為因應國際影像生產與製作之趨勢、培育電影藝術與新興科技整合與應用之人才，本系奉教育部核定於民國九十四年成立研究所碩士班，提供有志於電影創作與深化電影導演實務的藝術人才繼續深造的機會，以取得藝術碩士（ＭＦＡ）學位。 
                            img(src="img/about_img.jpg", alt="")
                -const pageBtn={'isBack':false};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer