include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .equ-video-lg-area#equVideoArea
            .equ-video-cont
                .equ-video-box
                    .lg-close
                    iframe(src="https://www.youtube.com/embed/E8DC5mxEx0c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen")
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'空間設備 - 器材設備'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 EQUIPMENT
                    .page-side
                        h3 空間設備
                        -const pageSideNav=[{'name':'交誼空間','link':'social_list.html'},{'name':'專業空間','link':'professional_list.html'},{'name':'器材設備','link':'equipment_list.html','isAct':true}];
                        +pageSideNavArea(pageSideNav)
                    .page-cont.equ-list-page-cont
                        .equ-list-area
                            -const equ01={'num':'01','img':'equ01.jpg','tit':'燈光類－HMI系列燈具','txt':'HMI燈的亮度是傳統白熾燈的4倍，可用來照亮大範圍場域，其色溫約5500K至6000K，光線呈藍白色，適合模擬直射的太陽。'}
                            +equListBox(equ01)
                            -const equ02={'num':'02','img':'equ02.jpg','tit':'攝影類－底片攝影機','txt':'電影系目前仍保持底片拍攝傳統，大一課程拍攝Bolex作業，大二上課程採用SR3完成，兩者均為16MM底片攝影機。'}
                            +equListBox(equ02)
                            -const equ03={'num':'03','img':'equ03.jpg','tit':'攝影類－數位攝影機','txt':'RED EPIC-W此款攝影機擁有緊湊且設計直觀的 DSMC2™ 系統和全新的 HELIUM™ 8K S35 傳感器。'}
                            +equListBox(equ03)
                            -const equ04={'num':'04','img':'equ04.jpg','tit':'錄音類－Sound Devices','txt':'搭配使用的麥克風有Sennheiser MKH-416或Rode NTG3，無線麥克風為Sony UWP-V1。'}
                            +equListBox(equ04)
                            -const equ05={'num':'05','img':'E8DC5mxEx0c','tit':'錄音類－Sound Devices','txt':'搭配使用的麥克風有Sennheiser MKH-416或Rode NTG3，無線麥克風為Sony UWP-V1。'}
                            +equListVideo(equ05)
                -const pageBtn={'isBack':false};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer
script.
    $(document).ready(function(){
        $('.equ-video').on('click',function(){
            $('#equVideoArea').fadeIn(500);
        });
        $('.lg-close').on('click',function(){
            $('#equVideoArea').fadeOut(500);
        });
    });