include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/nav
		//校友地圖 - light
		+alumniLg
		.banner-video
			.video-box#videoBox
				iframe(src="https://www.youtube.com/embed/ovMfkkG0Npw?controls=0&autoplay=1&mute=1&loop=1&playlist=ovMfkkG0Npw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
			.scrolldown-box
				img(src="img/scrolldown.png", alt="scrolldown")
			.banner-side-line
			.banner-side
				.banner-side-cont
					.tit FOLLOW US
					a(href="###" target="_blank").icon
						img(src="img/icon_yt.svg", alt="")
					a(href="###" target="_blank").icon
						img(src="img/icon_fb.svg", alt="")
		//- Introduction
		.main-wrap.noise-bg
			.side-bread
			.main-cont
				.intro-area
					.intro-letter
						img(src="img/letter.svg", alt="")
					.intro-info-area
						.intro-info-tit
							span INTRODUCTION
						.intro-info-cont
							-const introInfoList=[{'img':'inrto01.svg','txt':'自由學風'},{'img':'inrto02.svg','txt':'人文傳承'},{'img':'inrto03.svg','txt':'國際視野'},{'img':'inrto04.svg','txt':'創新思維'}];
							each n in introInfoList
								.intro-info
									img(src="img/"+n.img, alt=n.txt)
						p 電影系鼓勵學生以自由的形式、多元的敘事觀點、蘊含豐富情感的文本，說出屬於自已特別的故事。 
		//- 師資陣容 和 空間設備
		.main-wrap
			.side-bread
			.main-cont
				.ind-column-area
					//- 師資陣容
					.ind-column-cont
						.ind-column-tit
							.tw 師資陣容
							.en FACULTY
						.ind-column-sw-area
							.swiper.ind-column-sw-cont#teacherSw
								.swiper-wrapper
									//- 國立臺灣藝術大學電影系專任教授。曾任國立臺灣藝術大學學術副校長、臺藝大電影系主任。
									-const teacher01={'img':'teacher01.jpg','name':'吳秀菁','sub':'副教授兼系主任','cont':'美國芝加哥藝術學院電影創作碩士MFA，曾任大葉大學視覺傳達設計系專任助理教授、世新大學廣播電視電影創作研究所兼任助理教授等職。'}
									+indColumnSw(teacher01)
									-const teacher02={'img':'teacher02.jpg','name':'吳佩慈','sub':'教授','cont':'國立臺灣藝術大學電影系專任教授。曾任國立臺灣藝術大學學術副校長、臺藝大電影系主任。'}
									+indColumnSw(teacher02)
									-const teacher03={'img':'teacher03.jpg','name':'廖金鳳','sub':'教授','cont':'紐約大學(NYU)電影研究(Cinema Studies)碩士主要專長台灣電影史、華語電影史、電影史學、​電影敘事研究、電影與新媒體、紀錄片企劃與製作'}
									+indColumnSw(teacher03)
								.ind-column-btn
									.swiper-button-prev.teacher-prev
									.swiper-button-next.teacher-next
									a(href="teachers_list.html") View All
					//- 空間設備
					.ind-column-cont
						.ind-column-tit
							.tw 空間設備
							.en SPACE & <br>EQUIPMENTS
						.ind-column-sw-area
							.swiper.ind-column-sw-cont.dark#spaceSw
								.swiper-wrapper
									//- 國立臺灣藝術大學電影系專任教授。曾任國立臺灣藝術大學學術副校長、臺藝大電影系主任。
									-const space01={'img':'equ01.jpg','name':'道具間','sub':'','cont':'電影美術們常來挖寶的地方。琳瑯滿目的裝飾和道具可以選用。空間與道具陳設，大型道具、小型道具、服裝等設備供租用，並具充裕的化妝間、布景緩衝區。提供國內專業、標準之媒體製作環境。','isEqu':true}
									+indColumnSw(space01)
									-const space02={'img':'equ02.jpg','name':'攝影棚','sub':'','cont':'電影美術們常來挖寶的地方。琳瑯滿目的裝飾和道具可以選用。空間與道具陳設，大型道具、小型道具、服裝等設備供租用，並具充裕的化妝間、布景緩衝區。提供國內專業、標準之媒體製作環境。','isEqu':true}
									+indColumnSw(space02)
									-const space03={'img':'equ03.jpg','name':'攝影棚','sub':'','cont':'電影美術們常來挖寶的地方。琳瑯滿目的裝飾和道具可以選用。空間與道具陳設，大型道具、小型道具、服裝等設備供租用，並具充裕的化妝間、布景緩衝區。提供國內專業、標準之媒體製作環境。','isEqu':true}
									+indColumnSw(space03)
								.ind-column-btn
									.swiper-button-prev.space-prev
									.swiper-button-next.space-next
									a(href="equipment_list.html") View All
		//- 校友地圖
		.main-wrap.alumni-bg
			.side-bread
			.main-cont
				.alumni-area
					.alumni-tit 校友地圖
					.alumni-sw-area
						.alumni-sw
							.swiper.alumni-sw-cont#alumniSw
								.swiper-wrapper
									-const alumniSwImg01={'img':'alumni01.jpg',isTw:true};
									+alumniSwBox(alumniSwImg01)
									-const alumniSwImg02={'img':'alumni02.jpg',isTw:true};
									+alumniSwBox(alumniSwImg02)
									-const alumniSwImg03={'img':'alumni03.jpg',isTw:true};
									+alumniSwBox(alumniSwImg03)
									-const alumniSwImg04={'img':'alumni04.jpg',isTw:true};
									+alumniSwBox(alumniSwImg04)
									-const alumniSwImg05={'img':'alumni05.jpg',isTw:true};
									+alumniSwBox(alumniSwImg05)
									-const alumniSwImg06={'img':'alumni01.jpg'};
									+alumniSwBox(alumniSwImg06)
									-const alumniSwImg07={'img':'alumni02.jpg'};
									+alumniSwBox(alumniSwImg07)
									-const alumniSwImg08={'img':'alumni03.jpg'};
									+alumniSwBox(alumniSwImg08)
									-const alumniSwImg09={'img':'alumni04.jpg'};
									+alumniSwBox(alumniSwImg09)
									-const alumniSwImg10={'img':'alumni05.jpg'};
									+alumniSwBox(alumniSwImg10)
									+alumniSwBox(alumniSwImg06)
									+alumniSwBox(alumniSwImg07)
									+alumniSwBox(alumniSwImg08)
									+alumniSwBox(alumniSwImg09)
									+alumniSwBox(alumniSwImg10)
									+alumniSwBox(alumniSwImg06)
									+alumniSwBox(alumniSwImg07)
									+alumniSwBox(alumniSwImg08)
									+alumniSwBox(alumniSwImg09)
									+alumniSwBox(alumniSwImg10)
									+alumniSwBox(alumniSwImg06)
									+alumniSwBox(alumniSwImg07)
									+alumniSwBox(alumniSwImg08)
							.swiper-button-prev.alumni-prev <i class="fas fa-angle-left"></i>
							.swiper-button-next.alumni-next <i class="fas fa-angle-right"></i>
					.alumni-map-area
						.alumni-map
							img(src="img/map_dot.svg", alt="")
							.map-txt DISTINGUISHED ALUMNI
							-const alumni01={'place':'alumni01','dotId':'alumni01','img':'alumni01.jpg'}
							+alumniBox(alumni01)
							-const alumni02={'place':'alumni02','dotId':'alumni02','img':'alumni02.jpg'}
							+alumniBox(alumni02)
							-const alumni03={'place':'alumni03','dotId':'alumni03','img':'alumni03.jpg'}
							+alumniBox(alumni03)
							-const alumni04={'place':'alumni04','dotId':'alumni04','img':'alumni04.jpg'}
							+alumniBox(alumni04)
							-const alumni05={'place':'alumni05','dotId':'alumni05','img':'alumni05.jpg'}
							+alumniBox(alumni05)
						.alumni-info-box
							.alumni-info-img#alumniInfoImg
								img(src="img/alumni01.jpg", alt="")
							.alumni-info-cont
								.tit 李安
								.cont 曾獲得多個主要國際電影獎項，包括兩屆奧斯卡金像獎、兩屆金球獎、兩屆威尼斯影展最佳影片金獅獎以及兩屆柏林影展最佳影片金熊獎、英國電影學院獎終身成就獎。歷史首位曾於奧斯卡獎、英國電影學院獎以及金球獎三大世界性電影頒獎典禮上都獲得最佳導演獎項的華人導演。
								.ind-more-btn-box
									.ind-more-btn#alumniMore more
		//- 校友地圖
		.main-wrap.follow-bg
			.side-bread
			.main-cont
				.follow-area
					.follow-tit FOLLOW US
					.follow-cont
						.follow-box
							.follow-tab
								.follow-name
									.icon
										img(src="img/icon_fb_b.svg", alt="")
									span Facebook專頁
								.follow-tag @國立臺灣藝術大學電影學系
							.follow-info
								span 
								.follow-fb-box
									#fb-root
									script(async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v13.0" nonce="xdgeQNLo")
									.pc-fb
										div(class="fb-page" data-href="https://www.facebook.com/%E5%9C%8B%E7%AB%8B%E8%87%BA%E7%81%A3%E8%97%9D%E8%A1%93%E5%A4%A7%E5%AD%B8%E9%9B%BB%E5%BD%B1%E5%AD%B8%E7%B3%BB-425817087472120/" data-tabs="timeline, events, messages" data-width="475" data-height="318" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false")
											blockquote(cite="https://www.facebook.com/%E5%9C%8B%E7%AB%8B%E8%87%BA%E7%81%A3%E8%97%9D%E8%A1%93%E5%A4%A7%E5%AD%B8%E9%9B%BB%E5%BD%B1%E5%AD%B8%E7%B3%BB-425817087472120/" class="fb-xfbml-parse-ignore")
												a(href="https://www.facebook.com/%E5%9C%8B%E7%AB%8B%E8%87%BA%E7%81%A3%E8%97%9D%E8%A1%93%E5%A4%A7%E5%AD%B8%E9%9B%BB%E5%BD%B1%E5%AD%B8%E7%B3%BB-425817087472120/") 國立臺灣藝術大學電影學系
									.mb-fb
										div(class="fb-page" data-href="https://www.facebook.com/%E5%9C%8B%E7%AB%8B%E8%87%BA%E7%81%A3%E8%97%9D%E8%A1%93%E5%A4%A7%E5%AD%B8%E9%9B%BB%E5%BD%B1%E5%AD%B8%E7%B3%BB-425817087472120/" data-tabs="timeline, events, messages" data-width="260" data-height="200" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false")
											blockquote(cite="https://www.facebook.com/%E5%9C%8B%E7%AB%8B%E8%87%BA%E7%81%A3%E8%97%9D%E8%A1%93%E5%A4%A7%E5%AD%B8%E9%9B%BB%E5%BD%B1%E5%AD%B8%E7%B3%BB-425817087472120/" class="fb-xfbml-parse-ignore")
												a(href="https://www.facebook.com/%E5%9C%8B%E7%AB%8B%E8%87%BA%E7%81%A3%E8%97%9D%E8%A1%93%E5%A4%A7%E5%AD%B8%E9%9B%BB%E5%BD%B1%E5%AD%B8%E7%B3%BB-425817087472120/") 國立臺灣藝術大學電影學系
						.follow-box
							.follow-tab
								.follow-name
									.icon
										img(src="img/icon_yt_b.svg", alt="")
									span Youtube頻道
								.follow-tag @臺藝影
							.follow-info
								span 國立臺灣藝術大學電影學系碩士在職專班招生
								.follow-yt-box
									iframe(src="https://www.youtube.com/embed/BDHLnpgALqo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
		//- 校友地圖
		.main-wrap
			.side-bread
			.main-cont
				.ind-news-area
					-const indNew01={'img':'ind_news01.jpg','date':'2021.09.30','tit':'【競賽資訊】2021第五屆台北金雕微電影展','cont':'國際間的永續發展思潮不斷推進，企業永續概念亦持續進展，重點由過往關注之企業社會責任三面向——環境保護、社會共融、公司治理，擴大為全球永續發展目標（Sustainable Development Goals, SDGs）；'}
					+indNewsBox(indNew01)
					-const indNew02={'img':'ind_news02.jpg','date':'2021.09.30','tit':'【學務】108年度深耕計畫【獎助教職員生參加國際教學展演競賽】開放申請(6月14日下午17時截止)','cont':'108年度高教深耕計畫「獎助教職員生參加國際教學展演競賽」開始受理申請，請詳加閱讀本獎助要點後提出申請。<br>依本校高教深耕計畫「國立臺灣藝術大學獎助教職員生參加國際教學展演競賽實施要點」(如附件一)辦理。'}
					+indNewsBox(indNew02)
					-const indNew03={'img':'ind_news03.jpg','date':'2021.09.30','tit':'【其他】2021大觀國際表演藝術節 -《巴別塔》','cont':'神話說上天用語言的分歧來教訓人類的傲慢，2021大觀國際表演藝術節用音樂、戲劇、舞蹈及跨域劇場的視聽語彙，用表演藝術帶您進入嶄新的巴別塔領域。您不用擔心現實的喧囂，進入巴別塔之中，大觀國際表演藝術節用與眾不同的表演藝術視角...'}
					+indNewsBox(indNew03)
					-const indNew04={'img':'ind_news04.jpg','date':'2021.09.30','tit':'【競賽資訊】2021 UTEE茶莊背包客輕旅行短片比賽','cont':'108年度高教深耕計畫「獎助教職員生參加國際教學展演競賽」開始受理申請，請詳加閱讀本獎助要點後提出申請。<br>依本校高教深耕計畫「國立臺灣藝術大學獎助教職員生參加國際教學展演競賽實施要點」(如附件一)辦理。'}
					+indNewsBox(indNew04)
				.ind-more-btn-box
					a(href="news_list.html").ind-more-btn more
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		//=== 首頁 Nav 狀態變更 ===
		indexNav();

		//=== banner video ===
		//- <!-- 1. The <iframe> (video player) will replace this <div> tag. -->
		//- <div id="player"></div>
		// 2. This code loads the IFrame Player API code asynchronously.
		//- var tag = document.createElement('script');

		//- tag.src = "https://www.youtube.com/iframe_api";
		//- var firstScriptTag = document.getElementsByTagName('script')[0];
		//- firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

		//- // 3. This function creates an <iframe> (and YouTube player)
		//- //    after the API code downloads.
		//- var player;
		//- function onYouTubeIframeAPIReady() {
		//- 	player = new YT.Player('videoBox', {
		//- 		width: '100%',
		//- 		height: '100%',
		//- 		videoId: 'ovMfkkG0Npw',
		//- 		playerVars: { 'autoplay': 1, 'playsinline': 1 },
		//- 		events: {
		//- 			'onReady': onPlayerReady
		//- 		}
		//- 	});
		//- }

		//- // 4. The API will call this function when the video player is ready.
		//- function onPlayerReady(event) {
		//- 	event.target.mute();
		//- 	event.target.playVideo();
		//- }

		//=== 師資陣容 Sw===
		const teacherSw = new Swiper('#teacherSw', {
			// Optional parameters
			//- direction: 'vertical',
			slidesPerView: 2,
			spaceBetween: 30,
			centeredSlides: true,
			//- autoHeight: true,
			loop: true,
			// Navigation arrows
			navigation: {
				nextEl: '.teacher-next',
				prevEl: '.teacher-prev',
			},
			breakpoints: {
				1400:{
					slidesPerView: 2,
					spaceBetween: 20
				},
				1200:{
					slidesPerView: 4,
					spaceBetween: 10
				},
				767:{
					slidesPerView: 2,
					spaceBetween: 20
				},
				480:{
					slidesPerView: 1,
					spaceBetween: 10
				}
			}
		});
		//=== 空間設備 Sw===
		const spaceSw = new Swiper('#spaceSw', {
			// Optional parameters
			//- direction: 'vertical',
			slidesPerView: 2,
			spaceBetween: 30,
			centeredSlides: true,
			//- autoHeight: true,
			loop: true,
			// Navigation arrows
			navigation: {
				nextEl: '.space-next',
				prevEl: '.space-prev',
			},
			breakpoints: {
				1400:{
					slidesPerView: 2,
					spaceBetween: 20
				},
				1200:{
					slidesPerView: 4,
					spaceBetween: 10
				},
				767:{
					slidesPerView: 2,
					spaceBetween: 20
				},
				480:{
					slidesPerView: 1,//如果是1.5會滑到最後或最前的時候會有空白 所以改成外框寬度調整居中
					spaceBetween: 10
				}
			}
		});

		//=== 校友地圖 ===
		$('.src-alumni-lg-tit').find('.name').html('李安');
		$('.src-alumni-lg-img').find('img').attr('src','img/alumni01.jpg');
		var alumniList=[
			{'btn':'alumni01','name':'李安'},
			{'btn':'alumni02','name':'侯孝賢'},
			{'btn':'alumni03','name':'邱禹鳳'},
			{'btn':'alumni04','name':'張逸方'},
			{'btn':'alumni05','name':'徐仁峰'}
		];
		$.each(alumniList,function(ind,val){
			var $btn=$('#'+val.btn);
			$btn.on('click',function(){
				var img=$(this).find('img').attr('src');
				$('#alumniInfoImg').find('img').attr('src',img);
				$('.src-alumni-lg-img').find('img').attr('src',img);
				$('.alumni-info-cont').find('.tit').html(val.name);
				$('.src-alumni-lg-tit').find('.name').html(val.name);
			});
		});
		//== 點擊 More ==
		$(".src-alumni-lg-edit").mCustomScrollbar();
		$('#alumniMore').on('click',function(){
			$('#srcAlumniLgArea,#mask').fadeIn(300);
		});
		$('#srcAlumniClose').on('click',function(){
			$('#srcAlumniLgArea,#mask').fadeOut(300);
		});

		//== 校友地圖 SW ==
		var alumniSwiper = new Swiper('#alumniSw', {
			slidesPerView: 5,
			//- slidesPerView: 3,
			//- grid: {
			//- 	rows: 2,
			//- },
			slidesPerColumn: 2,
			//- slidesPerColumnFill: 'row',
			slidesPerGroup: 5,
			//- slidesPerColumnFill: 'row',
			spaceBetween: 0,
			navigation: {
				nextEl: '.alumni-next',
				prevEl: '.alumni-prev',
			},
			//- pagination: {
			//- 	el: "#alumniSwPage",
			//- },
			//- speed: 700,
			//- autoplay: {
			//- 	delay: 2000,
			//- 	//- pauseOnMouseEnter: true,
			//- 	disableOnInteraction: false,
			//- },
			//- pagination: {
			//- 	el: '#clientLogoPage',
			//- 	clickable: true,
			//- },
			//-   breakpoints:{
			//-       1024: {
			//-           slidesPerView: 5,
			//-           slidesPerColumn: 2,
			//-           slidesPerGroup: 1,
			//-           //- slidesPerColumnFill: 'row',
			//-       },
			//-       768: {
			//-           slidesPerView: 4,
			//-           slidesPerColumn: 2,
			//-           slidesPerGroup: 1,
			//-           //- slidesPerColumnFill: 'row',
			//-       },
			//-       480: {
			//-           slidesPerView: 2,
			//-           slidesPerColumn: 3,
			//-           slidesPerGroup: 2,
			//-           //- slidesPerColumnFill: 'row',
			//-       },
			//-   },
		});

		$('#btn01').on('click',function(){
			console.log('btn01')
		});
	});
	$(window).scroll(function () {
		var scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
		//- var IntroAreaTop = $('#IntroArea').offset().top;
		//- var headerH = $('#header').outerHeight();
		var bannerH = $('.banner-video').outerHeight();
		//- var changeH=bannerH+headerH;
		if (scrollTop > bannerH) {
		    //- $('#header').css({ 'top': '0', 'position': 'fixed', 'width': '100%', 'z-index': 1 });
		    //- $('#headerTop').css({ 'padding-bottom': headerH });

			$('#header').removeAttr('style');
			$('#hamBtn').removeClass('is-w');
			$('.header-cont').removeClass('header-cont-side-w');
			$('#logoImgBanner').hide();
			$('#logoImg').show();
			//- $('#logoImg').removeClass('logo-img-w');
			//- $('#logoImg').find('img').attr('src','img/logo_s.svg');
		} else {
		    //- $('#header,#headerTop').removeAttr('style');
			//- $('#header').removeAttr('style');
			indexNav();
		}
	});
	function indexNav(){
		$('#header').css({ 'top': '0', 'position': 'fixed', 'width': '100%', 'z-index': 10 });
		$('#hamBtn').addClass('is-w');
		$('.header-cont').addClass('header-cont-side-w');
		$('#logoImgBanner').show();
		$('#logoImg').hide();
		//- $('#logoImg').addClass('logo-img-w');
		//- $('#logoImg').find('img').attr('src','img/logo.svg');
	}