include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'百大影片'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 100 MOVIES
                    .page-side
                        h3 百大影片
                        .circle-txt
                            img(src="img/bg_img.svg", alt="")
                    .page-cont
                        .edit-area
                            p.def 要完成電影系學業並不簡單，除要了解各國電影脈絡發展、導演風格與手法，電影系的學生還要能寫劇本、化妝、下海當演員，以成為獨當一面的導演為目標。
                            p.def 大四畢業前看完影史華語百大片和外語百大片。系所每年會定期舉辦考試，大二學生以上都可以去抽考，教授會抽點其中片單，詢問學生對電影的看法，如果在大四畢業前，沒有通過這項考試，就可能延畢，來年請早！
                            p.def 這份百大電影名單是電影系所教授所評選，片單無關影史排名，但種類包羅萬象，如新浪潮、表現主義…等電影風潮、重要導演風格，期盼學生看電影中，了解這部電影對影史與世界的重要意義。
                            p.def 該校電影系助教受訪時表示，200部片單乍看頗多，但事實上，學生反應都很良好，很多片子雖然在外面不容易找到，但學生可在系所內租借，有些學生在大二前早完成目標，興沖沖地找老師「考試去」！「多看電影，特別是好的電影，都能從中獲得想法和啟發！」畢業多年的校友黃先生回想起系上的百大片單規定，一開始也覺得是不可能的任務，但電影真的是越看越迷人。  
                            img(src="img/movies_img.jpg", alt="")
                        -const downloadData=['外語百大影片(100部).pdf','華語百大影片(50部).pdf']
                        +downloadArea(downloadData)
                -const pageBtn={'isBack':false};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer