include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[{'link':'news_list.html','name':'系所公告'}],'isAct':'【競賽資訊】2022第六屆台北金鵰微電影展'}
                +sideBread(bread)
            .main-cont
                .news-cont-area
                    .news-main-area
                        .news-main-cont
                            .news-cont.news-tit-cont
                                .tit 【競賽資訊】2022第六屆台北金鵰微電影展
                                .date 2021.10.20
                            .news-banner
                                img(src="img/cont_pic.jpg" alt="")
                            .news-cont
                                .edit-area
                                    p.def ▶ 影展宗旨<br>國際間的永續發展思潮不斷推進，永續概念亦持續進展，重點由過往關注之企業社會責任三面向——環境保護、社會共融、公司治理，擴大為全球永續發展目標（Sustainable Development Goals, SDGs）；為使大眾能更易理解組織永續成果，以嶄新、視覺化的方式以微電影的形式，呈現組織致力於SDGs之作為，特舉辦此微電影展。 
                                    p.def ▶ 活動對象<br>全球政府單位、公司、企業、大學、NPO（非營利組織）等單位組織。
                                    p.def ▶ 獎項介紹<br>本屆將評選出年度十大永續微電影，並從十大永續微電影之作品中，遴選出「年度最佳影片」、「最佳社會共融」、「最佳經營治理」、「最佳環境資源」四項最佳獎項，於頒獎典禮上公布獎項結果。
                                    p.def ▶ 聯絡人<br>張先生 02-2747-4932#301 / giftchang@taise.org.tw
                                -const downloadData=['「2022第六屆台北金鵰微電影展」徵件簡章.zip']
                                +downloadArea(downloadData)
                    .news-side
                        .news-page-btn-area
                            .news-page-btn.page-btn
                                .icon <i class="fal fa-arrow-left"></i>
                                span PREV
                            .news-page-img
                                img(src="img/default_pic.jpg", alt="")
                            .news-page-tit 【教務】【重要公告：電影系人工加選課程與線上課程】
                        .news-page-btn-area
                            .news-page-btn.news-page-next.page-btn
                                span NEXT
                                .icon <i class="fal fa-arrow-right"></i>
                            .news-page-img
                                img(src="img/list02.jpg", alt="")
                            .news-page-tit 【學務】108年度深耕計畫【獎助教職員生參加國際教學展演競賽】開放申請(6月14日下午17時截止)
                    .news-main-area
                        -const pageBtn={'isBack':'news_list.html'};
                        +pageBtnArea(pageBtn)
        //-內容
        include includes/footer