include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'系所公告'}
                +sideBread(bread)
            .main-cont
                .news-area
                    .news-area-tit 系所公告
                    .news-list
                        -const news01={'img':'list01.jpg','tit':'【競賽資訊】2022第六屆台北金雕微電影展','txt':'國際間的永續發展思潮不斷推進，企業永續概念亦持續進展，重點由過往關注之企業社會責任三面向——環境保護、社會共融、公司治理，擴大為全球永續發展目標（Sustainable Susta...','date':'2021.10.20'};
                        +newsBox(news01)
                        -const news02={'img':'list02.jpg','tit':'【學務】108年度深耕計畫【獎助教職員生參加國際教學展演競賽】開放申請(6月14日下午17時截止)','txt':'108年度高教深耕計畫「獎助教職員生參加國際教學展演競賽」開始受理申請，請詳加閱讀本獎助要點後提出申請。依本校高教深耕計畫「國立臺灣藝術大學獎助教職員生參加國際教學展演競賽實施要點」(如附件一)辦理。','date':'2021.10.20'};
                        +newsBox(news02)
                        -const news03={'img':'default_pic.jpg','tit':'【教務】【重要公告：電影系人工加選課程與線上課程】','txt':'【重要公告：電影系選課與線上課程】 ⚠️加退選時間延長：110 年 9 月 8 日（14:00）~110 年 10 月 4 日（21:00)','date':'2021.10.20'};
                        +newsBox(news03)
                        -const news04={'img':'list03.jpg','tit':'【其他】賀 本系碩士班同學陳威丞《控制對ㄇㄚˇ》入圍2018 加利福尼亞國際電影節及戴維斯華人電影節','txt':'國際間的永續發展思潮不斷推進，企業永續概念亦持續進展，重點由過往關注之企業社會責任三面向——環境保護、社會共融、公司治理，擴大為全球永續發展目標（Sustainable Susta...','date':'2021.10.20'};
                        +newsBox(news04)
                        -const news05={'img':'list04.jpg','tit':'【實習與徵才】臺東大學數位媒體與文教產業學系徵聘【專任助理教授以上】教師，收件至110年3月25日止。','txt':'國際間的永續發展思潮不斷推進，企業永續概念亦持續進展，重點由過往關注之企業社會責任三面向——環境保護、社會共融、公司治理，擴大為全球永續發展目標（Sustainable Susta...','date':'2021.10.20'};
                        +newsBox(news05)
                        -const news06={'img':'list05.jpg','tit':'【教務】109-2學期碩士班、碩士在職專班完成離校手續時程調整公告','txt':'國際間的永續發展思潮不斷推進，企業永續概念亦持續進展，重點由過往關注之企業社會責任三面向——環境保護、社會共融、公司治理，擴大為全球永續發展目標（Sustainable Susta...','date':'2021.10.20'};
                        +newsBox(news06)
                        -const news07={'img':'default_pic.jpg','tit':'【器材】電影系器材說明會','txt':'國際間的永續發展思潮不斷推進，企業永續概念亦持續進展，重點由過往關注之企業社會責任三面向——環境保護、社會共融、公司治理，擴大為全球永續發展目標（Sustainable Susta...','date':'2021.10.20'};
                        +newsBox(news07)
                    +pageArea

        //-內容
        include includes/footer