include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'空間設備 - 專業空間'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 EQUIPMENT
                    .page-side
                        h3 空間設備
                        -const pageSideNav=[{'name':'交誼空間','link':'social_list.html'},{'name':'專業空間','link':'professional_list.html','isAct':true},{'name':'器材設備','link':'equipment_list.html'}];
                        +pageSideNavArea(pageSideNav)
                    .page-cont.equ-list-page-cont
                        .equ-list-area
                            -const equ01={'num':'01','img':'space01.jpg','tit':'攝影棚','txt':'參照業界標準設計，讓尋找實景拍攝之作業困擾降到最低，以進行困難之電影技術教學增進同學對拍攝空間的理解，有效與業界接軌。'}
                            +equListBox(equ01)
                            -const equ02={'num':'02','img':'space02.jpg','tit':'非線性剪接教室','txt':'本空間規劃6間獨立工作區，供課程作業拍攝後，數位檔案之剪接使用，內部設備為Mac電腦三部，含Final Cut Pro軟體。'}
                            +equListBox(equ02)
                            -const equ03={'num':'03','img':'space03.jpg','tit':'錄音/混音室','txt':'嚴格認證的Dolby混音室為最常見的7.1系統，擁有齊全、不同種類的麥克風、監聽設備、硬體效果機材(Outboard)。'}
                            +equListBox(equ03)
                            -const equ04={'num':'04','img':'space04.jpg','tit':'電影院','txt':'影音大樓電影院佔地約82坪，座位140個，放映系統包括DCP、HDCAM、DIGITAL BETACAM、35mm、16mm、BD多種規格。'}
                            +equListBox(equ04)
                -const pageBtn={'isBack':false};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer