include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[{'link':'resource_edu_list.html','name':'資源與下載 - 教務'}],'isAct':'教務'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 RESOURCE
                    .page-side
                        h3 資源與下載
                        -const pageSideNav=[{'name':'教務','link':'resource_edu_list.html','itemClass':'item01','isAct':true},{'name':'招生','link':'###','itemClass':'item01'},{'name':'設備與系所資源','link':'###','itemClass':'item02'},{'name':'其他文件','link':'###'}]
                        +pageSideNavArea(pageSideNav)
                    .page-cont
                        .resource-cont-area
                            .resource-tit 110學年度進修學士班招生(二)各學系「考試組」考試日期及評量方式修正公告
                            .resource-date 2021.10.20
                            .resource-cont
                                .edit-area
                                    p.def 一、修正依據：經本校110學年度-11次招生委員會議通過，因應嚴重特殊傳染性肺炎(COVID-19)疫情影響，暨減少人員群聚及流動，調整考試方式及日期。
                                    p.def 二、注意事項：因評量模式變更，請「考試組」考生務必於 110 年6月 28日(星期一)前填寫「同意更改考試方式及時程調查表」，請先傳真(02-29694420)或Email至：aarc@ntua.edu.tw，並必須寄繳正本至本校教務處註冊組(220新北市板橋區大觀路1段59號)收，以辦理後續退費相關事宜，逾期未繳調查表者視同同意，不得申請全額退費。
                                    p.def 三、寄繳學系審查資料日期：110年6月28日起至7月5日止，請以郵局限時掛號或超商宅配服務方式，寄繳至報考學系，郵戳為憑，逾期不予受理。欲親自送件者請於上述規定期限內，本校上班時間送至報考學系辦公室，當場只收件不審核，亦不提供收件收據或證明。
                                    p.def 四、視訊面試日期：110年8月3日~4日。
                                    p.def 五、選填志願學系(含圖文系及廣電系)及電影系，此3學系視訊面試方式及說明由招生學系訂定，另行於各學系「進學班考試應變方案」專區及教務處首頁最新消息公告，並於面試前擇定時間進行視訊面試測試作業，各梯次時間及相關資訊將公告於各招生學系「進學班考試應變方案」專區網頁及本校教務處招生專區網頁，請考生務必密切注意!!
                                    p.def 六、110年7月30 日(星期五)最晚下午4時公告視訊面試注意事項等資訊。
                                    p.def 疫情修正版簡章＞6月28日(含)前寄繳<br>同意更改考試方式及時程調查表＞6月28日(含)前寄繳<br>退費申請書＞7月29日(含)前寄繳
                                -const downloadData=['疫情修正版簡章.pdf','同意更改考試方式及時程調查表.pdf','退費申請書.pdf']
                                +downloadArea(downloadData)
                -const pageBtn={'isBack':'resource_edu_list.html'};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer