include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'資源與下載 - 教務'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 RESOURCE
                    .page-side
                        h3 資源與下載
                        -const pageSideNav=[{'name':'教務','link':'resource_edu_list.html','itemClass':'item01','isAct':true},{'name':'招生','link':'###','itemClass':'item01'},{'name':'設備與系所資源','link':'###','itemClass':'item02'},{'name':'其他文件','link':'###'}]
                        +pageSideNavArea(pageSideNav)
                    .page-cont
                        .resource-list-area.side-list
                            -const res01={'tit':'110學年度進修學士班招生(二)各學系「考試組」考試日期及評量方式修正公告','date':'2021.10.20','linkTo':1}
                            +resourceListBox(res01)
                            -const res02={'tit':'110學年度進修學士班招生(二)各學系「甄試組」面試方式修正公告','date':'2021.10.20','linkTo':1}
                            +resourceListBox(res02)
                            -const res03={'tit':'110學年度日間學士班暨進修學士班轉學生考試招生簡章(防疫版)公告','date':'2021.10.20','linkTo':1}
                            +resourceListBox(res03)
                            -const res04={'tit':'重要調課通知-9/17-碩班-臺灣電影專題','date':'2021.10.20','linkTo':1}
                            +resourceListBox(res04)
                            -const res05={'tit':'110學年度大學個人申請入學書面審查準備指引-電影學系(20210329更新)','date':'2021.10.20','linkTo':1}
                            +resourceListBox(res05)
                            -const res06={'tit':'【進修學士班考試組招生考試】視訊面試（複試）注意事項公告','date':'2021.10.20','linkTo':1}
                            +resourceListBox(res06)
                            -const res07={'tit':'畢業生百大考試年限及畢業製作繳交作品規定','date':'2021.10.20','linkTo':1}
                            +resourceListBox(res07)
                            -const res08={'tit':'110學年度-電影學系畢業論文組 提報規則','date':'2021.10.20','linkTo':1}
                            +resourceListBox(res08)
                            -const res09={'tit':'110學年度-電影學系畢業劇本組 提報規則','date':'2021.10.20','linkTo':1}
                            +resourceListBox(res09)
                            -const res10={'tit':'110年度深耕計畫【獎助教職員生參加國際教學展演競賽】開放申請(6月14日下午17時截止)','date':'2021.10.20','linkTo':1}
                            +resourceListBox(res10)
                        +pageArea
                -const pageBtn={'isBack':false};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer