include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        //校友地圖 - light
        +alumniLg
        //- .src-alumni-lg-area#srcAlumniLgArea
        //-     .src-alumni-close#srcAlumniClose
        //-     .src-alumni-lg-box
        //-         .src-alumni-lg-img
        //-             img(src="img/alumni_lg.jpg", alt="")
        //-         .src-alumni-lg-cont
        //-             .src-alumni-lg-tit
        //-                 .name 陳博文
        //-                 .point 121°38′E, 25°2′N
        //-             .src-alumni-lg-txt
        //-                 .src-alumni-lg-edit.edit-area
        //-                     p.def 台灣著名剪接師，剪接作品超過150部，與許多台灣電影導演合作。畢業於國立藝專（台灣藝術大學）廣播電視科。現主持陳博文電影剪接工作室，並致力於剪接人才培育。
        //-                     p.def 持續在專業領域工作近三十年（1980-2009），以純熟技術為經，以藝術品味為緯，再造作品的靈魂。其作品產學價值面寬廣，舉凡藝術、商業、紀錄片、動畫等，皆全力以赴。
        //-                     p.def 參與許多台灣揚名國際電影的剪接，長期協助台灣新電影導演們完成作品，提升其對電影之視野。持續培育剪接人才，不遺餘力。
        //-                     p.def 代表作品<br>1981年：《1905年的冬天》（首部獨立剪接作品）<br> 1991年：《牯嶺街少年殺人事件》（被楊德昌影響對於電影戲劇的看法）<br> 1999年：《紅葉傳奇》（首部紀錄片剪接作品）<br> 2000年：《一一》<br> 2011年：《賽德克·巴萊》（近期最大型三小時以上鉅片剪接作品）<br> 2015年：《大囍臨門》<br>
        //-                     p.def 陳博文電影剪接工作室——剪接自己的人生：「影像戰鬥營」剪輯工作坊
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'全站搜尋'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 SEARCH
                    .page-side
                        h3 全站搜尋
                        .circle-txt
                            img(src="img/bg_img.svg", alt="")
                    .page-cont
                        .search-area
                            .search-tab-box#searchTabBox
                                .search-tab#srcTabEvent.act 公告與活動
                                .search-tab#srcTabRule 規章制度與下載
                                .search-tab#srcTabAlumni 校友地圖
                            .search-input-box
                                .icon#srcBtn
                                    img(src="img/icon_src.svg" alt="search")
                                .search-input
                                    input#srcKey.input-src(type="text", name="",placeholder="請輸入關鍵字")
                            .search-key-txt#srcKeyTxt(style="display:none;") 您搜尋的關鍵字為<span>畢業</span>，搜尋結果共<span>4</span>筆資料。
                            //公告與活動 - 搜尋結果
                            .srcList#srcEventListArea(style="display:none;")
                                .src-event-list.side-list
                                    -const srcEvent01={'img':'list01.jpg','tit':'110學年度大學「個人申請」入學招生第二階段指定項目甄試公告及畢業相關注','txt':'國際間的永續發展思潮不斷推進，企業永續概念亦持續進展續概念','date':'2021.11.07'}
                                    +srcEventBox(srcEvent01)
                                    -const srcEvent02={'img':'default_pic.jpg','tit':'【教務】【重要公告：電影系人工加選課程與線上課程及應屆畢業生注意事項】','txt':'加退選時間延長：110 年 9 月 8 日（14:00）~110 年 10 月 4 日...','date':'2021.11.07'}
                                    +srcEventBox(srcEvent02)
                                    -const srcEvent03={'img':'list02.jpg','tit':'【活動】臺藝電影106級畢業展：浮島曳影 NTUA MPD Graduation Film ...','txt':'國際間的永續發展思潮不斷推進，企業永續概念亦持續進展續概念','date':'2021.11.07'}
                                    +srcEventBox(srcEvent03)
                                +pageArea
                            //規章制度與下載 - 搜尋結果
                            .srcList#srcRuleListArea(style="display:none;")
                                .src-rule-list.side-list
                                    -const srcRule01={'tit':'進行教學認證的程序－詳細完整步驟規則說明及賠償相關注意事項公告','date':'2021.10.20'};
                                    +srcRuleBox(srcRule01)
                                    -const srcRule02={'tit':'「影片攝製器材」借用與認證規則','date':'2021.10.20'};
                                    +srcRuleBox(srcRule02)
                                    -const srcRule03={'tit':'「專業設備空間」借用與認證規則','date':'2021.10.20'};
                                    +srcRuleBox(srcRule03)
                                +pageArea
                            //校友地圖 - 搜尋結果
                            .srcList#srcAlumniListArea(style="display:none;")
                                .src-alumni-list.side-list
                                    -const srcAlumni01={'img':'local_p01.png','tit':'陳博文','txt':'台灣著名剪接師，剪接作品超過150部，與許多台灣電影導演合作。畢業於國立藝專廣播電視科。現主持陳博文電影剪接工作室，並致...'};
                                    +srcAlumniBox(srcAlumni01)
                                    -const srcAlumni02={'img':'local_p02.png','tit':'陳奕仁','txt':'台灣音樂錄影帶與廣告導演。曾就讀國立臺灣藝術大學電影系，期間參與多部音樂錄像帶、廣告與電影拍攝。跨足商業性與公共性影像...'};
                                    +srcAlumniBox(srcAlumni02)
                                    -const srcAlumni03={'img':'local_p03.png','tit':'陳淑芳','txt':'演員，本名陳笑，台灣資深女演員，暱稱國民阿嬤，第57屆金馬獎最佳女主角及最佳女配角。'};
                                    +srcAlumniBox(srcAlumni03)
                                +pageArea
        //-內容
        include includes/footer
script.
    $(document).ready(function(){
        //=== Enter 送出搜尋 ===
        $("#srcBtn").on('click',function(){
            console.log("SrcBtn");
            keySrc();
        });
        $("#srcKey").keypress(function(e){
            code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13){
                console.log('enter');
                keySrc();
            }
        });
        $('.search-tab').on('click',function(){
            $('.search-tab').removeClass('act');
            $(this).addClass('act');
        });
        //=== 校友地圖 ===
        $(".src-alumni-lg-edit").mCustomScrollbar();
        $('.src-alumni-more').on('click',function(){
            $('#srcAlumniLgArea,#mask').fadeIn(300);
        });
        $('#srcAlumniClose').on('click',function(){
            $('#srcAlumniLgArea,#mask').fadeOut(300);
        });
    });
    function keySrc(){
        var srcKey=$('#srcKey').val();
        if(srcKey==''){
            alert('請輸入關鍵字');
        }else{
            var actTab=$('#searchTabBox').find('.act').attr('id');
            var actName=actTab.replace('srcTab','');
            console.log(actName);
            var $srcKeyTxt=$('#srcKeyTxt');
            $srcKeyTxt.show();
            $srcKeyTxt.find('span').eq(0).html(srcKey);
            $('.srcList').hide();
            $('#src'+actName+'ListArea').show();
            var listL;
            var $listCont = $('#src'+actName+'ListArea').find('.side-list');
            actName == 'Alumni' ? listL=$listCont.children('div').length : listL=$listCont.children('a').length;
            $srcKeyTxt.find('span').eq(1).html(listL);
        }
    }