include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'網站導覽'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 SITE MAP
                    .page-side
                        h3 網站導覽
                        .circle-txt
                            img(src="img/bg_img.svg", alt="")
                    .page-cont
                        .site-map-area
                            -const siteMap01={'tit':'系所特色','links':[{'name':'關於本所','link':'about.html'},{'name':'本系特色','link':'###'}]}
                            +siteMapBox(siteMap01)
                            -const siteMap02={'tit':'系所公告','links':[{'name':'系所公告','link':'news_list.html'}]}
                            +siteMapBox(siteMap02)
                            -const siteMap03={'tit':'近期活動','links':[{'name':'近期活動','link':'news_list.html'}]}
                            +siteMapBox(siteMap03)
                            -const siteMap04={'tit':'師資陣容','links':[{'name':'專任師資','link':'teachers_list.html'},{'name':'兼任師資','link':'teachers_pt_list.html'},{'name':'行政人員','link':'staff_list.html'}]};
                            +siteMapBox(siteMap04)
                            -const siteMap05={'tit':'空間設備','links':[{'name':'交誼空間','link':'social_list.html'},{'name':'專業空間','link':'professional_list.html'},{'name':'器材設備','link':'equipment_list.html'}]}
                            +siteMapBox(siteMap05)
                            -const siteMap06={'tit':'規章制度與表單下載','links':[{'name':'教務','link':'resource_edu_list.html'},{'name':'招生','link':'resource_edu_list.html'},{'name':'設備與系所資源','link':'resource_edu_list.html'},{'name':'百大影片','link':'movies.html'},{'name':'系藏影片','link':'###'},{'name':'其他文件','link':'resource_edu_list.html'}]}
                            +siteMapBox(siteMap06)
                -const pageBtn={'isBack':false};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer