include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'空間設備 - 交誼空間'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 EQUIPMENT
                    .page-side
                        h3 空間設備
                        -const pageSideNav=[{'name':'交誼空間','link':'social_list.html','isAct':true},{'name':'專業空間','link':'professional_list.html'},{'name':'器材設備','link':'equipment_list.html'}];
                        +pageSideNavArea(pageSideNav)
                    .page-cont.equ-list-page-cont
                        .equ-list-area
                            -const equ01={'num':'01','img':'place01.jpg','tit':'師生共用交誼大廳','txt':'開放式生活空間學習群體生活互動體驗，增進師生之間的群體生活的交流體驗，舒適與人互動、彼此尊重。'}
                            +equListBox(equ01)
                            -const equ02={'num':'02','img':'place02.jpg','tit':'多功能活動中心','txt':'寬敞開放的休息室，設置小型圓桌及簡易沙發區，提供訪客舒適的會談環境，讓學生可以輕鬆自在的閱讀，或是與同學互動交談。'}
                            +equListBox(equ02)
                            -const equ03={'num':'03','img':'place03.jpg','tit':'娛樂視聽空間','txt':'牆面使用特殊的隔音材質，完整阻隔彼此間的干擾；內部使用木質階梯式座椅型式，讓小空間更具開闊感。'}
                            +equListBox(equ03)
                            -const equ04={'num':'04','img':'place04.jpg','tit':'靜態療癒場域','txt':'安靜且明亮的公共空間，種類繁多的植物為建築的一部分，希冀能藉植物開啟療癒溫柔之力，帶來希望與激發內在能量。'}
                            +equListBox(equ04) 
                -const pageBtn={'isBack':false};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer