include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'師資陣容 - 行政人員'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 FACULTY
                    .page-side
                        h3 行政人員
                        -const pageSideNav=[{'name':'專任師資','link':'teachers_list.html'},{'name':'兼任師資','link':'teachers_pt_list.html'},{'name':'行政人員','link':'staff_list.html','isAct':true}]
                        +pageSideNavArea(pageSideNav)
                        .circle-txt
                            img(src="img/bg_img.svg", alt="")
                    .page-cont
                        .teacher-list-area
                            -const teacher01={'img':'staff01.jpg','name':'謝依倫','cont':'行政助理','linkTo':3}
                            +teacherListBox(teacher01)
                            -const teacher02={'img':'staff02.jpg','name':'陳志漢','cont':'行政幹事','linkTo':3}
                            +teacherListBox(teacher02)
                            -const teacher03={'img':'staff03.jpg','name':'李欣','cont':'行政助理','linkTo':3}
                            +teacherListBox(teacher03)
                -const pageBtn={'isBack':false};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer