include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[{'link':'staff_list.html','name':'師資陣容 - 行政人員'}],'isAct':'謝依倫'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 FACULTY
                    .page-side
                        h3 師資陣容
                        -const pageSideNav=[{'name':'專任師資','link':'teachers_list.html'},{'name':'兼任師資','link':'teachers_pt_list.html'},{'name':'行政人員','link':'staff_list.html','isAct':true}]
                        +pageSideNavArea(pageSideNav)
                        .circle-txt
                            img(src="img/bg_img.svg", alt="")
                    .page-cont
                        .teacher-area
                            .teacher-info-area
                                .teacher-info-img
                                    img(src="img/staff01.jpg", alt="")
                                .teacher-info-box
                                    .teacher-info-tit
                                        .name 謝依倫
                                        .office 行政助理
                                    ul.teacher-links
                                        li
                                            .icon
                                                img(src="img/icon_email.png", alt="")
                                            .link
                                                a(href="mailto:evergreenko@yahoo.com") evergreenko@yahoo.com
                                        li
                                            .icon
                                                img(src="img/icon_tel.svg", alt="")
                                            .link 02-22722181  Ext.5054
                                    .teacher-class-box
                                        .tit 上班時間
                                        ul.class-list
                                            li 週一至週五
                                            li 08:30-17:30
                        .edit-area
                            p.def <b>負責項目</b>
                            ul.def-list
                                li 總務、經費核銷、年度預算業務
                                li 學務、畢製經費、公視學生劇展業務
                                li 專題講座業務
                                li 租借管理電影院
                                li 大事記填報
                                li 臨時交辦事務
                -const pageBtn={'isBack':'staff_list.html'};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer