include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'師資陣容 - 兼任師資'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 FACULTY
                    .page-side
                        h3 師資陣容
                        -const pageSideNav=[{'name':'專任師資','link':'teachers_list.html'},{'name':'兼任師資','link':'teachers_pt_list.html','isAct':true},{'name':'行政人員','link':'staff_list.html'}]
                        +pageSideNavArea(pageSideNav)
                        .circle-txt
                            img(src="img/bg_img.svg", alt="")
                    .page-cont
                        .teacher-list-area
                            -const teacher01={'img':'teacher09.jpg','name':'柯青每','cont':'助理教授級專業技術人員','linkTo':2}
                            +teacherListBox(teacher01)
                            -const teacher02={'img':'teacher10.jpg','name':'郭禮杞','cont':'助理教授級專業技術人員','linkTo':2}
                            +teacherListBox(teacher02)
                            -const teacher03={'img':'teacher11.jpg','name':'李文靜','cont':'助理教授級專業技術人員','linkTo':2}
                            +teacherListBox(teacher03)
                            -const teacher04={'img':'teacher12.jpg','name':'田開良','cont':'助理教授','linkTo':2}
                            +teacherListBox(teacher04)
                            -const teacher05={'img':'teacher05.jpg','name':'聞天祥','cont':'助理教授','linkTo':2}
                            +teacherListBox(teacher05)
                            -const teacher06={'img':'teacher07.jpg','name':'安哲毅','cont':'助理教授','linkTo':2}
                            +teacherListBox(teacher06)
                -const pageBtn={'isBack':false};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer