include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[{'link':'teachers_pt_list.html','name':'師資陣容 - 兼任師資'}],'isAct':'柯青每'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 FACULTY
                    .page-side
                        h3 師資陣容
                        -const pageSideNav=[{'name':'專任師資','link':'teachers_list.html'},{'name':'兼任師資','link':'teachers_pt_list.html','isAct':true},{'name':'行政人員','link':'staff_list.html'}]
                        +pageSideNavArea(pageSideNav)
                        .circle-txt
                            img(src="img/bg_img.svg", alt="")
                    .page-cont
                        .teacher-area
                            .teacher-info-area
                                .teacher-info-img
                                    img(src="img/teacher09.jpg", alt="")
                                .teacher-info-box
                                    .teacher-info-tit
                                        .name 柯青每
                                        .office 助理教授級專業技術人員
                                    ul.teacher-links
                                        li
                                            .icon
                                                img(src="img/icon_email.png", alt="")
                                            .link
                                                a(href="mailto:evergreenko@yahoo.com") evergreenko@yahoo.com
                                        li
                                            .icon
                                                img(src="img/icon_link.png", alt="")
                                            .link
                                                a(href="www.kochingmei.com" target="_blank") www.kochingmei.com
                                    .teacher-class-box
                                        .tit 授課名稱
                                        ul.class-list
                                            li 電影美術概論
                                            li 電影美術設計
                                            li 影視美術
                                            li 電影與新媒體
                        .edit-area
                            p.def <b>個人簡介</b><br>紀錄片工作者<br>第48屆電視金鐘獎最佳美術設計獎得主紐約社會新校媒體研究碩士(The New School for Social Research, Media Studies)。
                            p.def <b>美術指導作品</b><br>《仲夏夜府城》<br>《刺蝟男孩》<br>《小孩大人》<br>《他們在畢業前一天爆炸》<br>《經過》<br>《擁抱大白熊》<br>《鹹豆漿》<br>《三橘之戀》等
                            p.def <b>編劇作品</b><br>《傷痕二二八》
                            p.def <b>紀錄片代表作品</b><br>《鑿混沌》
                -const pageBtn={'isBack':'teachers_pt_list.html'};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer