include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[],'isAct':'師資陣容 - 專任師資'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 FACULTY
                    .page-side
                        h3 師資陣容
                        -const pageSideNav=[{'name':'專任師資','link':'teachers_list.html','isAct':true},{'name':'兼任師資','link':'teachers_pt_list.html'},{'name':'行政人員','link':'staff_list.html'}]
                        +pageSideNavArea(pageSideNav)
                        .circle-txt
                            img(src="img/bg_img.svg", alt="")
                    .page-cont
                        .teacher-list-area
                            -const teacher01={'img':'teacher01.jpg','name':'吳秀菁','cont':'副教授兼系主任','linkTo':1}
                            +teacherListBox(teacher01)
                            -const teacher02={'img':'teacher02.jpg','name':'廖金鳳','cont':'教授','linkTo':1}
                            +teacherListBox(teacher02)
                            -const teacher03={'img':'teacher03.jpg','name':'吳佩慈','cont':'教授','linkTo':1}
                            +teacherListBox(teacher03)
                            -const teacher04={'img':'teacher04.jpg','name':'丁祈方','cont':'副教授','linkTo':1}
                            +teacherListBox(teacher04)
                            -const teacher05={'img':'teacher05.jpg','name':'何平','cont':'副教授','linkTo':1}
                            +teacherListBox(teacher05)
                            -const teacher06={'img':'teacher06.jpg','name':'吳麗雪','cont':'副教授兼副教務長','linkTo':1}
                            +teacherListBox(teacher06)
                            -const teacher07={'img':'teacher07.jpg','name':'林良中','cont':'副教授','linkTo':1}
                            +teacherListBox(teacher07)
                            -const teacher08={'img':'teacher08.jpg','name':'謝嘉錕','cont':'助理教授','linkTo':1}
                            +teacherListBox(teacher08)
                            -const teacher09={'img':'teacher09.jpg','name':'尚宏玲','cont':'講師','linkTo':1}
                            +teacherListBox(teacher09)
                        .fade-area(style={'width': '200px'})
                            img(src="img/teacher01.jpg", alt="")
                            .fade-cont
                                .fade-box
                                    img(src="img/teacher02.jpg", alt="")
                                .fade-box
                                    img(src="img/teacher03.jpg", alt="")
                                .fade-box
                                    img(src="img/teacher04.jpg", alt="")
                                .fade-box
                                    img(src="img/teacher05.jpg", alt="")

                        .fade-cont2
                            .fade-box2
                                img(src="img/teacher01.jpg", alt="")
                            .fade-box2.cItem
                                img(src="img/teacher02.jpg", alt="")
                            .fade-box2.cItem
                                img(src="img/teacher03.jpg", alt="")
                            .fade-box2
                                img(src="img/teacher04.jpg", alt="")
                -const pageBtn={'isBack':false};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer
script.
    $(document).ready(function(){
        var timer;
        $('.fade-area').each(function(ind,val){
            var fadeImgL=$(val).find('.fade-box').length;
            var lastFade=fadeImgL-1;
            $(val).find('.fade-box').each(function(ind,val){
                $(val).addClass('cItem');
                if(ind==0){
                    $(val).removeClass('cItem');
                }else if(ind==lastFade){
                    $(val).removeClass('cItem');
                }
            });
        });
        //=== 舊的 ===
        //- $('.fade-area').on('mouseenter', function () {
        //-     $(this).children('img').css({ 'opacity': 0 });
        //-     $(this).find('.fade-cont').show();
        //-     var $itemBox=$(this);
        //-     var iNow=1;
        //-     //- $('#test').find('.img').eq(0).show();
        //-     $itemBox.find('.fade-box').eq(0).fadeIn(1000);
        //-     //- $(this).find('.img').eq(iNow).addClass('fade1');
        //-     //- $(this).find('.img').eq(iNow+1).addClass('fade2');
        //-     timer=setInterval(function(){
        //-         console.log('1',iNow)
        //-         //- if(iNow!==1){
        //-         //- //- 	$('#test').find('.img').eq(0).show();
        //-         //- //- }
        //-         //- //- else{
        //-         //- 	$('#test').find('.img').eq(0).hide();
        //-         //- }
        //-         $itemBox.find('.fade-box').eq(iNow).fadeIn(1000);
        //-         iNow++;
        //-         var fadeImgL=$itemBox.find('.fade-box').length;
        //-         var lastFade=fadeImgL-1;
        //-         if(iNow > fadeImgL){ //当到达最后一张图的时候，让iNow赋值为第一张图的索引值，轮播效果跳转到第一张图重新开始
        //-             iNow=1;
        //-             $itemBox.find('.cItem').hide();
        //-             $itemBox.find('.fade-box').eq(lastFade).fadeOut(1000);
        //-             console.log(lastFade);
        //-             $itemBox.find('.fade-box').eq(0).fadeIn(1000);
        //-         }
        //-     },2000);
        //-     //- timer2=setInterval(function(){
        //-     //- 	console.log('2',iNow)
        //-     //- 	$('#test').find('.img').eq(iNow).fadeOut(500);
        //-     //- 	iNow2=iNow2+2;
        //-     //- },4000);
        //-     //- $(this).find('.img').eq(iNow).addClass('on');
        //-     //- changeDataAni();
        //-     //- timer=setInterval(function(){ //打开定时器
        //-     //- 	//- iNow++;  //让图片的索引值次序加1，这样就可以实现顺序轮播图片
        //-     //- 	//- if(iNow>showNumber.length-1){ //当到达最后一张图的时候，让iNow赋值为第一张图的索引值，轮播效果跳转到第一张图重新开始
        //-     //- 	//- 	iNow=0;
        //-     //- 	//- }
        //-     //- 	//- showNumber.eq(iNow).trigger("click"); //模拟触发数字按钮的click
        //-     //- },2000); //2000为轮播的时间
        //-     //- $(this).find('.fade-img-box,.fade-img').show();
        //-     //- $(this).find('.fade-img').addClass('on');
        //- });
        //- $('.fade-area').on('mouseleave', function () {
        //-     //== 暫停計時器 ==
        //-     //- clearTimeout(timer);
        //-     //== 清除計時器 ==
        //-     clearInterval(timer);
        //-     $(this).children('img').removeAttr('style');
        //-     $(this).find('.fade-cont,.fade-box').hide();
        //-     //- $(this).find('.fade-img-box').removeAttr('style');
        //-     //- $(this).find('.fade-img').removeClass('on');
        //- });

        //=== 新的 ===
        $('.fade-area').on('mouseenter', function () {
            //- $(this).children('img').css({ 'opacity': 0 });
            //- $(this).find('.fade-cont').show();
            var $itemBox=$(this);
            var fadeImgL=$itemBox.find('.fade-box').length;
            var lastFade=fadeImgL-1;
            if(fadeImgL>1){
                $(this).find('.fade-cont').show();
                var iNow=1;
                $itemBox.find('.fade-box').eq(0).fadeIn(1000);
                timer=setInterval(function(){
                    console.log('======');
                    console.log(iNow);
                    //=== 1.由 iNow:0 且 第一個div開始 ===
                    if(iNow==0){
                        $itemBox.find('.fade-box').eq(1).fadeIn(1000);
                        iNow++;
                    }else{
                        $itemBox.find('.fade-box').eq(iNow+1).fadeIn(1000);
                        iNow++;
                        if(iNow == fadeImgL){
                            console.log('最後');
                            iNow = 0;
                            $itemBox.find('.cItem').hide();
                            $itemBox.find('.fade-box').eq(lastFade).fadeOut(1000);
                        }
                    }

                    //=== OR ===
                    //=== 2.由 iNow:1 且 第二個div輪 ===
                    //- $itemBox.find('.fade-box').eq(iNow).fadeIn(1000);
                    //- iNow++;
                    //- if(iNow > fadeImgL){
                    //-     console.log('最後');
                    //-     iNow = 1;
                    //-     $itemBox.find('.cItem').hide();
                    //-     $itemBox.find('.fade-box').eq(lastFade).fadeOut(1000);
                    //- }

                },2000);
            }

            //- $itemBox.find('.fade-box').eq(0).fadeIn(1000);
            //- timer=setInterval(function(){
            //-     console.log('1',iNow)
                
            //-     $itemBox.find('.fade-box').eq(iNow).fadeIn(1000);
            //-     iNow++;
            //-     if(iNow > fadeImgL){ //当到达最后一张图的时候，让iNow赋值为第一张图的索引值，轮播效果跳转到第一张图重新开始
            //-         iNow=1;
            //-         $itemBox.find('.cItem').hide();
            //-         $itemBox.find('.fade-box').eq(lastFade).fadeOut(1000);
            //-         console.log(lastFade);
            //-         //- $itemBox.find('.fade-box').eq(0).fadeIn(1000);
            //-     }
            //- },2000);
            
        });
        $('.fade-area').on('mouseleave', function () {
            //== 暫停計時器 ==
            //- clearTimeout(timer);
            //== 清除計時器 ==
            clearInterval(timer);
            //- $(this).children('img').removeAttr('style');
            $(this).find('.fade-cont,.fade-box').hide();
            
        });

        //=== 當沒有封面圖的時候 ===
        var timer2;
        $('.fade-box2').each(function(ind,val){
            if(ind!==0){
                $(val).hide();
            }
        });
        $('.fade-cont2').on('mouseenter', function () {
            var $itemBox=$(this);
            var fadeImgL=$itemBox.find('.fade-box2').length;
            var lastFade=fadeImgL-1;
            if(fadeImgL>1){
                var iNow=1;
                $itemBox.find('.fade-box2').eq(1).fadeIn(1000);
                timer2=setInterval(function(){
                    console.log('======');
                    console.log(iNow);
                    if(iNow==0){
                        $itemBox.find('.fade-box2').eq(1).fadeIn(1000);
                        iNow++;
                    }else{
                        $itemBox.find('.fade-box2').eq(iNow+1).fadeIn(1000);
                        iNow++;
                        console.log(lastFade);
                        if(iNow == fadeImgL){
                            iNow = 0;
                            console.log('最後');
                            $itemBox.find('.cItem').hide();
                            $itemBox.find('.fade-box2').eq(lastFade).fadeOut(1000);
                        }
                    }
                },2000);
            }
        });
        $('.fade-cont2').on('mouseleave', function () {
            //== 暫停計時器 ==
            //- clearTimeout(timer);
            //== 清除計時器 ==
            clearInterval(timer2);
            $('.fade-box2').each(function(ind,val){
                if(ind!==0){
                    $(val).hide();
                }else{
                    $(val).show();
                }
            });
        });
    });