include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .main-wrap.noise-bg
            .side-bread
                -const bread={'links':[{'link':'teachers_list.html','name':'師資陣容 - 專任師資'}],'isAct':'吳秀菁'}
                +sideBread(bread)
            .main-cont
                .page-group
                    h2 FACULTY
                    .page-side
                        h3 師資陣容
                        -const pageSideNav=[{'name':'專任師資','link':'teachers_list.html','isAct':true},{'name':'兼任師資','link':'teachers_pt_list.html'},{'name':'行政人員','link':'staff_list.html'}]
                        +pageSideNavArea(pageSideNav)
                        .circle-txt
                            img(src="img/bg_img.svg", alt="")
                    .page-cont
                        .teacher-area
                            .teacher-info-area
                                .teacher-info-img
                                    img(src="img/teacher01.jpg", alt="")
                                .teacher-info-box
                                    .teacher-info-tit
                                        .name 吳秀菁
                                        .office 副教授兼系主任
                                    ul.teacher-links
                                        li
                                            .icon
                                                img(src="img/icon_email.png", alt="")
                                            .link
                                                a(href="mailto:hc0329.tw@yahoo.com.tw") hc0329.tw@yahoo.com.tw
                                        li
                                            .icon
                                                img(src="img/icon_link.png", alt="")
                                            .link
                                                a(href="www.wuhsiuching.com" target="_blank") www.wuhsiuching.com
                                    .teacher-class-box
                                        .tit 授課名稱
                                        ul.class-list
                                            li 電影導演基礎
                                            li 紀錄片製作
                                            li 紀錄片研究
                                            li 短片創作
                        .edit-area
                            p.def <b>個人簡介</b><br>美國芝加哥藝術學 院電影創作碩士MFA曾任大葉大學視覺傳達設計系專任助理教授、世新大學廣播電視電影創作研究所兼任助理教授等職。專長為紀錄片製作、短片創作等。 
                            p.def <b>紀錄片代表作品:</b><br>1.《回家》(Coming Home)
                            ul.def-list
                                li 金穗獎最佳紀錄片
                                li 金馬獎最佳紀錄片入圍
                                li 亞洲紀錄片雙年展入圍
                                li Margaret Mead Film &Video Festival 入選
                                li 臺灣法務部選為推動修復式正義(Restorative Justice)教材
                            p.def 2.《蘆葦之歌》(Song of the Reed)
                            ul.def-list
                                li 國際紀錄片金熊貓獎最具人文關懷獎
                                li 國際紀錄片金熊貓獎最佳紀錄長片入圍
                                li 國際臺灣女性影展最佳紀錄長片入圍
                                li 香港人權影展入選
                            p.def <b>電視紀錄片系列:</b><br>春暉影視<br>《臺灣作家身影 : 楊逵 / 賴和》<br>公視紀錄片<br>《文學風景 : 幾米 / 陳黎》<br>《台灣、荷蘭、鄭家軍》<br>《總統文化獎得主—陳玉峰》
                            p.def <b>實驗短片:</b><br>《水戲》(A Play In Water) 金穗獎最佳實驗短片、比利時布魯塞爾短片獎入選<br>《曠野中的耳語》(Whispers In Wilderness)美國密西根女性影展入選<br>《衝破迷網》(Chat Room)台灣教育部列為九年一貫的影像教材<br>《糖玻璃》 (Cream Cake )國際宜蘭兒童影展最佳劇情短片入圍
                -const pageBtn={'isBack':'teachers_list.html'};
                +pageBtnArea(pageBtn)
        //-內容
        include includes/footer